[2015-07-09 19:01] RebeccaCoelius commented on #129
@lippytak @ajw @daguar updates please! don't stress too much as these are happening at the end of staff mtg today to allow ample time for reorg Qs.

[2015-07-09 19:33] alanjosephwilliams commented on #129
- CDSS Deliverable #2
- "Utah Part Two" Next Week
- Setting ambitious goals for the Summit (1k Apps)?
- Alan is not yet automated, but progress continues.

[2015-07-09 19:38] RebeccaCoelius commented on #129
Rebecca at precision med event all day yesterday- they need our help
bringing local health leaders to the table. Not just genetics-
environmental too, AddressIQ good example.

On Thursday, July 9, 2015, Alan Joseph Williams <notifications@github.com>
wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://

[2015-07-10 23:14] lippytak opened #310 "Notes for Andy R meeting"

[2015-07-11 19:35] #310 closed

[2015-07-15 17:38] daguar opened #311 "Ask Marin about submitting docs later via C4"

[2015-07-15 23:59] lippytak opened #312 "Kill Clean (forward users to GCF)"
1. saws1 issue
2. SF FB + MEDA uses in August (aim for ~50 apps)
3. Join coalition meeting Sept to share
4. Change cleanassist landing page to redirect with explanation and contact info

limitations
- manual processing = delay. we aim for same biz day
- no MC
- but now we do ES :)
- don't support real time events (maybe try EOY)

[2015-07-16 00:00] #306 closed

[2015-07-16 01:09] lippytak opened #313 "List of things for the team while I'm on vaca"
- POC for all pilots (counties and FBs)
- GetCalFresh weekly data
- Remember Bing!

[2015-07-16 05:20] lippytak commented on #292
Hi Angela, Hi Kelley,

I'm out for the next couple weeks (on vacation!) so just wanted to give you a quick update on the pilot and make sure you had Alan's contact info (CC'd).

1) We're live in Solano! We've had 9 CalFresh applicants in Solano so far, including a couple homeless individuals and one family of 5. It's taken an average of about 13 minutes for these folks to apply for CalFresh (one p

[2015-07-16 05:30] lippytak commented on #301
Pilot update!

Hi Linda, Hi ,

I'm out for the next couple weeks (on vacation!) so just wanted to give you a quick update on the pilot and make sure you had Alan's contact info (CC'd).

1) We're live in Placer! We've had 5 CalFresh applicants in Placer so far, including a homeless family and a few individuals. It's taken an average of about 13 minutes for these folks to apply for CalFresh (a coupl

[2015-07-16 06:05] lippytak commented on #300
Hi Rebecca, Hi Vakil, Hi Kim,

I'm out for the next couple weeks (on vacation!) so just wanted to give you a quick update on the pilot and make sure you had Alan's contact info (CC'd).

1) After a bit of a delay I'm happy to report that WE'RE LIVE IN CONTRA COSTA! Woohoo! The Food Bank submitted 11 CalFresh applications this week, including helping out some pretty large families and a couple indiv

[2015-07-16 06:05] lippytak commented on #302
Need to ping Alexandra to make sure all is good and see if we can get started!

[2015-07-16 08:00] lippytak commented on #312
Here's what I'm thinking:
1. You all review GetCalFresh.org at your leisure
2. We figure out an outstanding SAWS1/SAWS2Plus issue with HSA (apparently some MBCW apps come through as SAWS-1s and this causes problems)
3. You all start using GetCalFresh.org when it makes sense for you and your clients
4. Once we're settled and feeling good, I can join a coalition meeting and share with the other orgs

[2015-07-16 16:06] alanjosephwilliams commented on #301
- Let's remind them when the pilot started, so they can map the numbers to the relevant timeframe.
- Maybe change "see if" to "see how" we change the website, since it is indeed inevitable and give them less of an out.

I'll respond, let them know to get in touch with any questions, give them my cell and offer to speak with anyone that will serve as the EW POC.

[2015-07-16 16:52] alanjosephwilliams commented on #300
same thoughts as bulleted in #301

[2015-07-16 16:53] alanjosephwilliams commented on #292
no additional thoughts beyond those left on #301

On Wed, Jul 15, 2015 at 10:20 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-07-16 19:02] RebeccaCoelius commented on #129
guessing this is me since you all are out, updates? @ajw @lippytak @daguar

[2015-07-16 19:25] RebeccaCoelius commented on #129
Last week has been a lot of going deeper in the matrix, excited to talk about concrete work in the coming weeks. So far we've been working with Nicole on scoping a health community/content position, I'll be joining Garrett/Matthew in outreach to Long Beach to begin more seriously considering further investment in AddressIQ.

Alameda County pilot to open up social services data, especially for vict

[2015-07-16 19:39] alanjosephwilliams commented on #129
Real work in Sonoma:
- Race to 1000 applications begins (by the Summit). It's on Ducksboard.
- We are now submitting only automated applications in our partner counties.
- Food Bank in Contra Costa used GetCalFresh yesterday to enroll people in line at WIC.
- Jake or Caroline should read something from the new "Feels" issue

[2015-07-17 15:00] lippytak commented on #312
Updated steps above. They want to use for the month of August + MEDA, then roll out to other CBOs probably in late Aug early Sept. Sounds good to me!

[2015-07-17 18:32] lippytak opened #314 "FU w/ Jennifer about Bing credits"
We're going to have a big need in ~month.

[2015-07-17 19:16] lippytak commented on #313
for now:
![screen shot 2015-07-17 at 12 16 01 pm](https://cloud.githubusercontent.com/assets/2533112/8755165/b1394f3a-2c7d-11e5-82fb-88daab7fe49c.png)

[2015-07-20 23:10] lippytak commented on #313
We'll review ads and weekly data in sprint plan.

[2015-07-20 23:10] #313 closed

[2015-07-20 23:11] lippytak commented on #312
Then plan
1. Food bank reviews
2. Start using in August + MEDA
3. Present to Coalition in ~Sept
4. Forward link from CleanAssist.org

[2015-07-20 23:12] lippytak commented on #311
Also owe them a pilot update email which I'll do today

[2015-07-21 18:58] alanjosephwilliams opened #315 "UXPA Magazine Proposal"
Proposal due August 3

![image](https://cloud.githubusercontent.com/assets/2983464/8809811/c0e98a74-2f9f-11e5-9750-565bf61919a5.png)

http://uxpamagazine.org/information-for-authors/

[2015-07-22 06:02] alanjosephwilliams commented on #315
Some thoughts to consider when crafting an outline:
- Limited computer access isn't jsut about connectivity, its also about smartphone-dependency.
- Data limits are a real design constraint—no big photos, javascript, etc.
- Text messaging is an effective way to reach audiences. Conversational, disarming, and accessible language is important.
- Designing in government means designing for everyone;

[2015-07-22 17:41] alanjosephwilliams commented on #295
Let's close this issue for now since we've paused the solicitation, and aren't certain we will turn it back on. If we decide to re-open solicitation, we can pop open a new issue .

[2015-07-22 17:41] #295 closed

[2015-07-23 17:14] daguar commented on #129
My turn, hit me up with updates!

[2015-07-23 19:59] alanjosephwilliams commented on #129
Race to 1000: We're at 259
Federal Gov't to Health Team: "You're not wrong"
Caroline is going to stay with us through the fall (our woman on the ground in the inland empire)
Jake is down under
---
"I am homeless staying at youth shelter trying to go back to school and hopefully find a job very soon and a stable life and a drug free life. and I don't have id card or birth certificate"
"My husband j

[2015-07-23 20:11] RebeccaCoelius commented on #129
Rebecca is in jury duty. =(

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Thu, Jul 23, 2015 at 12:59 PM, Alan Joseph Williams <
notifications@github.com> wrote:

[2015-07-28 18:27] alanjosephwilliams commented on #314
We've asked, and Jennifer Childs is taking point on this. I've updated the issue name to reflect the need to follow up about it in about ~week.

[2015-07-28 18:37] alanjosephwilliams commented on #294
@daguar this was opened a month ago, perhaps we should close?

[2015-07-30 18:11] RebeccaCoelius opened #316 "Buy backup glasses"

[2015-08-01 21:29] alanjosephwilliams opened #317 "Brainstorm handout for CfA Summit"
- Definitely just a "nice to have"
- The goal would be to control our narrative more completely—codifying our talking points about the problem, our values and approach & encouraging others to take similar action in back their own states.

[2015-08-02 03:05] alanjosephwilliams commented on #290
There are specific county onboarding issues that are open and mature, so I'lm closing this.

[2015-08-02 03:05] #290 closed

[2015-08-02 03:06] alanjosephwilliams commented on #258
We shipped this! It was fun and well received.

[2015-08-02 03:06] #258 closed

[2015-08-03 23:36] lippytak commented on #311
@alanjosephwilliams I think you called Marin while in Sonoma? Did EWs have an answer here?

[2015-08-04 00:20] lippytak opened #318 "Email backlog"

[2015-08-04 00:21] lippytak opened #319 "Full pass on outcomes"

[2015-08-04 00:21] lippytak opened #320 "Bug all counties"
- case tracking
- talk to EWs
- MBCW biz process for new docs

[2015-08-04 00:23] lippytak opened #321 "Plan CDSS deliv"

[2015-08-04 15:33] lippytak opened #322 "DC tickets/hotel (for Dave)"

[2015-08-05 17:55] lippytak opened #323 "Check/increase/optimize ads"

[2015-08-05 20:55] #323 closed

[2015-08-05 22:18] lippytak commented on #318
![screen shot 2015-08-05 at 3 17 29 pm](https://cloud.githubusercontent.com/assets/2533112/9099401/3fbf2688-3b85-11e5-8a41-e02ec90c436c.png)

[2015-08-05 22:48] daguar commented on #318
<img width="588" alt="screen shot 2015-08-05 at 3 48 19 pm" src="https://cloud.githubusercontent.com/assets/994938/9099840/6fa6cd84-3b89-11e5-8dc3-0517beec0792.png">

[2015-08-05 23:35] alanjosephwilliams commented on #322
book for all of us!

[2015-08-06 00:02] lippytak commented on #319
We have 80 cases with no outcome data that are 40+ days old. I'm going to contact all of them. Will draft text here. We can do a double pass with LA IVR + use aggregate stats for C4 folks who don't respond.

[2015-08-06 00:16] lippytak commented on #319
- Initial text messages

Hi, this is Jacob from GetCalFresh.org! You applied for CalFresh a couple months ago and we have one important question: Did you get approved for CalFresh?

Reply directly to this message and we'll text you a $5 Amazon gift code! And as always, let us know if we can help you get CalFresh. Thank you!

- Response if they reply with outcomes

Thank you! Your $5 Amazon code is

[2015-08-06 00:21] lippytak commented on #319
- Initial email

Hi! This is Jacob from GetCalFresh.org. You applied for CalFresh a couple months ago and we just have one important question for you:

**Did you get approved for CalFresh?**

Reply directly to this message and we'll send you a **$5 Amazon gift code**! And as always, please let us know if you have any questions about CalFresh.

Best,
Jacob and the GetCalFresh Team

- Response if th

[2015-08-06 00:22] lippytak commented on #319
@alanjosephwilliams @daguar take a quick look at ^ and LMK if you have any edits. I'm going to get all these out tomorrow.

[2015-08-06 00:25] alanjosephwilliams commented on #319
I think it reads really well. However—I strongly recommend batching the messages. I anticipate a not-insignificant support load to come with the responses.

[2015-08-06 00:27] lippytak commented on #319
Great point will do

On Wednesday, August 5, 2015, Alan Joseph Williams <notifications@github.com>
wrote:

[2015-08-06 15:24] daguar commented on #322
Hold on the booking for me — I may want to stop somewhere else on the East Coast before or after.

[2015-08-06 15:27] daguar commented on #323
Any BLUF here? All good?

[2015-08-06 17:38] alanjosephwilliams commented on #323
Slack'd the update yesterday: we turned on Kern, Monterey and San Joaquin. SB & Riverside are off for now...though we should check our volume during Front Up :)

[2015-08-06 18:16] alanjosephwilliams commented on #315
Proposal submitted!

[2015-08-06 18:17] #315 closed

[2015-08-07 16:50] lippytak commented on #319
All email/sms outcomes for folks who applied 40+ days ago. Now...we wait!

[2015-08-07 17:03] daguar commented on #319
:+1: Sorry didn't catch the review ping here! But looks good to me.

[2015-08-07 22:35] lippytak opened #324 "Move stuff to CfA credit card"
Hello fax
cancel pingometer
typeform
there are others...

[2015-08-07 23:27] lippytak opened #325 "Consider doing user research public to counties/advocates"
Maybe use google forms and invite specific people to the spreadsheet. I'd like for counties and advocates to see the content of our user interviews...

[2015-08-08 22:45] lippytak opened #326 "Schedule FU with Andy R"

[2015-08-09 00:13] #324 closed

[2015-08-09 00:13] lippytak commented on #324
Everything but Bing and waiting on Pingometer downgrade/pause email response.

[2015-08-10 16:55] daguar commented on #325
As long as we have client consent I like this.

[2015-08-10 17:45] lippytak commented on #319
Current C4 stats:
35 pending
14 denied
14 active

[2015-08-10 17:49] alanjosephwilliams commented on #325
Form:
http://bit.ly/gcf-interview

Results:
http://bit.ly/gcf-interview-results

[2015-08-10 17:57] lippytak commented on #319
Last step: Look through CalWIN read for all SF cases.

[2015-08-11 00:30] #141 closed

[2015-08-11 00:37] #316 closed

[2015-08-11 19:45] lippytak commented on #319
Done! 50% avg in SF and C4. Lots of 'not eligible' in SF.

~53% avg overall including self-report.

Had a ~30% response rate with $5 incentive.

[2015-08-11 19:45] #319 closed

[2015-08-11 19:49] daguar commented on #319
Do we have common reasons for the ineligible?

[2015-08-11 21:29] lippytak commented on #319
Have very limited data on denial reasons (mostly from SF):

case determination	determination date	denial reason	denial notes
denied		verification	CH: I didn't have time between work and school to get everything turned in on time
denied	interview	Missed phone interview. Never called to reschedule.
denied		interview	4 Calls no answer
denied		interview
denied		interview
denied		interview
denied		inte

[2015-08-12 15:25] daguar commented on #282
http://investorplace.com/2015/06/egg-shortage-mcdonalds-mcd/

[2015-08-12 15:30] lippytak commented on #282
Adding 'help wanted' to see if the broader network can support.

[2015-08-12 18:58] lippytak commented on #322
@daguar forwarded you the itinerary. Do as you please!

[2015-08-12 22:49] lippytak commented on #326
Email sent! Will boomerang until it happens.

[2015-08-12 22:49] #326 closed

[2015-08-13 16:45] daguar commented on #322
Reopening for myself

[2015-08-13 16:48] daguar commented on #129
@lippytak did this last week — who's up this one?

[2015-08-13 18:00] RebeccaCoelius commented on #129
Dave or Alan! I might be late due to a lunch w/ the Director candidate.

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Thu, Aug 13, 2015 at 9:48 AM, Dave Guarino <notifications@github.com>
wrote:

[2015-08-13 19:59] alanjosephwilliams commented on #129
I'll do it. Lay the updates on me

[2015-08-13 20:08] lippytak commented on #129
The good: "I've been very pleasantly surprised at the fact that it was not
an ordeal. I was braced for that....what surprised me was that it was a
pleasant process as opposed to being a bummer."

The bad: "I currently live in a friend's garage, I have my own fridge and
supply my own food and beverage. I have a 98$ storage bill every month so
eating is kinda last on my plate. I do labor work when i

[2015-08-13 20:19] alanjosephwilliams commented on #129
Good enough for me. Maybe also that we are cautiously stoked about hiring a new Director? and that we are stoked about Nicole's work recruiting great content & community candidates.

[2015-08-13 22:28] lippytak opened #327 "Setup pipeline for county sales/onboarding"
v1 can be a spreadsheet

[2015-08-14 00:05] lippytak opened #328 "Vakil convo FU"
1. Stop unassisted apps
2. Send Vakil spreadsheet
3. Apology tour
- Caitlin
- Cathy
- Roxanne
- Rebecca
4. Postmortem email to CCC staff

[2015-08-14 00:47] lippytak opened #329 "One pager + materials to Jenny"

[2015-08-16 20:16] daguar opened #330 "Buy khakis"
Possible Levi's Commuters, per @bsmithgall

[2015-08-16 20:27] bsmithgall commented on #330
1. Khaki is a color.

2. Other good chino options include:

+ Docker's Alphas
+ Bonobos Chinos
+ Uniqlo Slim-straight pants

[2015-08-16 20:31] alanjosephwilliams commented on #330
+1 to Commuters

On Sun, Aug 16, 2015 at 1:16 PM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-08-17 04:45] #322 closed

[2015-08-17 04:45] daguar commented on #322
Done for me

[2015-08-17 04:58] daguar commented on #322
Do we have a place to stay yet? Should I plan on getting one?

[2015-08-17 14:48] lippytak opened #331 "DC AirBnB"

[2015-08-17 15:07] lippytak opened #332 "Setup craigslist ads"
For GCF

[2015-08-17 15:29] lippytak opened #333 "Prep DC presentation"

[2015-08-17 15:29] lippytak opened #334 "Prep FB presentation"

[2015-08-17 15:42] lippytak opened #335 "Email to Jenny M for TCE intro"

[2015-08-17 17:25] #325 closed

[2015-08-17 18:05] lippytak commented on #320
Just did quick update and pleading for case tracking for now...really no time to talk to EWs in next 2 weeks so I'll plan to reach out when we get back from DC for that.

Realized that MBCW already allowed clients to submit docs later (if they created an account) so I'm suddenly much less worried about the new CBO portal feature as it's probably the same exact process on the backend. I'll confirm

[2015-08-17 18:05] #320 closed

[2015-08-17 18:05] lippytak commented on #328
Sent Vakil info but leaving open until Apology Tour is complete

[2015-08-17 18:07] alanjosephwilliams opened #336 "UXPA Draft Due Sept 14"
Editorial Guidelines:
http://uxpamagazine.org/editorial-guidelines/

[2015-08-18 17:58] #335 closed

[2015-08-18 18:12] lippytak commented on #328
Cassie apology shipped!

[2015-08-19 16:02] lippytak opened #337 "What does the MBCW mobile app actually do?"
Nobody knows!

@carolinehays shall figure it out and report back!

[2015-08-19 16:14] #282 closed

[2015-08-19 20:46] lippytak commented on #331
AC + hottub plz

[2015-08-19 21:25] lippytak commented on #329
Sent. Now waiting for her to shop around with Butte and get back to me.

[2015-08-19 21:25] #329 closed

[2015-08-19 22:18] daguar commented on #331
Booking request sent for https://www.airbnb.com/rooms/6317776?checkin=08%2F23%2F2015&checkout=08%2F26%2F2015&guests=3&s=Kpm2

[2015-08-20 17:11] RebeccaCoelius commented on #129
@daguar I think its your turn?

My updates:
-  We have our leading Health Director candidate coming in for finalist interviews next Tuesday. Thanks so those of you who have agreed to participate. We have several more great candidates still working through the process, but please continue to share out this opportunity!

-  Jenny and I have been working with Luke on bringing a second '16 Health Fell

[2015-08-20 17:20] daguar commented on #129
I am not sure if we'll be back from the FB at 1 so can someone take it as backup?

[2015-08-20 17:25] RebeccaCoelius commented on #129
I can do back up but plz still add updates

On Thursday, August 20, 2015, Dave Guarino <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-08-20 17:39] lippytak commented on #129
- Over 600 apps
- dc next week (White House and fns)
- two awesome inbounds via live chat (San Diego!!)
- **lots of good quotes in the 'feels' issue toconsider**

On Thursday, August 20, 2015, Rebecca Coelius <notifications@github.com>
wrote:

[2015-08-20 17:52] RebeccaCoelius commented on #129
Plz add more context re the live chat thing? I saw that SD is now our
friend, don't get the chat part be I was out.

On Thursday, August 20, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-08-21 02:22] alanjosephwilliams opened #338 "Q4 OKRs"
Per Cyd's request, when she returned from vacay. Makes sense to turn to after we present a budget to Jen et al.

Should probably include:
- "The Great Q4 Flight to Quality" aka focus on product after the Race to 1000 ends
- Fun as hell research on the EW side in SF, San Diego, et al
- Begin hiring process to try to land 1st hire by Q1
- Prepping for jurisdictional expansion in Q1

[2015-08-21 15:06] #333 closed

[2015-08-21 15:06] #334 closed

[2015-08-21 16:53] daguar commented on #331
Blech they haven't gotten back to me yet

[2015-08-24 22:54] #307 closed

[2015-08-24 22:55] #314 closed

[2015-08-24 22:55] lippytak commented on #314
Pinged today. She's on it. No big news but it seems harder than she initially expected (lameee)

[2015-08-24 22:56] #198 closed

[2015-08-24 22:56] lippytak commented on #223
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:56] #223 closed

[2015-08-24 22:56] lippytak commented on #242
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:56] #242 closed

[2015-08-24 22:56] lippytak commented on #225
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:56] #225 closed

[2015-08-24 22:56] lippytak commented on #243
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:56] #243 closed

[2015-08-24 22:57] lippytak commented on #257
SF Food Bank leading the way on this. Will provide support to them as helpful!

[2015-08-24 22:57] #257 closed

[2015-08-24 22:59] lippytak commented on #208
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:59] #208 closed

[2015-08-24 22:59] lippytak commented on #156
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:59] #156 closed

[2015-08-24 22:59] lippytak commented on #159
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:59] #159 closed

[2015-08-24 22:59] lippytak commented on #188
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 22:59] #188 closed

[2015-08-24 22:59] #182 closed

[2015-08-24 23:00] #302 closed

[2015-08-24 23:00] #300 closed

[2015-08-24 23:00] #301 closed

[2015-08-24 23:00] #292 closed

[2015-08-24 23:00] lippytak commented on #139
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 23:00] #139 closed

[2015-08-24 23:00] lippytak commented on #155
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 23:00] #155 closed

[2015-08-24 23:00] lippytak commented on #153
Cleaaaaanup! Feel free to re-open if it's still relevant.

[2015-08-24 23:00] #153 closed

[2015-08-24 23:01] lippytak commented on #328
Pinged Vakil again today...will ping again Wed (ARGH!)

[2015-08-25 16:58] #318 closed

[2015-08-25 17:00] lippytak commented on #206
Deleted repo with PII. No longer necessary.

[2015-08-25 17:38] daguar commented on #206
So, fair, but this is also really quick to set up and a good idea generally so can we do it still?

[2015-08-25 17:39] lippytak commented on #206
Fine but later! My phone dies all the time so can't rely on SMS verification.

[2015-08-25 17:40] daguar commented on #206
You should only have to do it every once in a while on your main computer; you can also save your backup passwords in another place if you need.

[2015-08-25 17:41] daguar commented on #206
I am going to consistently push on low-effort, high-return security measures — this takes maybe 5 mins max.

[2015-08-25 17:57] lippytak commented on #206
![screen shot 2015-08-25 at 10 56 40 am](https://cloud.githubusercontent.com/assets/2533112/9474884/06268644-4b18-11e5-99d5-ac50418b9b1a.png)

[2015-08-25 17:57] #206 closed

[2015-08-25 20:23] lippytak commented on #328
Turns out nobody really cares...Food Bank is happy enough and I've had lots of conversations with Vakil since then so closing this.

[2015-08-25 20:23] #328 closed

[2015-08-26 16:38] lippytak opened #339 "(Defunct) Upgrade from Cedar-10 to Cedar-14"
[ALL OUR APPS]

To migrate an app, run the following commands:

[code]

Details: https://devcenter.heroku.com/articles/cedar-14-migration

[2015-08-26 17:24] lippytak opened #340 "PII stamp failed on docs"
See `--docsid 1075 --clientid 4087`

Successfully did cover page and combined docs, but none of the pages got stamped. Lots of warnings copied below.

======

Combining documents to a single pdf...
   **** Warning:  File has an invalid xref entry:  2.  Rebuilding xref table.
   **** Warning: stream operator isn't terminated by valid EOL.
   **** Warning: stream operator isn't terminated by valid E

[2015-08-26 19:45] daguar commented on #340
Is this happening consistently? Or is this a one-off?

[2015-08-26 20:44] lippytak commented on #340
One off, sorry should have specified. Will add detail if it happens again. Not a high priority.

[2015-08-26 21:04] lippytak commented on #340
Happened again but without any warnings on `/sawsdriver processdocs --docsid 1096 --clientid 4130`

[2015-08-26 21:13] daguar commented on #340
Are they PDFs? We don't currently have a good way to stamp PDFs.

[2015-08-27 19:05] carolinehays commented on #337
Quick feature list, see google prez for screenshots and commentary.

1. Make an account through messy mobile adaption of mybenefitscalwin.org (lots of horizontal scrolling required)
2. Check your CalFresh and cash balance
* see CalFresh past transactions (last 30 days)
see payments into account w/ date available
see if a reporting form is due this month

[2015-08-27 19:13] carolinehays commented on #337
Quick feature list of the "My Benefits" tab, see google prez for screenshots and commentary.

1. Make an account through messy mobile adaption of mybenefitscalwin.org (lots of horizontal scrolling required)
2.See case status
3. Check your CalFresh and cash balance
  * see CalFresh past transactions (last 30 days)
  * see payments into account and date available
  * see "reporting" - seems to be fo

[2015-08-27 22:04] lippytak opened #341 "Send Jeff things"
- CBO doc upload screenshot
- CBO portal data screenshot
- Demo link

[2015-08-28 02:16] lippytak opened #342 "Review rev team health one pager"

[2015-08-28 02:30] lippytak opened #343 "Plan Dinner"

[2015-08-28 02:43] lippytak commented on #337
@carolinehays awesome. Can you link to the google deck here?

[2015-08-28 03:21] lippytak commented on #337
Nevermind I'm dumb: https://docs.google.com/presentation/d/150wlKqxMZzqdBHXMRc3MsnI6P76_PVKdky-eHsin6sU/edit

[2015-08-28 03:23] lippytak commented on #337
OH BURN!

![screen shot 2015-08-27 at 8 23 07 pm](https://cloud.githubusercontent.com/assets/2533112/9538445/74d07234-4cf9-11e5-8d78-ab3776802ead.png)

[2015-08-28 03:24] lippytak commented on #337
WUT.

![screen shot 2015-08-27 at 8 23 43 pm](https://cloud.githubusercontent.com/assets/2533112/9538453/8bba4970-4cf9-11e5-92c7-5af83d249ca5.png)

[2015-08-28 03:25] lippytak commented on #337
Okay that was fun. Highly recommended journey.

[2015-08-28 17:36] #341 closed

[2015-08-28 20:28] #342 closed

[2015-08-30 20:19] alanjosephwilliams commented on #337
Great work @carolinehays!

On Thu, Aug 27, 2015 at 8:25 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-08-30 22:06] daguar commented on #337
Super well done @carolinehays.

@lippytak — Let's maybe package this up and send to all our core partners/contacts? Highly doubt any of them have seen this, and it would be a nice way to give _them_ some value and feel-goodness.

[2015-08-31 19:55] #311 closed

[2015-08-31 19:55] lippytak commented on #311
Subsumed in EW interview guide

[2015-08-31 19:56] #343 closed

[2015-08-31 19:56] #337 closed

[2015-08-31 20:12] #294 closed

[2015-08-31 20:12] daguar commented on #294
Not doing right now

[2015-08-31 21:50] lippytak opened #344 "EWX research"
Draft: https://github.com/codeforamerica/health-notes/issues/36

Interview 2 EWs in every partner county.

Some goals:
- Understand how GCF apps are being processed now
- Understand their needs for potential product changes
- Satisfy CDSS deliv

[2015-08-31 21:50] lippytak opened #345 "Investor letter"
(stakeholder update)
- update outcomes first

[2015-08-31 21:59] alanjosephwilliams commented on #317
Do Less.

[2015-08-31 21:59] #317 closed

[2015-08-31 23:22] daguar opened #346 "Phonopticon"

[2015-09-01 01:03] lippytak opened #347 "Prep Leo/Tiana update"

[2015-09-01 01:03] lippytak opened #348 "Prep Andy R meeting"

[2015-09-01 01:08] lippytak opened #349 "Start SD pilot"

[2015-09-01 02:07] lippytak opened #350 "Deal w CCC"
No outcomes. Flying in the dark. Not okay. Will call Rebecca D this week and be really nice OR mean depending on my mood. (And also ask to talk to 2 EWs)

[2015-09-01 17:16] lippytak opened #351 "Send conf data to CDSS"

[2015-09-01 17:48] lippytak commented on #345
- Summary of outcomes
- Funnel
- Quotes
- Problems (saws 1/2)
- mo' cases mo' places
- connecting with advocates
- how MBCW works
- link to public user interviews!

[2015-09-02 02:17] daguar commented on #345
I assume the "how MBCW works" is @carolinehays's sweet walkthrough of the MBCW stuff but if not, let's add that!

[2015-09-02 23:03] lippytak commented on #348
FUs:
- Ask for C4 screenshots
- Ask for meeting with
- Setup call with Washington state
- Make site federally compliant(ish)...and update Andy on progress
-

[2015-09-03 01:55] lippytak commented on #347
and FUd. Done!

[2015-09-03 01:55] #347 closed

[2015-09-03 02:23] lippytak commented on #348
DONEE

[2015-09-03 02:23] #348 closed

[2015-09-03 18:59] lippytak commented on #345
Dumping ground
===

The Numbers
- Nearing 800 applications submitted through GetCalFresh.org
- 60% approval rate
- Avg of 11 mins
- About 1/3 on mobile devices (phones or tablets)
- About 2/3 of applicants submit verification docs through GetCalFresh.org
- 40% of denials are due to the client not being eligible (mostly over net income), 35% were due to missed interviews, and 25% were due to missin

[2015-09-03 19:37] RebeccaCoelius commented on #129
@daguar turn!

- Thanks to those who have interviewed Director of HHS candidates this past week. While there is one in particular we are pretty excited about, please still consider this open and tell the world!

(lots of transition/handoff stuff that I do think is worth discussing in staff meeting)

[2015-09-03 19:39] alanjosephwilliams commented on #129
- Over 750 apps!
- Now, the "Flight to Quality"
- Hiring in motion on Content & Community, too. Big ups to Nicole!

[2015-09-03 19:42] RebeccaCoelius commented on #129
from @lippytak

Update! Nearing 800, on track to hit 1l goal. 60% approval slowly on the rise. Tell about uncovering the Documentation Devil. Tell about #govwins on Leo digging not into on demand interviews

[2015-09-03 22:53] lippytak opened #352 "Test if C4 sends app information to primary email address"
DG you mind taking this one? Also happy to do it but hopefully we can do it soon before we submit anymore C4 apps!

[2015-09-04 22:03] lippytak opened #353 "Send Rick some security info stuff"

[2015-09-04 22:05] lippytak opened #354 "Process food bank feedback"
- Very quick
- No big problems
- Don't know which questions are about ES
- Contra Costa migrant farm worker
- Estimated medical expenses....
- Do people get ES?
- Questions flowed all
- Bernal Heights Neighborhood center = get their own ID
- Have BCW account but don't use it
- Laura of MEDA loves Clean >
- Confirmation for YOU
- Check consent from text messages and what messages CalWIN
- Question

[2015-09-04 22:41] lippytak opened #355 "Get County into GCF spreadsheet"
So we don't make county mistakes

[2015-09-05 20:47] lippytak opened #356 "Consider moving from getdrip > intercom or mailchimp"
Intercom now supports Auto Messages: http://docs.intercom.io/faqs/what-are-auto-messages (you can do drip campaigns)

You can add users via API https://doc.intercom.io/api/#users

Intercom has much better security (http://docs.intercom.io/FAQs/security-at-intercom) than getdrip (https://www.getdrip.com/privacy)

And obviously Intercom is going to get better faster than getdrip.

[2015-09-05 21:01] #353 closed

[2015-09-05 21:11] lippytak commented on #345
**Numbers**
- We're nearing 800 applications submitted through GetCalFresh.org with a 60% approval rate
- Applicants are taking an average of 11 minutes to submit an application and about 1/3 of applicants are on mobile devices
- About 2/3 of applicants submit documents through GetCalFresh.org
- 40% of denials are due to the client not being eligible (mostly over net income), 35% were due to misse

[2015-09-05 21:46] lippytak commented on #356
Or mailchimp http://kb.mailchimp.com/automation/getting-started-with-automation?utm_source=mc-support&utm_medium=eepurl&utm_campaign=automation

[2015-09-05 23:55] lippytak commented on #312
Ready to transition everyone!

[2015-09-06 18:29] lippytak opened #357 "Guide to interview Will L during summit"
- Intro
- Questions/topics
- Review with Will/priorities for him
- If/how to do audience questions

FYI @daguar @alanjosephwilliams instead of a solo presentation I'm going to interview him. Would love to brainstorm good questions/topics in the next couple weeks.

[2015-09-06 18:53] lippytak opened #358 "Specify which questions are for ES"
For example, before asking the income/resources questions, say what ES is and why we're asking these Qs.

This would satisfy:
- Food Bank/CBO request (not exactly sure how I trigger ES)
- Fed compliance

However, I'm not sure introducing this concept helps clients since we're making the opinionated decision for them (as we should). Let's discuss.

[2015-09-06 18:56] lippytak commented on #358
Wrong repo

[2015-09-06 18:56] #358 closed

[2015-09-06 18:59] lippytak commented on #354
Issues:
- Specify which questions are ES https://github.com/codeforamerica/getcalfresh.org/issues/245
- More than 4 IDs https://github.com/codeforamerica/getcalfresh.org/issues/244
- Transition MEDA Clean > GCF https://github.com/codeforamerica/health/issues/312

[2015-09-06 18:59] #354 closed

[2015-09-06 19:13] lippytak commented on #312
Pinged MEDA

[2015-09-06 19:58] #351 closed

[2015-09-06 20:51] alanjosephwilliams commented on #354
Love this so much:

"Feels like you're playing a game whereas MBCW feels like actual work."

On Sun, Sep 6, 2015 at 2:59 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-09-07 18:32] lippytak commented on #345
Done with all county/external peeps

[2015-09-07 18:33] lippytak commented on #345
Done with county/external folk. Going to writeup health-notes and call it done.

[2015-09-07 18:37] lippytak commented on #332
http://sfbay.craigslist.org/sfc/dmg/5210456612.html

[2015-09-07 20:49] #345 closed

[2015-09-08 18:26] lippytak opened #359 "Funder pitch deck"

[2015-09-08 19:09] lippytak opened #360 "Senior staff mtg slides"

[2015-09-08 19:09] lippytak opened #361 "Marin meeting notes"

[2015-09-10 16:06] #233 closed

[2015-09-10 16:06] lippytak commented on #233
already doin it, just not so much over lunch

[2015-09-10 16:57] daguar commented on #331
Have we heard back at all on timing of Oct DC trip?

[2015-09-10 18:15] daguar commented on #129
A few for today:

- Client quote: "thank you I have never applied for anything with the Gov so this was TRULLY a blessing"
- We've surfaced that in one county, some workers were mailing clients paper applications and asking them to fill the whole thing out — armed with this data, we informed the Director (who didn't know) and she has said this will no longer happen (not just for our cases — for al

[2015-09-10 18:26] RebeccaCoelius commented on #129
- ST update
- grinch transfer
- Rev team/health pipeline, Greg Johns budgeting
- thank you's

[2015-09-10 18:28] daguar commented on #129
- Tears

[2015-09-11 23:47] lippytak opened #362 "Harden getcalfresh4 C4 acct and update in credentials doc"

[2015-09-12 20:43] lippytak opened #363 "Send test e-app to Anjurle"
- Screenshots of root questions
- Does data come through?
- Check 'other income'
- Do docs come through? When

[2015-09-12 20:49] lippytak opened #364 "Plan Noelle/Trent brief"
But think through MC stuff first...

[2015-09-12 21:49] lippytak commented on #331
No and honestly I don’t want to go if we’re the ones pushing it. Getting pulled
is different and puts us in a different position. What do you all think?

On Thu, Sep 10, 2015 at 9:57 AM, Dave Guarino < notifications@github.com > wrote:
Have we heard back at all on timing of Oct DC trip?

—
Reply to this email directly or view it on GitHub .

[2015-09-12 21:53] lippytak opened #365 "Get screenshots of a Marin app in C4"
- Dherreea@marin
- Send her two e-app #s
- Did the data come through?
- Docs come through?
- Screenshots? What more would be helpful to have?

[2015-09-14 21:19] daguar commented on #331
I concur — I'd check in with @jennymt on this, but then I'd like to be able to cancel.

[2015-09-14 21:23] #362 closed

[2015-09-14 21:24] daguar commented on #362
Done

[2015-09-14 23:26] davidrleonard commented on #331
Hmm, how'd I get on this? Enjoy your hot tub.

[2015-09-15 00:16] daguar commented on #331
@davidrleonard I think you were accidentally assigned at some point. Don't worry about this, though you're always welcome in the hot tub.

[2015-09-15 21:24] lippytak opened #366 "Ask Victor about signature biz process"
saws 1 / saws 2 triggers same QC business process

[2015-09-15 21:29] lippytak opened #367 "Integrity of SOFs"
What "affects the integrity of the statement of facts" https://www.sccgov.org/ssa/foods/fschap17.pdf

[2015-09-15 21:52] #360 closed

[2015-09-16 16:10] lippytak opened #368 "Writeup CWDA response to concerns"

[2015-09-16 16:12] lippytak commented on #368
oops duplicate

[2015-09-16 16:12] #368 closed

[2015-09-16 16:14] lippytak commented on #365
Incorporating into https://github.com/codeforamerica/health/issues/363

[2015-09-16 16:14] #365 closed

[2015-09-16 16:18] lippytak opened #369 "Printable barriers report to Kim"
+ questions/schedule call
- Update on GetCalFresh.org
- Pay per approved app
- ELE extended?
- What's most important for operational survey?
- SAWS 1/2PLUS

[2015-09-16 22:12] alanjosephwilliams opened #370 "Send Content & Comm Position to SNAP Listserv"

[2015-09-16 23:01] lippytak commented on #370
Tweet at food banks, FRAC, etc.

[2015-09-16 23:08] #369 closed

[2015-09-16 23:08] #366 closed

[2015-09-17 17:21] lippytak opened #371 "Summit presentation"
Assets
- [ ] Screenshot or GIF of Balance
- [ ] Screenshot or GIF EBTNM
- [ ] Screenshot or GIF of the GCF Homepage (Desktop, with photo)
- [ ] Screenshot or GIF, uploading Docs from a phone
- [ ] Screenshot: Timeout on MBCW
- [ ] Screenshot: MBCW or C4 on Mobile
- [ ] Icon that can be repeated for 50 People on a single slide
- [ ] GIF or Screenshot of GCF live support

Things to make:
- [ ] Image

[2015-09-17 17:29] lippytak commented on #129
- ST verbal accept
- Stakeholder explosion, into threatened vendor plasma layer
- 1K IS GOING TO BE CLOSE!!

[2015-09-17 17:33] lippytak commented on #129
Didn't get FNS grant :(

[2015-09-17 18:14] lippytak commented on #363
Email sent

[2015-09-17 18:45] lippytak commented on #361
https://github.com/codeforamerica/health-notes/issues/41

[2015-09-17 18:45] #361 closed

[2015-09-20 02:27] alanjosephwilliams commented on #336
First draft submitted this week. Will workshop with an editor during the next few weeks.

[2015-09-20 02:27] #336 closed

[2015-09-21 17:21] lippytak commented on #357
Starting brainstorm
===

- Intro/bg
  - HSA director SF, Santa Cruz, Santa Clara
  - Director Catholic Charities in SF
  - Summarize programs/impact and what they did in 2014
  - There is no more important job in California

- Why are you here? What do you see in this community and this work? What do you hope will happen?
  - Begin story
  - You and Trent Rhorer...0 from social services just a cou

[2015-09-21 17:37] MatthewLoveless commented on #357
Failed gov it projects:
LA USD Student Information System: http://www.latimes.com/local/education/la-me-lausd-software-20141012-story.html
Cover Oregon: https://en.wikipedia.org/wiki/Cover_Oregon

[2015-09-21 18:05] lippytak commented on #357
https://twitter.com/niki_virani/status/646020754702602240

[2015-09-21 18:10] lippytak commented on #371
NOTES!
===
BIG US GOV IT FAILURES
- DMV
- VA
-

POLICY DELIV GAP
- SNAP
- Prop 47
-

THE REAL COST (what it could be)
- Foster care
- SNAP comes to you. No more "applications." Truly automatic stabilizers.
- Open source eligibility
-

"The poorer the person, the more he or she is likely to be the non voluntary client of not one but several street-level bureaucracies"

Our role: We are witness to c

[2015-09-21 18:17] lippytak commented on #371
http://mikebracken.com/blog/the-strategy-is-delivery-again/

"But in the case of public service provision, it is too often a completely closed loop, the ultimate insider job."

"Delivery based on user need is like kryptonite to policy makers and existing suppliers, as it creates rapid feedback loops and mitigates against vendor lock-in."

[2015-09-21 18:18] lippytak commented on #371
User needs are the fulcrum.

![screen shot 2015-09-21 at 11 16 01 am](https://cloud.githubusercontent.com/assets/2533112/10000667/72675794-6052-11e5-9ae3-db134d34435a.png)

[2015-09-21 18:48] lippytak commented on #371
Big fails
- In 2007, DMV hired blablabla to build blablabla. After X years and Y dollars. They gave up.
- In 2010, VA hired bilabial to build blablabla. After X years and Y dollars they gave up.
- [ONRE MORE]
$XB is a lot of money. But that's not the cost.

This isn't the cost. The true cost is the missed opportunity to do the digital transformation of government services.
- SNAP that happens auto

[2015-09-22 15:47] lippytak commented on #371
Users bear the burden when navigating gov services. Especially the poor, the young, the old, the disabled, the undocumented, the vulnerable.

[2015-09-22 16:12] lippytak opened #372 "Prep for Sonoma visit"

[2015-09-22 17:01] lippytak commented on #357
1) Why are you here today?
What did you see in this community and this work that resonated with you and where do you hope it will go in the future?

2) What do you see as the biggest opportunities for better government digital services in the next 5-10 years?
What would a digital-first social service program look like? What are you/CDSS doing to get there? Feel free to pull 1-2 examples from the C

[2015-09-22 17:02] lippytak opened #373 "Prep for Sonoma"

[2015-09-22 17:02] #373 closed

[2015-09-22 17:29] lippytak commented on #371
We're missing a huge opportunity.

We're still implementing instead of delivering.

Implementing is a phase. Delivering is a process.

Delivery = the continual process of understanding & addressing user needs.

[2015-09-23 00:51] lippytak commented on #372
Going to make some minor edits to Marin:

https://docs.google.com/presentation/d/1jMZDjvqU__OOfoj9qE6NT5Q7KoTKgQcsNXsz3R5mIMg/edit#slide=id.g75895e5e3_256

[2015-09-23 14:50] lippytak commented on #371
User needs radiate outwards.
ripple
waves
build momentum as they go

[2015-09-23 15:08] daguar commented on #371
Love the "implementation vs delivery" concept. Compelling to me.

[2015-09-25 17:47] #372 closed

[2015-10-04 19:38] #371 closed

[2015-10-04 19:38] #357 closed

[2015-10-04 21:26] alanjosephwilliams opened #374 "Put Summit Talk on the Web"
Something like this:
http://idlewords.com/talks/what_happens_next_will_amaze_you.htm

[2015-10-05 15:40] lippytak opened #375 "DC tickets"

[2015-10-06 17:36] lippytak opened #376 "CWDA slides"

[2015-10-06 17:37] lippytak opened #377 "Rick leadership mtg slides"
- CfA + tools overview
- GCF.org
- Journey map of calfresh
- personal
- thinking differently
- website teardown
- other UX stuff (NOAs)

To do
- Balance #s for SD
- Consider adding some quotes/Caroline research

[2015-10-06 17:40] #350 closed

[2015-10-06 17:45] lippytak opened #378 "Research to propose v1 scope for SAR-7 feature"

[2015-10-07 02:57] lippytak opened #379 "First, break all the rules"

[2015-10-07 03:37] lippytak opened #380 "Ask Hali for training instance or screenshots + heads up about SD + SAR-7"

[2015-10-07 03:47] lippytak opened #381 "Connect for SD"
- [ ] Get voice file from Rick
- [x] Record new audio
 - [x] New loop just for SD (pre-Rick)
 - [x] More generic intro audio ("your county CalFresh office...")
- [x] Figure out button sequence
- [x] Get county phone #  — 866-262-9881
- [x] Fork and change voice URL
- [x] Upload new initial call audio file to S3
- [x] Upload SD specific file
- [x] Set up new phone #
- [x] Deploy
 - [x] Set config v

[2015-10-07 16:14] daguar commented on #380
Even more specifically, let's ask for screenshots for what it looks like with a BCW app (since it appears to be a separate window where you need to import, and I think we'd benefit from understanding specifically what our EW users experience)

[2015-10-07 17:59] daguar opened #382 "Balance SD number"
Let's do this and deliver on Friday — DELIVERY MOFOS

[2015-10-07 18:00] daguar commented on #381
@lippytak Semi-blocked on your phone #

[2015-10-07 18:00] lippytak commented on #382
Oooh, could we rush order today?

[2015-10-07 18:02] daguar commented on #382
@alanjosephwilliams How could we do cards? Thoughts?

[2015-10-07 19:17] daguar commented on #378
Links:
- SAR-7 form: http://www.cdss.ca.gov/cdssweb/entres/forms/English/SAR7.pdf
- San Diego (!!) instructions for filling it out! :smiley: : http://www.sandiegocounty.gov/hhsa/programs/ssp/documents/CalFresh_How_to_Complete_the_SAR_7_Desk_Aid.pdf

[2015-10-07 19:19] daguar commented on #378
Initial note — there is a *big* opportunity here in that *the majority of questions are conditional on some change.* With conditional logic we could show a client almost *none* of the confusing stuff.

[2015-10-07 19:25] lippytak commented on #378
Diana report on QR7 and RRR via MBCW http://www.sfhsa.org/asset/ReportsDataResources/CalFreshBCWReporting011013.pdf

[2015-10-07 19:28] lippytak commented on #378
Let's think about if/how to do SAR-7 via MBCW or C4...I'll reach out to AmeriCorps folks now

[2015-10-07 19:49] daguar commented on #378
@lippytak I might push back on that as a strategy (though yes worth exploring.) The reasons are:

1. Requires SAWS account access
2. Probably an even _more_ uncommon channel than mail, fax, email based on anecdata

(2) implies to me that counties have processes in place for other channels, since those other channels are what are functionally used.

[2015-10-07 20:00] lippytak commented on #378
@daguar agreed it definitely shouldn't be v1 strategy, I more just want to document how it works to show counties how hard it is and how much better we can do.

[2015-10-07 20:32] daguar commented on #378
Got it.

Also @lippytak's points of uncertainty:
1. Reliable submission channels
2. What info does a county need to link it to the case
3. What info do EWs need to process it efficiently

[2015-10-07 20:34] lippytak opened #383 "Find Ren a client to chat with"
$50 incentive is okay

[2015-10-07 20:40] daguar commented on #381
Emailed Rick

[2015-10-07 21:49] daguar commented on #381
Broke out tasks in a more fine-grained way

[2015-10-07 21:51] daguar commented on #381
New audio recordings done

[2015-10-07 22:01] daguar commented on #381
Punting on Rick's audio for now

[2015-10-07 22:02] daguar opened #384 "Ping Clean/GCF clients coming up on SAR-7 to see if they want help"

[2015-10-07 22:03] daguar commented on #384
We could learn a lot from this, and also possibly prototype

[2015-10-07 22:06] lippytak commented on #378
@daguar another issue is if we do it via paper/PDF, how should we do the signature? How will EWs react to a typed sig?

[2015-10-07 22:07] lippytak commented on #378
Just spoke to Andrea who's doing contract UX research in Contra Costa. Asked her about this:
- Sometimes people submit a good SAR-7 but don't sign it == disc'd (UGH!!!)
- Recert is harder because requires
- If nothing has changed it's quite easy
- People get SO MUCH MAIL and it's hard to figure out what is important. Sometimes people just ignore the SAR-7 like everything else.
- You have to initia

[2015-10-07 22:09] daguar commented on #381
Done with audio and uploading

[2015-10-07 22:14] daguar commented on #378
@lippytak A bit got cut off, I assume "Recert is harder because requires" ends with "an interview"?

[2015-10-07 22:14] lippytak commented on #378
Correct, fixed

[2015-10-07 22:38] lippytak commented on #378
Consider changing this issue to 'propose v1 scope for SAR-7 feature' - there's so much to know it may help to research towards a concrete goal. For example we consider starting with ONLY "no change" cases and otherwise link to PDF version?

[2015-10-07 22:38] daguar commented on #381
A shitton done — it is working with just calling our phones!

[2015-10-07 22:42] daguar commented on #381
Button sequence: wwwwwwwwwwwwwwwwwwwwwwww1wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww1wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww4wwwwwwwwwwwwww#ww

[2015-10-07 22:44] daguar commented on #381
First call out the door — expected 10-20 min wait, we'll see!

[2015-10-07 22:46] daguar commented on #378
Agree re name — changed.

With your example, I'm not sure that's a great example — my guess is most people have SOME sort of change, though it may not be material to their benefit amount.

[2015-10-07 23:07] daguar commented on #381
TESTED! IT WORKED!!!

[2015-10-08 00:11] daguar commented on #381
Transferred to CFA account (it still sleeps)

[2015-10-08 00:11] daguar commented on #381
Closing this because it's functionally done — the next step would be going live, which is a separate process

[2015-10-08 00:11] #381 closed

[2015-10-08 00:12] daguar opened #385 "Connect for SD: production deployment"
After Friday meeting, we'll consider this. For now, we have a functioning dev deploy up.

[2015-10-08 03:31] lippytak opened #386 "Move to SF encrypted email for docs"
@alanjosephwilliams + @daguar we have a way... :)

MORE TO COME!

[2015-10-08 03:33] daguar commented on #386
Wait what

[2015-10-08 15:07] daguar commented on #378
One big note — will need to attach verifications.

[2015-10-08 15:09] daguar commented on #378
Question — what happens with SAR-7s if they specify changes but DO NOT include "proof" (verifications)?

[2015-10-08 16:01] lippytak commented on #129
Touring + Onboarding San Diego County
![img_3459](https://cloud.githubusercontent.com/assets/2533112/10372068/0c7a6808-6d9b-11e5-9810-9c2b06756262.jpeg)

![2015-10-08 08 53 30](https://cloud.githubusercontent.com/assets/2533112/10372078/17688d8a-6d9b-11e5-93ce-09ddc0e41da3.jpg)

- https://twitter.com/allafarce/status/652133840673046528
- https://twitter.com/lippytak/status/651602060496891904

[2015-10-08 18:42] daguar commented on #346
### MVP scope
- Incoming call > look up client phone number's question >
 - Question: how do we canonically know which county they're in? (GDoc is a record)
- Graceful fallback verbally tells people to go to the contact page (or maybe the state line if it doesn't suck)
 - Should test state line
- If people call our SMS number, then it says "Hi blahblah GetCalFresh.org, we're forwarding you to your

[2015-10-08 20:14] daguar commented on #378
From Derek at the food bank:

"I would say that about 75% [of SAR-7s he's helped with] are no change, 20% are some changes (started or stopped a job are usually the changes), and 5% are a lot of changes (very rare, but clients that move, change jobs, and have people move in and out of the household, i.e. transitioning homeless)."

[2015-10-08 22:33] daguar commented on #382
English: (619) 356-2921
Spanish: (619) 356-2784

[2015-10-08 22:34] daguar commented on #382
@lippytak — Maybe put this in prezo? Assigning to you because I think "deliver" is the last piece.

[2015-10-08 23:03] daguar opened #387 "Write a thing, Dave"

[2015-10-08 23:14] daguar commented on #378
Two eligibility workers in a county provided the following distributions:

70% no changes
10%  change
15% a few changes
5% lots of changes.

60% no changes
10% 1 change
25% a few changes
5% lots of changes.

Maps pretty well to Derek's impression.

[2015-10-09 00:19] lippytak commented on #377
Done: bit.ly/sd-leadership

[2015-10-09 00:22] #377 closed

[2015-10-09 00:22] lippytak commented on #382
![balance](https://cloud.githubusercontent.com/assets/2533112/10383229/2b730c6a-6de1-11e5-8c95-419dfabd8390.jpg)

[2015-10-09 00:22] #382 closed

[2015-10-09 00:44] lippytak commented on #374
In your court AJW!

[2015-10-09 17:38] alanjosephwilliams commented on #374
Repo:
http://codeforamerica.github.io/the-mission-is-delivery/

[2015-10-12 19:55] daguar opened #388 "Implement SAR-7 prototype/MVP"

[2015-10-12 20:52] daguar commented on #378
From a review of the MBCW app on the Google Play store:

<img width="315" alt="screen shot 2015-10-12 at 1 51 43 pm" src="https://cloud.githubusercontent.com/assets/994938/10438442/6b1da7f8-70e8-11e5-90cb-cb62ae98a6ba.png">

[2015-10-12 21:24] lippytak opened #389 "TCE slides"

[2015-10-13 00:51] daguar commented on #378
Darn — hit a big increase in the level of effort: sounds like for even a no-change SAR-7, you have to submit proof of income (essentially a verification) for the report month. That really ups the effort on what the minimal version of this looks like.

[2015-10-13 01:38] daguar opened #390 "Reimburse DC AirBnb fee"

[2015-10-13 17:00] daguar opened #391 "Raise noisily if notification subscription fails (email or SMS)"

[2015-10-13 22:05] daguar commented on #385
- Updated  the demo instance to be never-sleep on Heroku
- They may want to use an 800 number of theirs, in which case we have two options — they transfer it to us, or they forward it to a # of ours

[2015-10-14 14:43] lippytak commented on #378
Were you able to confirm if no changes require verifications?

On Wednesday, October 14, 2015, Dave Guarino <notifications@github.com>
wrote:

--
Via thumbs

[2015-10-14 14:43] daguar commented on #378
Yes

[2015-10-14 14:44] lippytak commented on #378
THATS SO LAME!

On Wednesday, October 14, 2015, Dave Guarino <notifications@github.com>
wrote:

--
Via thumbs

[2015-10-14 14:47] daguar commented on #378
It's slightly trickier, but it seems like substantively yes. From EWs:

[2015-10-14 15:15] daguar commented on #312
I'm assigning this to myself, and it will now be to actually take down Clean.

[2015-10-14 17:27] alanjosephwilliams commented on #382
Let's ship them 1000 cards. I'll put in an order today.

On Thu, Oct 8, 2015 at 5:22 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-14 17:29] daguar commented on #382
Might be good to check in with Rick since he's wanted a bit of consulting on some of this stuff I think

[2015-10-15 14:47] daguar commented on #378
One more EW response:

"1)10%
2)40%
3)30%
4)20%

Usually on SAR7’s the most things needed are job changes. Due to six months between, more people start and stop jobs, and I feel like I’m most often requesting proof previously reported income has changed or stopped. The runner up would be just requesting the correct proof, often customer send in the incorrect income verification date wise. (Example

[2015-10-15 17:58] daguar commented on #375
Booked — @lippytak you will need to book your own return flight today

[2015-10-15 17:58] #375 closed

[2015-10-16 14:54] alanjosephwilliams commented on #331
no hot tub :/ https://www.airbnb.com/rooms/6738004

[2015-10-16 15:00] alanjosephwilliams commented on #383
Is this time sensitive?

[2015-10-16 23:07] #376 closed

[2015-10-16 23:08] lippytak commented on #376
bit.ly/jacob-cwda

[2015-10-17 22:02] lippytak opened #392 "Send more balance cards to Marin"
They used them all and asked for more :)

Since Marty left I want to make sure we send them to the right person/building, so I'm confirming that and will post here.

[2015-10-18 00:55] lippytak opened #393 "Check if CalFresh income guidelines are fixed on county websites"
I made an appeal for everyone to fix theirs during CWDA :). Let's give them a week and check out the stale data ones again!

[2015-10-18 19:21] alanjosephwilliams commented on #332
let's close this for now—the ad was removed shortly after it went up. Not a priority, but a channel we will certainly come back to.

[2015-10-18 19:22] #332 closed

[2015-10-18 19:25] alanjosephwilliams commented on #349
what's next

[2015-10-18 19:27] alanjosephwilliams commented on #291
what's next?

[2015-10-18 21:41] lippytak commented on #349
- email rick about MOU
- email SD211 with info/tools (and setup call to identify a GCF use case for them?)

What do y'all think?

[2015-10-18 21:46] lippytak opened #394 "WH slides"
and a plan...

[2015-10-18 21:49] #379 closed

[2015-10-18 21:50] #364 closed

[2015-10-18 21:51] lippytak commented on #321
This is just flat out not on anybody's radar anymore and everyone seems happy. Closing but of course we'll document and share EW interview notes with CDSS going forward.

If anyone strongly disagrees please re-open it and we can chat in person.

[2015-10-18 21:51] #321 closed

[2015-10-19 15:55] daguar commented on #375
Quick ping to you @lippytak — if you haven't bought your return flight among all the CWDA madness, just a note to please do so today.

[2015-10-19 16:00] lippytak commented on #375
Done, thx for checking

[2015-10-19 16:00] daguar commented on #375
:+1: Thanks for being on it!

[2015-10-19 16:02] daguar commented on #349
Those sound good to me — I also replied to Rick's asking for the phone number of our quick Connect SD deploy.

[2015-10-19 16:15] lippytak commented on #378
Reopening since Leo and Kim opened up hope on the 'SAR-7 doesn't require verification'...

Leo asked his staff:
- Policy person says "If a SAR 7 reports no change in income, the household does not need to attach the income verification."
- QC person says : "QC must obtain the verification for most of the eligibility elements, especially the income.  Whether there is a change in the earned income o

[2015-10-19 16:30] daguar commented on #393
YAAAAAS QUEEN

[2015-10-19 16:41] lippytak commented on #392
Attn: R. Buccelli
Marin County Division of Social Services
120 N. Redwood DR
San Rafael, CA 94903

cc @alanjosephwilliams ^ can you get these out with the same Marin # we gave them last time?

[2015-10-20 00:50] lippytak commented on #331
Done @alanjosephwilliams?

[2015-10-20 04:53] alanjosephwilliams commented on #331
done, location in Slack

On Mon, Oct 19, 2015 at 5:50 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-20 11:30] lippytak commented on #378
Emailed Kim

[2015-10-20 11:30] lippytak commented on #378
Will ask Stephanie/Liliana today

[2015-10-20 11:31] lippytak commented on #378
Will ask Stephanie/Liliana today

[2015-10-20 23:54] lippytak opened #395 "CalFresh journey asset"
No particular rush but I'd love to have something like this in a more visual/linear form.

![screen shot 2015-10-20 at 4 55 37 pm](https://cloud.githubusercontent.com/assets/2533112/10624251/6c7f7428-774b-11e5-823d-eed836eb5552.png)

[2015-10-21 00:02] alanjosephwilliams commented on #395
![image](https://cloud.githubusercontent.com/assets/2983464/10624343/621d469e-774c-11e5-85b6-9007654448c3.png)

[2015-10-21 00:03] lippytak commented on #395
Are you just teasing me?

[2015-10-21 00:03] alanjosephwilliams commented on #395
health > CANONICAL-MEDIA > static assets > funnel_default

we should update it to be more clear about NOAs, SAR-7, RRR, etc.

[2015-10-21 00:04] lippytak commented on #395
Ahh, yea could include that. I also use this to make the point about fractured ownership (friends, feds, HP, county, xerox, etc.) so that would be another thing to incorporate.

[2015-10-21 00:05] alanjosephwilliams commented on #395
@lippytak we have the illustrator file — we could pretty easily do a version about fractured ownership. just about priorities.

[2015-10-21 00:06] alanjosephwilliams commented on #395
in other words, just say the word if you want it.

[2015-10-21 00:06] lippytak commented on #395
:+1: consider word not spoken quite yet!

[2015-10-21 04:54] alanjosephwilliams opened #396 "Put UX Week slides online"
It was requested by UX folks in the International UX Research slack today

[2015-10-23 20:11] #331 closed

[2015-10-24 22:15] lippytak commented on #378
From Steph

All changes reported on the application for recertification must be subject to the same verification requirements that apply at initial certification (MPP §.63-300.5(a)(2)). Any information that has changed in source or amount must be verified, if it is a required item or if it is questionable. Information which is inaccurate, incomplete, outdated or inconsistent must be re-verified du

[2015-10-24 22:21] lippytak opened #397 "TY cards for WH peeps"

[2015-10-24 22:22] #394 closed

[2015-10-24 22:22] lippytak commented on #394
bit.ly/cfa-wh

[2015-10-24 22:45] lippytak opened #398 "WH FU email"
- Talk to Fara about A-87
- Talk to Luke about $
TY Email
- Slide deck
- NOA
- Teardown
- ?

[2015-10-26 01:17] alanjosephwilliams commented on #397
- [ ] Luke
- [ ] Katherine
- [ ] Farrah
- [ ] Ginny / Lucy

Others?

20 postcards ordered from Moo, should arrive at CfA on Tuesday.

On Sat, Oct 24, 2015 at 3:21 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-26 01:38] alanjosephwilliams opened #399 "AJW DC Expenses"

[2015-10-26 01:55] daguar opened #400 "DG DC expenses"
- [x] Flights
 - [x] AJW and DG round trip
 - [x] Jake 1-way
- [x] Airplane wifi (if not on J card)
- [x] Baggage fees (Dave)
- [x] Taxi from airport (paper receipt)
- [x] Uber to airport
- [x] Taxi home (Bart was closed)
- [x] Airport/plane food

[2015-10-26 01:59] alanjosephwilliams commented on #393
We could use TaskRabbit again for this.

On Mon, Oct 19, 2015 at 9:30 AM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-26 16:15] #389 closed

[2015-10-26 21:15] lippytak opened #401 "Outcomes spike!"
- Get all new conf #s into spreadsheet
 - [x] Solano
 - Contra Costa (not doing — no updates)
 - [x] Placer
 - [x] Marin
- [x] Ping county contacts in Placer, Solano, and Marin
 - [x] Solano
 - [x] Placer
 - [x] Marin
- [x] Set up SF tracking doc inside workbook for team manual entry
- [x] Process existing, unprocessed outcomes from county tracking into master doc
 - [x] Solano
 - [x] Placer
 - [x

[2015-10-26 21:15] lippytak opened #402 "Reid"

[2015-10-26 21:15] lippytak opened #403 "FU CDSS/Kim brief"
- Thank you/links email to all
- Laurence and Jaime
  - SAR-7
  - 296 online app update
- Kim
  - Let me know when to come back and brief the entire team (and let me know what would be most interesting/useful for the group)
  - Consortia update
  - working with outreach team
  - Cal endow
  - ask for EBT POC
  - NOA redesign project

[2015-10-26 21:19] lippytak opened #404 "Figure out feedback loop for Q4"

[2015-10-26 23:53] lippytak opened #405 "Decide on Pivotal allocation"

[2015-10-26 23:53] lippytak opened #406 "Onboard SD 211"

[2015-10-26 23:55] lippytak commented on #378
Fun fact: Mailed SAR-7s from CalWIN include barcodes that identify the specific case, so clerical staff don't need to look them up manually. Hard to compete on that!

[2015-10-27 00:07] alanjosephwilliams commented on #378
What information do those barcodes include? Do clerical staff have
scanners? Would love to see one.

On Mon, Oct 26, 2015 at 4:55 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-27 03:24] alanjosephwilliams commented on #383
10 more clients pinged today.

On Mon, Oct 26, 2015 at 2:20 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-27 16:35] lippytak opened #407 "Research missing Placer docs"
What's the root cause?

[2015-10-27 16:44] daguar commented on #407
Taking this so Alan can focus on user search

[2015-10-27 16:45] daguar commented on #407
Here's what we know:
- The attachments appear to be included in the secure email forward that Placer clerk is sending to us
- This issue appears to correlate with them moving to a secure email system
- Confirmed that the attachments were included in the outbound emails (at least as they appear there)

[2015-10-27 17:46] daguar commented on #407
Emailed the Placer email address with details

[2015-10-27 17:47] daguar commented on #407
Confirmed with a test to my Gmail from Front that Front attachments are working

[2015-10-27 17:49] daguar opened #408 "Touch base with Marin re interview problems"
Per @alanjosephwilliams, lots of clients not getting any contact from the county.

@lippytak — Who would be the best point of contact?

[2015-10-27 17:49] daguar commented on #408
@alanjosephwilliams I assigned you, but feel free to re-assign to me if you want.

[2015-10-27 17:51] daguar commented on #407
@lippytak Would me emailing Logan be the best option here? Assuming we don't hear back from the records clerk.

[2015-10-27 22:36] daguar commented on #407
Attachments are coming through to them when sent from Gmail, but do not appear to be working with Front.

I'm testing one more Front email, this time directly to Kelly's email.

[2015-10-27 22:40] daguar commented on #407
As a temporary stopgap, I'm emailing the currently pending ones from Gmail (and deleting there).

[2015-10-29 15:26] daguar opened #409 "Ask CDSS to update its income guidelines"
The COLA for 2015-2016 became effective on October 1st, per ACIN I-75-15 (released 9/4/15): http://www.cdss.ca.gov/lettersnotices/EntRes/getinfo/acin/2015/I-75_15.pdf

The CDSS site still currently has the 2014-2015 income guidelines which are no longer effective: http://www.cdss.ca.gov/foodstamps/PG3628.htm

@lippytak Okay for me to just email Kim? Should I CC anyone?

[2015-10-29 15:27] daguar commented on #409
This is also related to the campaign to check all county web sites #393 since the state site being up-to-date can be referenced.

[2015-10-29 15:49] daguar commented on #409
Emailed Kim

[2015-10-29 16:17] daguar commented on #409
Kim says "Yikes! Will do!" :)

[2015-10-29 16:17] #409 closed

[2015-10-29 16:28] alanjosephwilliams commented on #409
When we see a change on the state website, lets move forward with
contacting counties!

On Thu, Oct 29, 2015 at 9:17 AM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-29 17:12] daguar opened #410 "Set up monitoring of CDSS income page"
Since we've heard back that it will be updated ( per #409 ) , we want to know when it happens.

[2015-10-29 17:13] daguar commented on #410
I've set up monitoring for the page http://www.cdss.ca.gov/foodstamps/PG3628.htm

on:
- Visualping
- Versionista

I will receive an email when one of those pages change, and this will also allow us to test-drive these services in case we want to use them more broadly.

[2015-10-29 17:13] #410 closed

[2015-10-29 17:14] daguar commented on #409
Agreed! I've set up an alert to know when it goes live in #410

[2015-10-29 22:44] lippytak opened #411 "Add some structured data to user interviews"
- Was the interview positive or negative?
- Complete interview? Did they need to reschedule once or more?

What else?

[2015-10-29 22:54] alanjosephwilliams commented on #411
- phone or in person interview
- number of discrete times documents were submitted
- method by which documents were submitted
- benefit amount
- NPS?

On Thu, Oct 29, 2015 at 3:44 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-10-29 23:32] lippytak opened #412 "Consider prompting clients to call through ACA lines and ask for CalFresh"
CRAAAAZy idea...regulatory h4x0r. Would obviously take some research first.

[2015-10-30 03:18] lippytak commented on #403
bit.ly/gcf-cdss

FU
- links
- Kim BLUF on consortia
- offer to brief her entire team anytime (and what should I include?)

[2015-10-30 14:58] alanjosephwilliams commented on #407
This research has concluded, yes?

Going forward we send docs later to Placer via the encrypted email service? This might be a good opportunity to discuss docs later through MBCW with Placer too, right?

[2015-10-30 14:58] #383 closed

[2015-10-30 14:59] alanjosephwilliams commented on #405
What needs to be done and what is the required turnaround for FU?

[2015-10-30 15:00] alanjosephwilliams commented on #397
Cards have arrived, just have to write them. Happy to do this over the weekend and send Monday.

[2015-10-30 15:00] alanjosephwilliams commented on #392
doin this literally rn

[2015-10-30 15:18] daguar commented on #407
Research concluded? — yup!

Also yes to using encrypted email service for Placer moving forward — I've updated the county contact spreadsheet with that info, and credentials for our account are in the creds doc.

RE docs later, I think you're right — I'll ping Logan.

[2015-10-30 15:18] #407 closed

[2015-10-30 15:33] alanjosephwilliams commented on #392
done

[2015-10-30 15:33] #392 closed

[2015-10-30 15:42] daguar commented on #407
Actually, I'm going to hold off on pinging Logan re MBCW doc uploader for now until we're at the point of wanting to use that — the big reason is that thing requires a valid case #, and secure email does not, so secure email may actually be preferable at this point.

[2015-10-30 19:01] lippytak opened #413 "Write up EBTNearMe pounce project"
Draft: https://docs.google.com/document/d/1mKNuACDuCX2QAZknPSOqgwT7GBIVyx4geEW7dP1BXWA/edit#

[2015-10-30 19:01] lippytak opened #414 "Write up Spanish UX/support pounce project"

[2015-10-30 19:11] lippytak commented on #407
I already pinged him about it.

On Fri, Oct 30, 2015 at 8:42 AM, Dave Guarino < notifications@github.com > wrote:
Actually, I'm going to hold off on pinging Logan re MBCW doc uploader for now
until we're at the point of wanting to use that — the big reason is that thing
requires a valid case #, and secure email does not, so secure email may actually
be preferable at this point.

—
Reply to this em

[2015-10-30 21:10] lippytak opened #415 "Onboard William"

[2015-10-30 21:10] lippytak opened #416 "Onboard Norris"

[2015-10-30 21:12] lippytak commented on #412
@alanjosephwilliams tried. Does not work. They can't transfer unless you're applying for MC and take your full info first. Sad times.

[2015-10-30 21:12] #412 closed

[2015-10-30 22:06] #179 closed

[2015-10-30 23:19] lippytak opened #417 "Free reduce lunch chat/decision/scope/whatever"

[2015-10-31 20:08] daguar opened #418 "Give Anna some SMS #s from our work"

[2015-11-01 19:49] alanjosephwilliams commented on #404
This issue might not be the best place for this brain-dump but I just want to get it down and out as I think through the user research agenda of the week ahead.

Some stats from November 1st:
- Out of ~1,300 cases, we have "approved"/"denied" outcomes for 457 (35%)
- 40% of those were denied (183 of 457).
- Of those 183 denied, we have denial reasons for 107 (58%)
- The breakdown among denial reas

[2015-11-01 20:00] alanjosephwilliams commented on #390
Heads up that I received an e-mail today asking for $260 for damages to 110-year old plaster in the living room. I've asked for more details.

[2015-11-01 21:27] alanjosephwilliams commented on #408
Just to document what we found:
- We had 12 inbound message from clients in Marin last week that had some issue contacting the county via the phone.
- 3 of those were ~30 day cases in which the inability to connect with the county had very likely effected whether or not the person was enrolled.
- 1 of those cases was an ES applicant who was also turned away in person.

Here's what we did:
- We dug

[2015-11-01 21:27] #408 closed

[2015-11-01 21:27] alanjosephwilliams commented on #399
and SD car rental expense

[2015-11-02 19:23] daguar commented on #401
First step, get all new conf #s into tracking, and then ping the counties to update

[2015-11-02 19:25] daguar commented on #401
Contra Costa :hocho: :panda_face:

[2015-11-02 19:26] daguar commented on #401
Solano already up to date

[2015-11-02 19:31] daguar commented on #401
Placer conf #s migrated

[2015-11-02 19:33] daguar commented on #401
Marin conf #s migrated

[2015-11-02 19:34] daguar commented on #401
Added
- [ ] Ping county contacts in Placer, Solano, and Marin

[2015-11-02 19:35] daguar commented on #401
Added:
- [ ]  Process existing, unprocessed outcomes from county tracking into master doc

[2015-11-02 19:45] daguar commented on #401
Solano outcomes processed, a fair number of denials... (2 interview, 3 verification)

[2015-11-02 19:54] daguar commented on #401
Pinged Solano contacts

[2015-11-02 19:55] daguar commented on #401
@lippytak — what's our process for cases whose statuses may change? (Specifically I'm thinking of denials due to verification where the client turns them in later.)

[2015-11-02 21:27] #402 closed

[2015-11-02 21:57] lippytak opened #419 "Draft structured denial survey"
Goal is to learn why people get denied and what features we can build to change them. "What actually fucking happened?"

Structured incentivized survey for folks who were denied.

Things to note
- subsampling to improve survey as we go
- contact prefs
- ask for interview at end

[2015-11-02 22:06] lippytak opened #420 "Start Nikki's contract and onboard her"

[2015-11-02 23:28] daguar commented on #401
Pinged Placer

[2015-11-03 00:07] daguar commented on #415
Talked with him; he's happy to do it, wants to start with pairing so he can get familiar with code base, and he's really stoked to join stand-up next week

[2015-11-03 00:07] #415 closed

[2015-11-03 01:23] lippytak opened #421 "Test if MBCW late attachments works in SF"

[2015-11-03 15:08] lippytak opened #422 "Write up GCF eval pounce project"
Draft: https://docs.google.com/document/d/1EQuk9JVVFQ1df6Ui_GybsnV-E44BK7Y7K22k8QHCGOs/edit#

[2015-11-03 15:34] lippytak opened #423 "Link broken in ABOUT text"
http://www.c4a.me/balance => Heroku error

I think it was supposed to be a short link to the apps/balance page.

[2015-11-03 15:37] lippytak commented on #423
oops wrong repo

[2015-11-03 16:15] lippytak commented on #422
@jennymt check it ^

cc @daguar and @alanjosephwilliams

[2015-11-03 16:42] lippytak commented on #413
Main questions:
- How the eff are we going to recruit CalWORKS peeps across CA to validate ATM data?
- What kind of qualitative info do we want...only bad experiences to understand magnitude? Or should we do another Ethnio across all users? Or something else?

[2015-11-03 17:10] lippytak commented on #414
@alanjosephwilliams and I decided not to do this because we don't really have an acute need for spanish support or user research right now (english support + driving) and a short term temp support role doesn't seem very useful given onboarding costs

[2015-11-03 17:10] #414 closed

[2015-11-03 17:15] lippytak commented on #405
sent - next step is to talk to Richard to understand tradeoffs then make a decision on cash/people allocation

[2015-11-03 17:20] daguar commented on #414
+1

[2015-11-03 18:03] daguar commented on #339
Moving this to current sprint because end of life is Nov 4th (tomorrow)

[2015-11-03 19:32] lippytak commented on #380
just going to give her a heads up about SD but not really comfortable asking her for things ATM

[2015-11-03 19:32] #380 closed

[2015-11-03 19:36] daguar commented on #380
Agreed 👍

[2015-11-03 22:50] #403 closed

[2015-11-03 23:33] lippytak commented on #403
FU has been FUd

[2015-11-04 16:26] daguar opened #424 "Waffle/Brigades webinar"

[2015-11-04 16:40] lippytak commented on #378
SF supervisors basically say "no need to verify if no change"!

===
If a customer doesn't report any changes on their SAR-7, do we still ask them to provide verifications?
- No need to verify if answer is no to all questions. However, if the answer is no and they have a previous income in CalWin  or information on Held changes(for NHR or PVS discrepancy) that is not reported then we need to verify

[2015-11-04 16:47] daguar commented on #378
Here are my rough notes from talking with SD:

1. For SAR-7s, what are the circumstances in which a customer must submit a verification document (proof)? Specifically, for SAR-7s reporting no change from 6 months prior, is a verification document for the report month's income required?

2. Do you have a sense for roughly what percentage of SAR-7s have:

  a. No change reported
  b. 1 change
  c. A

[2015-11-04 18:17] daguar commented on #378
One gut-check I'd love to make here — how much of a *perceived problem for counties* is SAR-7? (This coming from the higher-order goal that we want to improve county experience.

SD seemed to suggest missed SAR-7s was a small # (<10%) of terminations based on CalWIN data (though we know those can be funky.)

[2015-11-04 18:27] daguar commented on #413
@lippytak re recruitment, what about talking to your buddy who runs CalWORKS in SF? I'm sure they'd love to validate this stuff. I think the easiest way to validate some local stuff is to offer some compensation to the client for their time and ask them to use the card at various ATMs and we can refund any fees that occur?

[2015-11-04 18:45] daguar opened #425 "Read all the Lost Email™"

[2015-11-04 18:48] daguar commented on #401
Jake pinged Marin (thanks Jake!)

[2015-11-04 19:31] alanjosephwilliams commented on #419
- Select a subsample of known denials in the last 60 days, across all five CPP. We have 21 known denials that have expressed preferences for either email or SMS follow-up (four with no status have been excluded).

| County  | # of Denied  |
|---|---|
| Contra Costa | 0  |
| Marin  | 5 |
| Placer |10 |
| San Francisco  | 4 |
| Solano | 6  |

- Solicit a response to a short structured survey that a)

[2015-11-04 19:49] lippytak commented on #421
Sent test doc/email to Phillip in RM, will ping in 2 days if I don't hear

[2015-11-04 23:04] lippytak opened #426 "FU with SDHC"
To do
- Amanda will share more about student eligibility
- Share dashboard!
- Figure out the online confirmation
- Send Amanda
- Send example of tracking data

[2015-11-04 23:45] daguar commented on #426
BLUF in channel after 5?

[2015-11-05 00:16] alanjosephwilliams commented on #419
#### Draft denial survey for your feedback @daguar @lippytak

- Was this your first time appyling for CalFresh?

  - Yes
  - No

- On a scale of 1 to 5, how clear were you on next steps after you applied?

  - 5 - very clear
  - 4
  - 3 - somewhat clear
  - 2
  - 1 - not clear

- Were you able to get an eligibility interview?

  - Yes
  - No

   -> YES

    - When did you have your eligibility int

[2015-11-05 03:18] lippytak commented on #378
Quick chat with Alexandra from SFMFB:
- Very common for people to report not getting it
- Usually by the time it gets to Alex they have to reapply anyway
- She doesn't think you can do SARs via C4Yourself
- In her experience no change = no verifications required
- Forgot to ask her what % of SAR-7 she sees are 'no change'...will email now and report back!
- Unrelated: Lots of problems with call ce

[2015-11-05 03:28] lippytak commented on #426
BLUF
- SD hunger coalition is a sub to CAFP for CF outreach but has 12 subs of their own and submit ~8-9k apps/yr
- Two largest subs are the 2 Food Banks who have ~75% approval rate
- Amanda will present GCF to her subs on the 19th and see if there are 1-3 folks who'd like to start using GCF
- Amanda thought that not having a confirmation number/page would be a blocker

In the meantime we'll
- Get

[2015-11-05 03:31] lippytak commented on #419
Lots of good stuff. I think it would be helpful to state the specific goal and then look through each question with that lens. I also think we could get a lot out of some open ended questions, like "Why weren't you able to do your interview?"

[2015-11-05 15:47] #416 closed

[2015-11-05 15:51] alanjosephwilliams commented on #416
- Entry into this atmosphere this week—Friday we are going to review research and sketches for the pre-screening feature. Probably in front of a whiteboard, I'll send cal invite.
- Definitely interested in joining sprint planning on Monday. Test driving working with us through the design and development of the pre-screening feature.
- Lots of shared goals and interests that make us both optimistic

[2015-11-05 17:05] alanjosephwilliams commented on #419
Indeed—updated with thinking inline. I'm open to more open-ended questions, but the grab-bag question serve that function currently. My thinking was that since its a relatively substantial survey, we could give ease the ux burden by offering options and then the opportunity to respond with "other".

[2015-11-05 17:20] #423 closed

[2015-11-05 18:03] daguar commented on #424
donezo

[2015-11-05 18:03] #424 closed

[2015-11-05 18:03] daguar commented on #418
Emailed back and forth, seems like we're punting on this for next time

[2015-11-05 18:03] #418 closed

[2015-11-05 18:07] daguar opened #427 "Experiential game: go get X social service"

[2015-11-05 18:54] #426 closed

[2015-11-05 19:08] daguar commented on #419
@alanjosephwilliams Okay for me to pull this into a Google Doc to suggest changes?

[2015-11-05 19:09] alanjosephwilliams commented on #419
Go for it!

Ultimately, we'll likely be implementing in Typeform.

On Thu, Nov 5, 2015 at 11:08 AM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-11-05 19:10] #398 closed

[2015-11-05 19:18] daguar commented on #419
Big picture suggestion — how about we remove the conditional logic for now and just do each of these branches as standalone surveys for the cohorts based on the county outcomes? (ie, a denial survey with depth about INTERVIEWS for N clients who we know were denied due to interview; a denial survey with depth about VERIFICATIONS for N clients we know were denied for verifications, etc. — probably s

[2015-11-05 19:23] lippytak commented on #421
BLUF is they are getting automatically imported into iFiles but not into AIMS (task mgmt) so EWs don't know proactively to process the docs. Fix is in process for next week. @alanjosephwilliams @daguar do not use MBCW CBO feature until they confirm and we test that it works. I'm opening another ticket to check on the old few docs that I submitted through this feature (probably 3-5 total).

There a

[2015-11-05 19:23] #421 closed

[2015-11-05 19:25] lippytak opened #428 "Write internal #govwin re. late attachments"

[2015-11-05 19:26] alanjosephwilliams commented on #419
Big reason not to is just very small cohort size. We have 10 denials in the past 60 days that have denial reasons reported.

[2015-11-05 19:26] alanjosephwilliams commented on #421
woof.

On Thu, Nov 5, 2015 at 11:23 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-11-05 19:27] lippytak opened #429 "Make sure MBCW late attachments work for partner counties"
Placer, Solano, Contra Costa (yea RIGHT!)

[2015-11-05 19:27] daguar commented on #419
I've suggested some edits here: https://docs.google.com/a/codeforamerica.org/document/d/1JvfvqrJV-pcp6ovKkshO0cSBc1H64FhfvyNu3CS2NO0/edit?usp=sharing

[2015-11-05 19:27] alanjosephwilliams commented on #428
we found our first million dollar #govfail

[2015-11-05 19:30] daguar commented on #419
Okay — I think with what I'm doing I can expand the 10-denial size somewhat. Can I also suggest we expand the window beyond past 60 days? Right now we are somewhat behind on outcomes for recent cases because of the county tracking.

[2015-11-05 19:32] alanjosephwilliams commented on #419
We can definitely go beyond 60 days if we need to, but I think we should
index towards the most recent applicants we can that fit the criteria we
are interested to.

Responding to your thoughts in the gdoc for now.

On Thu, Nov 5, 2015 at 11:30 AM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-11-05 19:41] lippytak opened #430 "Re-send any docs that were sent teo SF via MBCW portal"
Or at least report to Beverly/Tiana/Leo

[2015-11-05 19:50] daguar commented on #419
Okalie dokalie — if we have 10 that's fine, and I can pull more post-full-outcomes.

Could we maybe start at $20? I think it'll get same result and I want to be able to go up if people don't respond.

[2015-11-05 19:57] daguar commented on #421
woof+

[2015-11-05 20:12] daguar opened #431 "Send email to folks+CHCF re CA human service data project"

[2015-11-05 23:25] lippytak commented on #401
- Why are people getting denied?
- Are there important differences by county?
- Are we making the right call re investing in income screening?

[2015-11-06 02:56] lippytak opened #432 "Send Jonathan/Jesse blurb for foundations"

[2015-11-06 02:57] lippytak opened #433 "Work with rev team to look at these foundations"
Recommended by Jonathan at PurposeCap

[2015-11-06 03:10] lippytak opened #434 "Ping Steph/Kim about Caroline's research"

[2015-11-06 16:30] lippytak commented on #405
Scheduled for next Wed

[2015-11-06 16:31] lippytak commented on #413
Waiting for Meghan to finalize.

[2015-11-06 16:31] lippytak commented on #413
Waiting for Meghan to finalize.

[2015-11-06 16:31] lippytak commented on #420
Waiting for Meghan to finalize.

[2015-11-06 16:31] lippytak commented on #422
Waiting for Meghan to finalize.

[2015-11-06 16:31] #413 closed

[2015-11-06 16:31] #422 closed

[2015-11-06 16:31] #420 closed

[2015-11-06 16:35] lippytak opened #435 "Molina presentation"
Draft done will review with team on Thurs AM

[2015-11-06 16:36] lippytak commented on #406
Scheduled for next week. Goal is to start low volume and test outcome tracking.

[2015-11-06 18:54] daguar commented on #401
Master doc has Placer and Marin (auto-updating) along with Solano — pulls in from county tracking data

[2015-11-06 20:14] daguar commented on #401
Have set up a SF tracking tab for us to do outcome lookup on — note: we fill out the YELLOW columns:

<img width="611" alt="screen shot 2015-11-06 at 12 13 40 pm" src="https://cloud.githubusercontent.com/assets/994938/11007604/ea514fb6-847f-11e5-83e1-8624b28376bf.png">

[2015-11-06 20:24] daguar commented on #401
I have also assigned people in the `San Francisco` tab for our group outcomes pass today:

<img width="494" alt="screen shot 2015-11-06 at 12 24 13 pm" src="https://cloud.githubusercontent.com/assets/994938/11007814/59e67f9e-8481-11e5-87d5-e7934f9bc05d.png">

[2015-11-07 00:43] lippytak opened #436 "Buy LB flights"

[2015-11-07 01:10] #432 closed

[2015-11-07 01:16] #434 closed

[2015-11-07 01:16] lippytak commented on #397
Meh too late

[2015-11-07 01:16] #397 closed

[2015-11-07 01:16] lippytak commented on #430
Will do this weekend...important and didn't prioritize late in sprint!

[2015-11-07 17:49] daguar commented on #430
I'm not sure we did any; I didn't myself. @alanjosephwilliams do you remember doing any?

[2015-11-07 22:02] lippytak commented on #430
I did a few, I think that was it. Should be commented in Front…

On Sat, Nov 7, 2015 at 9:49 AM, Dave Guarino < notifications@github.com > wrote:
I'm not sure we did any; I didn't myself. @alanjosephwilliams do you remember
doing any?

—
Reply to this email directly or view it on GitHub .

[2015-11-08 23:05] alanjosephwilliams commented on #430
I did not do any. I'll leave this issue open until we discuss IRL.

[2015-11-09 06:39] alanjosephwilliams commented on #411
Updates to the script include ~7 structured questions, some of which are updates to existing content we've been collecting.

Script here: https://docs.google.com/a/codeforamerica.org/forms/d/1DSzyb0tF4N7sHrg3GOXfvBQZMQUltopjhRdojG_4uf8/edit?uiv=1

List of changes:
- Deleted the why now question. It's always delicate and rarely informative in terms of our service.
- Were you able to complete the el

[2015-11-09 17:17] daguar commented on #400
Emailed Jake for his receipt

[2015-11-09 17:37] alanjosephwilliams commented on #419
The interview script has been updated in Google Docs, and ported over to Typeform with the requisite logic. I'll author a thank you page and ship to our first small batch today. $20 solicitation seems like a good place to start.

[2015-11-09 20:24] daguar opened #437 "Onboard Ben (DC-Ben)"
- [x] Add to Slack
- [x] Add to GitHub + repos
- [x] Email him the legacy sites so he can look at them (and code)

[2015-11-09 21:27] alanjosephwilliams commented on #419
Survey has been QA'd: http://bit.ly/calfresh-survey

[2015-11-09 21:47] alanjosephwilliams commented on #419
New SMS solicitation (to those that have opted-in). Doing a batch of 10 now, marking in GCF-cases.

Hi from GetCalFresh.org! What applying for CalFresh difficult? Take a 5 min survey & get $20 in Amazon credit for your feedback -> http://bit.ly/calfresh-survey

[2015-11-09 21:53] alanjosephwilliams commented on #419
9 SMS surveys sent—3 to Solano, 3 to Marin, 3 to Placer. All marked in GCF-cases. I'm going to wait an hour for responses before sending an e-mail test.

[2015-11-09 22:25] daguar commented on #437
On Slack

[2015-11-09 22:27] daguar commented on #437
cc @benjaminstrahs / ben's GH username

[2015-11-09 22:27] daguar commented on #437
Added to GH repos

[2015-11-09 22:43] daguar commented on #437
Email sent; some of the more specific stuff I think will be easily done back-and-forth and/or here on Issues, so removing those and closing this!

[2015-11-09 22:43] #437 closed

[2015-11-10 17:55] alanjosephwilliams commented on #419
9 sent, 1 click through, 0 completes. As mentioned in Slack, going to push out to 10 denied users via email, and up the incentive to $30.

[2015-11-10 17:56] #411 closed

[2015-11-10 19:17] lippytak opened #438 "Confirm/prep Tim talk"

[2015-11-10 19:19] #419 closed

[2015-11-10 19:21] lippytak commented on #339
Dup of #282

[2015-11-10 19:48] #359 closed

[2015-11-11 01:17] lippytak commented on #401
fyi @daguar I added one last thing above before closing out this issue: 'Quick research on distribution of ineligible details (what % income, active case, did not clear, etc.)'

[2015-11-11 01:45] lippytak opened #439 "Summarize CDSS + sales stuff to ST"

[2015-11-11 02:01] lippytak commented on #378
From Jaime A interim calfresh policy director at CDSS:

Let me know if you have further questions and I can look into it for you.  Thanks.

[2015-11-11 02:07] lippytak opened #440 "TY user need cards for SF CFO team"
Tough time and they're still going out of their way to help us out so let's show them some <3. I'll bring cards tomorrow.

[2015-11-11 16:50] #439 closed

[2015-11-11 22:05] #436 closed

[2015-11-12 00:20] lippytak opened #441 "Escalate cases to Beverly"
A continuing series...but need to do a wave this week.

[2015-11-12 01:48] lippytak opened #442 "Get to know Alexis and brainstorm content work"
Possibility to do some awesome content work with Alexis.

I'll get an hour on the calendar to:
- Get to know her humanness / skills / interests
- Brainstorm a few content strats

Scope should be 1-3 long form pieces at ~50% time for ~3 months. Let's discuss in sprint plan.

[2015-11-12 16:35] daguar commented on #440
Let's finish and ship these today before you head out? I can handle shipping them if we're all signed.

[2015-11-13 02:01] daguar commented on #400
All added, talked to Meghan about lost receipt

[2015-11-13 02:04] daguar commented on #400
Submitted

[2015-11-13 02:04] daguar commented on #390
Submitted with $400

[2015-11-13 02:04] daguar commented on #390
Submitted with #400

[2015-11-13 02:04] #400 closed

[2015-11-13 02:04] #390 closed

[2015-11-13 20:27] daguar commented on #438
Closing as I'm assuming this is done!

[2015-11-13 20:27] #438 closed

[2015-11-13 20:33] #425 closed

[2015-11-13 20:34] daguar commented on #425
done... I think. (One can never know.)

[2015-11-13 21:07] daguar commented on #401
One  more SF  outcomes pass today 230-330, cal invite sent

[2015-11-14 00:41] daguar commented on #401
It does look like it goes:
- Verifications
- Interviews/eligibility

as the big denial reasons

<img width="313" alt="screen shot 2015-11-13 at 2 31 55 pm" src="https://cloud.githubusercontent.com/assets/994938/11160881/55840206-8a25-11e5-9603-20da77794b90.png">

[2015-11-14 00:54] daguar commented on #401
@lippytak To your question of the "ineligible breakdown", here's what I've calculated (manual count):

26 — over income
7 — not eligible during first 2 months (or “ineligible in the first and second month”) — these are all Solano County
3 — immigration/not citizen/LPR (note: these were mostly early cases)
3 — student ineligibility
2 — active on other case
1 — SSI/SSP
1 — “Not a separate household”

[2015-11-14 00:55] daguar commented on #401
Added 'composite details' column which shows (a) county detailed denial explanation, or (b) our own denial details we've input.

[2015-11-14 00:56] daguar commented on #401
Finished with the useful data cleaning (it's how I consolidated Level 1 denial reasons above)

[2015-11-14 00:57] daguar commented on #401
I have cleaned up the validation fields to be consistent across the various tracking columns

[2015-11-14 01:05] daguar commented on #401
Crosstabbing denial reasons with counties, here's what we find:

<img width="383" alt="screen shot 2015-11-13 at 5 01 14 pm" src="https://cloud.githubusercontent.com/assets/994938/11161054/3ccac864-8a28-11e5-9ae4-dc06e9f4b1f9.png">

- Placer: verifications are dominate (~55%)
- Marin: interviews are biggest (~45%)
- SF: pretty even split interview/verifications/eligibility
- Solano: eligibility (~

[2015-11-14 01:07] daguar commented on #401
That said, The Big 3™ really are what we have to solve, and roughly in equal portions — let's get to it.

[2015-11-14 01:08] #401 closed

[2015-11-14 18:21] daguar opened #443 "Simple web form for clients scheduling CalFresh interviews (sent via email to counties)"
@alanjosephwilliams surfaced that people can schedule interviews over email (at least in Marin, Placer, and SF.)

Since a lot of what the counties want in that email is boilerplate (client info) that we have from the initial application, we could create a much simpler form/experience for the client where the only thing they provide is *desired timeframes in the M-F, 8-5 (or whatever) window* and w

[2015-11-14 18:22] daguar opened #444 "Write up basic #s on contact opt-in preferences (text, email, call)"
Probably an interesting blog post and relatively easy to do. Might also want to crosstab with a few variables (specifically with source, as we know CBO clients are often call-only)

[2015-11-15 16:36] #435 closed

[2015-11-15 16:37] lippytak commented on #435
bit.ly/snap-molina

[2015-11-16 16:15] lippytak commented on #349
Dropbox done

[2015-11-16 16:18] lippytak commented on #430
SF is now assigning these docs. We have 2 denied cases likely affected by this. I'm going to escalate these (and others) to Beverly.

[2015-11-16 16:18] #430 closed

[2015-11-16 17:18] daguar commented on #339
Punting on this since we can shave the yak in a JIT way next time we need to push (that's when it blocks you on the upgrade)

[2015-11-16 17:19] #339 closed

[2015-11-16 19:03] lippytak commented on #378
Jaime confirming that fixed income doesn't need re-verifications:

[2015-11-16 21:09] #399 closed

[2015-11-16 23:28] daguar opened #445 "Consider calling "call me"-only clients in the Quality Cohort"
cc @alanjosephwilliams @lippytak

[2015-11-16 23:28] daguar commented on #445
This would be to surface similar info to our yes/no reminders but for diff pop

[2015-11-16 23:35] lippytak opened #446 "Confirm if Adobe wants to do CitizenOnboard"
Send problem statement and examples. See if they want to do it. If not, we'll pass. They weren't stoked on the call.

[2015-11-16 23:36] lippytak commented on #406
Send them things:
- Wallet cards
- Balance info
- Referral link for their staff
- Check if GCF can do audio files
- Think about how to do outcomes...SD not comfortable doing for all

[2015-11-17 17:23] alanjosephwilliams commented on #446
include links to the NYT and WaPo articles

On Mon, Nov 16, 2015 at 3:35 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-11-17 17:23] alanjosephwilliams commented on #446
and anil dash's tweet

On Tue, Nov 17, 2015 at 9:23 AM, Alan Williams <alanjosephwilliams@gmail.com

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-11-17 17:24] alanjosephwilliams opened #447 "Wallet Cards for SD GetCalFresh"
Pre-reqs:
- [ ] separate domain or subdomain
- [ ] new Balance #

others?

[2015-11-17 17:24] alanjosephwilliams commented on #447
More info in #406

[2015-11-20 19:32] daguar commented on #391
Closed by https://github.com/codeforamerica/saws-drivers/pull/161

[2015-11-20 19:32] #391 closed

[2015-11-20 20:22] #441 closed

[2015-11-20 20:23] lippytak commented on #405
All engineering (team of 3-4 full time for ~6mo) to start somewhere in Q1 depending on best timing for both parties.

[2015-11-20 20:30] daguar commented on #405
@lippytak One clarification — I interpret this to mean we have the BANDWIDTH-EQUIVALENT of 3-4 FT people for 6 months. Would we be able to spread that over a year? (I think that would be useful.)

[2015-11-23 13:36] lippytak opened #448 "Partner county EOY awards"

[2015-11-23 13:45] lippytak commented on #405
Correct, though we probably don't have full control over the allocation because it will depend on how their usual pivotal process works.

[2015-11-23 13:45] #405 closed

[2015-11-23 17:26] daguar commented on #448
👍👍👍 This is an excellent idea.

[2015-11-24 17:19] lippytak opened #449 "Self performance reviews due by 12/2"
https://docs.google.com/document/d/1JjpRj3irfN_yz_vn0pj5zecwJmfMB1TD20iIAZuEO3k/edit

[2015-11-24 20:07] lippytak commented on #448
http://www.tinkeringmonkey.com/tabletop-sign/

[2015-11-24 20:07] lippytak commented on #448
CalFresh Innovation Award

[2015-11-25 17:22] lippytak opened #450 "Delete Typeform docs > 30 days old"
I'd propose we do this manually on a ~weekly basis to start. IIRC we haven't ever reused a document submitted >30 days prior, so I think this is the prudent thing to do.

@daguar and @alanjosephwilliams any reason not to do this?

[2015-11-25 17:32] #450 closed

[2015-11-25 18:02] #446 closed

[2015-11-29 23:14] daguar commented on #446
Just to confirm, closing this makes it seem like a 'no'?

[2015-11-29 23:36] lippytak commented on #446
Correct

On Sunday, November 29, 2015, Dave Guarino <notifications@github.com> wrote:

--
Via thumbs

[2015-11-30 17:03] lippytak commented on #428
https://github.com/codeforamerica/health-logs/issues/27

[2015-11-30 17:03] #428 closed

[2015-12-01 16:04] daguar commented on #312
FYI — SSL cert expires in January

[2015-12-01 16:14] daguar commented on #312
FYI,
- 4 cases in September
- 4 cases in October
- 0 cases in November

[2015-12-01 16:15] daguar commented on #312
@lippytak — do we want to renew the SSL certificate? (To keep URLs working and forwarding on.) Mike wanted to know, and it expires in mid-January. If not, probably a good time to start redirecting folks now to give some leadup.

[2015-12-01 18:53] lippytak commented on #312
Yes we want to renew for 1 yr. @migurski can you renew cleanassist.org SSL cert? Any info you need from me?

[2015-12-04 21:50] lippytak opened #451 "Summarize food insecurity > healthcare cost lit review"
Pull from Joel and Rebecca lit reviews.

[2015-12-04 22:07] lippytak commented on #319
Quick summary of denial reasons from a while ago...
![screen shot 2015-12-04 at 2 06 53 pm](https://cloud.githubusercontent.com/assets/2533112/11602594/528cacbc-9a90-11e5-95fe-118d815b4cdf.png)

[2015-12-05 01:38] lippytak opened #452 "Get Alan/Jake back into CalWin Lite accounts"
We locked ourselves out. Embarassing...

[2015-12-05 22:19] #449 closed

[2015-12-06 02:44] alanjosephwilliams commented on #405
@lippytak what is the next step on this?

[2015-12-06 23:11] lippytak commented on #312
To do
- [] Push up 'goodbye' redirect branch to demo/prod
- [] Email CFO team + MEDA just in case
- [] Change master readme to say we're not actively developing it
- [] Set calendar reminder to kill the heroku apps in 6 months
- No rush on doing anything with 'clean-cases' spreadsheet because there's no PII

[2015-12-06 23:13] lippytak commented on #312
Looks like this:
![screen shot 2015-12-06 at 3 12 45 pm](https://cloud.githubusercontent.com/assets/2533112/11616278/e9dd7bd6-9c2b-11e5-8109-d2f531b6a347.png)

[2015-12-06 23:57] #312 closed

[2015-12-07 00:06] daguar commented on #312
I've changed Clean to the free tier, which takes this from ~$100/mo to $0. cc @migurski

[2015-12-07 00:06] daguar commented on #312
Also removed Airbrake ($9/mo) — keeping the $20/mo SSL on for now but we can/should remove at some point

[2015-12-07 00:08] daguar commented on #312
Did the same for dev (was on $35/mo tier and had Airbrake; it does not have the SSL addon so it is now fully zero cost)

[2015-12-07 00:09] daguar commented on #312
Set the demo instance to free tier

[2015-12-07 23:10] lippytak opened #453 "County EOY report out"

[2015-12-08 04:25] lippytak commented on #451
From RebeccaC

Note: Most of the existing literature focuses on kinds - 1/2 kids in the US will be on SNAP at some point.

Prevalence of food insecurity:

http://www.ers.usda.gov/publications/err-economic-research-report/err125.aspx

Coleman-Jensen, A., Nord, M., Andrews, M., and Carlson, S. (2011), “Household Food Security in the United States in 2010,” Economic Research Report ERR-125, Report, U

[2015-12-08 04:25] lippytak commented on #451
From Joel:

[White Paper Gleaning (2).docx](https://github.com/codeforamerica/health/files/54934/White.Paper.Gleaning.2.docx)

[2015-12-08 17:19] lippytak commented on #451
Via ST: http://www.rwjf.org/en/library/research/2011/12/health-and-wellness-survey.html

[2015-12-08 22:32] lippytak commented on #451
# Food insecurity and health outcomes

Food insecurity is common and leads directly to worse health for all Americans.In 2014, approximately 15% of Americans experienced food insecurity. This represents a substantial increase since the 2007 recession that has remained despite an improving economy in recent years [1]. While social needs, such as food security, are challenging to address in the curr

[2015-12-08 22:36] #451 closed

[2015-12-09 19:03] lippytak opened #454 "Do Nick HW and email him smart things about it"
Before he forgets you!

[2015-12-10 19:46] lippytak opened #455 "Help Victor figure out what MBCW recert looks like"
@alanjosephwilliams I'm going to ping our SF CalWIN contact (Bernadette) but otherwise do yo' thang. LMK if I can help.

[2015-12-11 01:07] lippytak opened #456 "Create county mgmt repo"
/health repo is getting too busy with this stuff. As health team is about to grow let's section off county expansion/management stuff into it's own repo.

[2015-12-11 16:41] daguar commented on #455
The food bank may help clients with recert online already. Maybe we should quickly ping them?

[2015-12-11 17:18] alanjosephwilliams commented on #455
good idea will do.

On Fri, Dec 11, 2015 at 8:41 AM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-12-11 19:33] lippytak opened #457 "Help ES clients submit IDs"
Todo
- [x] Change confirmation page copy
- [x] Change ES confirmation/reminder copy
- [x] Change 'income docs' and 'other docs' to emphasize you can come back and do it later

[2015-12-11 20:21] lippytak commented on #457
My recommendation is to cut down on the confirmation page copy substantially and just tell people to submit IDs, like so:

![screen shot 2015-12-11 at 12 19 39 pm](https://cloud.githubusercontent.com/assets/2533112/11754670/83862566-a001-11e5-989c-acf4436e3ad1.png)

'Submit ID Now' takes them to the appropriate doc upload page with more info:
![screen shot 2015-12-11 at 12 13 33 pm](https://cloud.

[2015-12-11 20:21] lippytak commented on #457
Policy Q to confirm - to get ES do you need to show ID for everyone in the HH or just primary application? I assume everyone...

[2015-12-11 20:30] lippytak commented on #457
Suggested SMS ES campaign changes:

Old confirmation: *You applied for CalFresh! County staff will call you within 2-3 days. If you don't hear anything in 3 days, reply to this text & we will help you w/ next steps.*

New conf: *You applied for CalFresh 👍! A CalFresh rep will call you in 2-3 days to finalize things. You can reply here w/ a pic of your ID if you didn't send it before.*

Old 4day: *

[2015-12-11 20:35] lippytak commented on #457
For Email ES campaign, I suggest we shorten the first part a tiny bit and add this near the top:

**If you haven't submitted a copy of your ID, you should do that right now. You can reply directly to this email with a picture of your ID or upload it to https://www.getcalfresh.org/docs**

[2015-12-11 21:51] #452 closed

[2015-12-11 22:00] lippytak commented on #404
Deprecated

[2015-12-11 22:00] #404 closed

[2015-12-11 23:08] lippytak commented on #451
More great resources on the topic:
- http://www.cbpp.org/blog/snap-promotes-long-term-gains-especially-for-children via @daguar
- https://www.whitehouse.gov/sites/whitehouse.gov/files/documents/SNAP_report_final_nonembargo.pdf via @alanjosephwilliams
- https://www.whitehouse.gov/sites/default/files/docs/snap_report_-_final.pdf (oldie that I didn't come across before)

[2015-12-11 23:09] alanjosephwilliams commented on #457
This looks good. Ship this iteration!

[2015-12-11 23:11] alanjosephwilliams commented on #457
When we test it, lets see how it feels after submitting an ID. We may want to update the language in the docs flow to recognize that we anchor expectations around only one document being submitted, and we are now offering _the opportunity_ to submit more (there may be a way to tease this in the confirmation page copy as well).

[2015-12-12 03:26] carolinehays commented on #457
@lippytak re policy Q above. I think ES households only need ID of head of HH. This is from San Bern MPP. I assume others are within the 30 day window
<img width="469" alt="es id" src="https://cloud.githubusercontent.com/assets/12751256/11759976/d72d1842-a03c-11e5-9be6-df848c0cb891.PNG">

[2015-12-12 19:57] lippytak commented on #453
- County-specific stats
- lovebombs
- feedback survey...live data? few examples?
- product roadmap or features we're going to work on next (interview rescheduling, automatic outcome data collection, sar-7)

[2015-12-12 19:57] lippytak commented on #453
Maybe Kim and call and give some love to county partners :)

[2015-12-12 20:04] lippytak commented on #457
oh fantastic @carolinehays ! I'll figure out how we can emphasize that appropriately above.

[2015-12-12 20:20] lippytak commented on #457
I think for now we can specifically say the first person's name in the confirmation page:

![screen shot 2015-12-12 at 12 16 45 pm](https://cloud.githubusercontent.com/assets/2533112/11763731/81454736-a0ca-11e5-9458-6bc72f40eb06.png)

But the doc upload screen will still reference 'all HH members' so we don't have to create another Typeform or do weird param passing:
![screen shot 2015-12-12 at 12

[2015-12-12 20:26] lippytak commented on #457
Since more people are going to be hitting our income docs section when they're really only intending to submit ID, I'm changing the income and 'other docs' copy from this:
![income-before](https://cloud.githubusercontent.com/assets/2533112/11763750/6881ca66-a0cb-11e5-90b4-b83db3fcc2da.png)

To this:
![income](https://cloud.githubusercontent.com/assets/2533112/11763753/6cbc4b6a-a0cb-11e5-81cc-6822e

[2015-12-12 20:39] #457 closed

[2015-12-14 19:10] lippytak commented on #455
Value has been DELIVERED.

Answer is CF 37 as verified by AJW

[2015-12-14 19:10] #455 closed

[2015-12-14 19:53] lippytak commented on #338
deprecated

[2015-12-14 19:53] #338 closed

[2015-12-15 02:33] daguar commented on #455
Ooo, how'd we find out? Food bank?

[2015-12-15 05:35] lippytak opened #458 "Nov expense report"
Waiting on AJW to check:
- Airbnb $260 cost
- microsoft thing $75 on nov 11
- Adobe creative cloud

[2015-12-16 18:24] alanjosephwilliams commented on #455
@daguar Carissa and Beverly

[2015-12-16 19:58] daguar opened #459 "Set up Pivotal work for Q1"
Creating a new issue, bumping discussion from @alanjosephwilliams's ping 11 days ago https://github.com/codeforamerica/health/issues/405#issuecomment-162265042

[2015-12-16 22:37] lippytak commented on #406
Emailed to setup 'start pilot' call. Deferring outcomes until we have some cases to go with because Rick was confident that he could just figure it out.

[2015-12-16 22:38] lippytak commented on #406
See #349 going forward

[2015-12-16 22:38] #406 closed

[2015-12-17 18:37] daguar commented on #458
Is the $260 the fee from the DC place?

[2015-12-17 18:59] lippytak commented on #458
@daguar yep

[2015-12-17 19:00] lippytak commented on #455
AND Bernadette :)

On Wed, Dec 16, 2015 at 10:33 AM, Alan Joseph Williams < notifications@github.com > wrote:
@daguar Carissa and Beverly

—
Reply to this email directly or view it on GitHub .

[2015-12-17 19:04] alanjosephwilliams commented on #458
All three sent to @lippytak

[2015-12-17 19:21] lippytak opened #460 "Transfer recurring expenses to ST amex"
- Typeform
- Zapier
- Front
- Creative Cloud
- Microsoft 360
- GetDrip
- Textit.in
- Intercom
- Hellofax
- Browserstack

Probably more...will look through my expense reports

[2015-12-17 19:23] daguar commented on #460
Some of these probably can probably also be CFA accounts (exception: PII) and help others use them

[2015-12-17 19:23] lippytak commented on #460
@daguar good point - I'd say that's only creative cloud and MS though, right?

[2015-12-17 19:25] daguar commented on #460
I don't know the account structure of all of these, but there's probably some economies of scale out there

[2015-12-17 19:34] lippytak opened #461 "Open health repos to org (and generally fiddle with GH config)"
- health = public
- health-logs = open to org
- health-notes = open to org
- health-private = team stuff, mainly for PII
- project specific = open to org (project team = contributors, as needed)

[2015-12-17 19:34] lippytak commented on #461
@daguar feel free to FISI at your convenience. Otherwise I'll take care of it soon.

[2015-12-17 19:36] daguar commented on #461
:+1: I prolly won't get to it; also request to review logs + notes + project ones just to be sure no PII or other stuff we'd NOT want org-open in there (I believe there may be)

[2015-12-18 15:57] lippytak commented on #461
K there are 3 main concepts now:
- *Org owners* = can read/push/add collaborators on every CfA repo regardless of any other permissions (technically not a 'team' but...whatevs)
- *Teams* = groups of org members. The important ones for us are Health, CfA Staff, and 2015 Fellows (soon to be 2016)
- *Permissions* = Teams of people (or individual 'collaborators') can either have admin, write, or read

[2015-12-18 15:57] #461 closed

[2015-12-18 15:59] lippytak commented on #461
PS. I did glance through health-notes and health-logs and didn't see any PII, but double checking is encouraged

[2015-12-18 16:13] lippytak commented on #459
@daguar we can move this forward at our discretion (no org blockers now) so let's have the team discussion and then ship it

[2015-12-18 17:49] lippytak commented on #349
Scheduled calls next week w Hunger coalition + SD211. Done with this for the week.

[2015-12-21 17:53] #458 closed

[2015-12-21 18:02] #269 closed

[2015-12-22 17:20] alanjosephwilliams opened #462 "fellow inception"
Just a stub for thinking about what to present to the new crop of fellows on January 6:

- FIDG
- Stokedness Formula (Depth of Impact * Breadth of Impact * ROI...)
- Manager's Formula from High Output Management
- Impact of a feature = Impact of single use * Frequency of use * Number of users
- JIT Research

[2015-12-22 19:01] alanjosephwilliams commented on #442
@lippytak had the meeting and reported back that it wasn't the right time or fit.

[2015-12-22 19:02] #442 closed

[2015-12-22 19:48] lippytak commented on #462
Is this a session to all fellows or for just hanging with the #healthies?

[2015-12-22 20:00] alanjosephwilliams commented on #462
@lippytak mostly things to impart upon them by whatever means makes sense

[2015-12-22 20:00] alanjosephwilliams commented on #462
was thinking more for all fellows

[2015-12-23 22:47] daguar opened #463 "ADS for holiday week (new year's)"
How does this split sound:
- Monday: dave
- Tuesday: jake
- Wednesday: ajw
- Thursday: ajw
- Friday: ajw(edited)

[2015-12-28 16:02] daguar commented on #463
This is me today

[2015-12-28 16:06] alanjosephwilliams commented on #463
:+1:

On Monday, December 28, 2015, Dave Guarino <notifications@github.com> wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-12-29 17:33] daguar commented on #463
@lippytak is on today

[2015-12-30 15:35] alanjosephwilliams commented on #463
My day today :+1:

[2015-12-30 16:07] lippytak opened #464 "Decide if/how we can give Contra Costa FB better outcome data"
- Can we get/share outcomes through the county?
- Can we submit CC cases through their CBO account?
- Other ideas?

[2015-12-30 17:17] alanjosephwilliams commented on #464
Are we sharing outcome data with any CBO partners right now?

[2015-12-30 17:34] lippytak commented on #464
no

[2015-12-30 19:00] alanjosephwilliams opened #465 "pitch stanford social innovation review"
the SSIR would be a good place to articulate Code for America's theory of change and differentiation in approach.

We could pitch the digital editor:
http://ssir.org/bios/jenifer_morgan

Seems like they would be very receptive based on their 10 most popular stories of 2015:
http://ssir.org/articles/entry/the_10_most_popular_ssir_articles_of_2015#When:20:29:00Z

cc @stmayer @MischaByruck @Jaime-Ale

[2015-12-30 19:27] lippytak opened #466 "Research lifeline commissions"
From convo with Lifeline agent outside 1235: Apparently TruConnect (https://www.truconnect.com/) is one of a few Master Agents with CA PUC. They get ~$20 per approved Lifeline application, and pass about $10 onto their street affiliates. Since enrolled in CalFresh == eligible for Lifeline, maybe we could be an affiliate and help out clients get a free phone in our onboarding email?

[2015-12-30 22:29] lippytak commented on #349
Three distribution strats to try with SD 211:
1. Their enrollment specialists use GCF instead of MBCW. They'll plan to start 2-3 staff on Tues Jan 26th.
- We'll have to be able to attach wav/mp3 files (voice sig) in MBCW for initial apps
2. Social media marketing with a custom URL - they do shtuff like this
3. Print marketing at community events with custom URL

For all of these we'll have to figu

[2015-12-31 15:43] lippytak commented on #463
I'm up!

[2015-12-31 17:21] lippytak commented on #453
Goal is to keep folks engaged + supportive so they want to work with us on growth+features+biz model next year.

Distro list:
- sf hsa leo/tiana/trent/noelle
- sfmfb outreach team
- ccc vakil + FB
- cdss will/pete/kim/jeff (w a few copy tweaks)
- solano angela/karren
- placer linda/logan
- marin ronna/alice
- sd rick
- fns andy risenberg
- other - stacey dean
- internal

**Draft**
___
Linda, Logan

[2015-12-31 18:17] alanjosephwilliams commented on #463
actually I am up today! Have time blocked out and everything :)

[2015-12-31 18:53] alanjosephwilliams commented on #453
Small suggestions:
- "With help of partners like you, we made many things"
- Include an explicit thank you. "We couldn't have done it without your leadership and the collaboration of your staff"

[2015-12-31 18:53] alanjosephwilliams commented on #453
Kim call off the table?

[2016-01-01 18:27] alanjosephwilliams commented on #463
I'm on it today :)

[2016-01-01 23:31] alanjosephwilliams commented on #463
_fin_

[2016-01-01 23:31] #463 closed

[2016-01-01 23:40] daguar commented on #463
Apps in before 5 will still go in tho yes?

[2016-01-01 23:50] alanjosephwilliams commented on #463
Same Day Service Guaranteed™

On Fri, Jan 1, 2016 at 5:40 PM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-01-04 15:59] alanjosephwilliams commented on #349
I can run point on producing some outreach materials—the social media and print stuff. The only blocker is a custom URL. We've discussed a few different approaches in the past, so let's pick one.  Any reason not to go with getcalfresh.org/sandiego?

[2016-01-04 17:40] alanjosephwilliams commented on #440
this issue appears to longer be timely

[2016-01-04 18:01] alanjosephwilliams commented on #443
this is a duplicate issue, i suggest closing

[2016-01-04 18:01] #443 closed

[2016-01-04 18:02] alanjosephwilliams commented on #445
We considered this, did a substantial amount of follow up in the Quality Cohort, and ultimately eliminated the "call me" option for follow ups.

[2016-01-04 18:02] #445 closed

[2016-01-04 18:04] alanjosephwilliams commented on #447
related to #349

[2016-01-04 18:06] #344 closed

[2016-01-04 18:06] alanjosephwilliams commented on #344
Closing this issue for now as we have become more oriented toward feature-driven research for the time being.

[2016-01-04 18:10] alanjosephwilliams commented on #291
@daguar @lippytak should we loop back with Sonoma now that cranking up the volume is again a short/medium term goal?

[2016-01-04 18:38] lippytak commented on #463
Pens down 2016

[2016-01-04 18:46] lippytak commented on #291
Good question/topic for offsite.
Personally I think we should be focused on making SD (and others) happy and not
reaching out to counties (especially non-Molina counties) right now.

On Mon, Jan 4, 2016 at 10:10 AM, Alan Joseph Williams < notifications@github.com > wrote:
@daguar @lippytak should we loop back with Sonoma now that cranking up the volume is again a
short/medium term goal?

—
Reply t

[2016-01-04 18:47] lippytak commented on #374
Going to re-open but put in backlog.

[2016-01-04 18:54] lippytak commented on #440
Timeless!

[2016-01-04 18:55] alanjosephwilliams commented on #466
Maybe we could just fill out Lifeline forms automatically and send them to the California LifeLine Administrator:
https://www.californialifeline.com/en/sample_forms

[2016-01-04 18:56] lippytak commented on #466
No commission if we do that, I believe

On Mon, Jan 4, 2016 at 10:55 AM, Alan Joseph Williams < notifications@github.com > wrote:
Maybe we could just fill out Lifeline forms automatically and send them to the
California LifeLine Administrator:
https://www. californialifeline.com/en/ sample_forms

—
Reply to this email directly or view it on GitHub .

[2016-01-04 18:59] alanjosephwilliams commented on #466
Totally—wondering if JFDI is the fastest route to partnership and commissions.

[2016-01-04 19:23] #433 closed

[2016-01-04 19:24] #355 closed

[2016-01-04 19:49] lippytak commented on #448
@daguar @alanjosephwilliams looks like we can get a simple 5x5" self-standing engraved wood w a logo on front / quote on back for about ~$65/per = ~325 total for partners. Think we should do this?

[2016-01-04 20:03] daguar commented on #291
I agree with you @lippytak — there wasn't a huge amount of excitement at the high level, so for now I think we focus where that exists (and/or where there's more strategic value, eg Molinda)

[2016-01-04 20:19] alanjosephwilliams commented on #448
Yes.

On Mon, Jan 4, 2016 at 2:56 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-01-04 21:47] lippytak commented on #453
@daguar plz take a quick look!

[2016-01-04 23:27] lippytak commented on #459
I'll work with Richard to get more info on their process and aim to start pairing around Feb 1.

[2016-01-05 17:07] daguar commented on #453
Looks good.

- Maybe mention what % of clients are from phones, who might not have applied otherwise (or shown up in lobby)
- Maybe think more on the framing around non-profit business model -- what's the best language and goal for saying this?
- What else will get them super stoked? I think this could use one more element

[2016-01-05 17:10] daguar commented on #448
Also yes, though ping ST to get her take on whether any partners would be freaked out by the gift aspect.

[2016-01-05 21:45] lippytak commented on #464
We decided to offer to offer them monthly screenshots of CC segment of MBCW report on a monthly basis. I pinged Caitlin to confirm and will close this when I hear back from her that this solves her issue.

[2016-01-05 22:12] lippytak commented on #459
Email out to Richard

(1) learn more about the pivotal process, (2) identify a team & start date (ideally around Feb 1 for us), and (3) writeup a rough scope of work so we all have shared expectations going in.

[2016-01-05 22:53] alanjosephwilliams commented on #447
Assets:
- Wallet cards
- Editable flier in Google Docs or Word
   - Logo for SD Hunger Coalition
   - Logo for County
   - Logo for 211
- Sample FB Post & Tweet

[2016-01-06 19:27] lippytak commented on #464
Caitlin confirmed

[2016-01-06 19:27] #464 closed

[2016-01-06 19:32] lippytak commented on #447
@alanjosephwilliams so we only need two public-facing custom URLs for now...I'd propose:
- sd211.getcalfresh.org - For SD 211 to hand out during community events
- sandiego211.getcalfresh.org - For SD 211 to share online/social media

All other use cases involve assisters so we can use the source param.

[2016-01-06 19:34] daguar commented on #447
I vote just the sd211 link — seems fine for both, right?

On Wed, Jan 6, 2016 at 11:32 AM, Jake Solomon <notifications@github.com>
wrote:

--
Dave Guarino
Engineer, Health

[2016-01-06 19:40] lippytak commented on #447
I think we want separate links so we can help them test the effectiveness of their print vs online marketing in terms of application conversion

[2016-01-06 19:47] lippytak opened #467 "Little hoover UX commission"
5 min talk on Jan 21 in Sac, preferably about CalFresh stuff, anyone from CfA works.

[2016-01-06 19:53] alanjosephwilliams commented on #467
I was interested / planning on at least attending this

[2016-01-06 19:54] alanjosephwilliams commented on #447
:+1: thanks for unblocking

On Wed, Jan 6, 2016 at 11:40 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-01-08 16:16] lippytak commented on #453
Thanks to endless support and guidance from a growing bullpen of partners, we were able to [make](http://citizenonboard.com/snap/ca/) [many](http://ebtnearme.org/) [things](http://www.codeforamerica.org/products/balance/) in 2015. We built a simple online application for CalFresh that takes 10 minutes and works on mobile phones. We started active pilot partnerships with 6 California counties and s

[2016-01-08 17:57] #453 closed

[2016-01-08 20:15] alanjosephwilliams commented on #448
great to see this shipped!

[2016-01-08 21:27] alanjosephwilliams commented on #447
Flier:
https://docs.google.com/presentation/d/16wYPQ_g9GBKvy-fvaav0KZHatAWv4kV7QfhHV_a6Ny0/edit#slide=id.ga28a757ba_0_14

[2016-01-12 00:46] daguar opened #468 "Give SF Food Bank clients access to Connect"
Liliana requested this, and said it would be a huge benefit (even with only ~75% connection rate of calls). Let's consider and give the :+1: if it makes sense. This probably also requires recording a Spanish language message for the Spanish line (can probably wait on Chinese or ask the FB).

[2016-01-12 17:35] lippytak commented on #448
Do Less™

[2016-01-12 17:35] #448 closed

[2016-01-12 17:35] lippytak commented on #440
Do Less™

Yaya I was wrong.

[2016-01-12 17:35] #440 closed

[2016-01-12 17:37] lippytak opened #469 "Compare CDSS MBCW data with ours & any C4 conf numbers"
Jeff and Anna send some aggregate outcomes for our MBCW cases so we can compare and see how accurate/not consortium data is with ours.

[2016-01-13 18:38] daguar commented on #468
Can I get a :+1: to say yes and say we can change the voice audio for new language in the future? @lippytak

[2016-01-13 19:13] lippytak commented on #468
:+1:

[2016-01-13 21:00] daguar commented on #468
Done

[2016-01-13 21:00] #468 closed

[2016-01-13 22:03] lippytak commented on #459
Talking to Richard next week...scheduling to ensue

[2016-01-14 06:41] lippytak opened #470 "Little Hoover Commission UX talk"
5 mins, slides optional (due Tues), brief summary of SNAP X and maybe a bit on what gov partners can do to help.

"Honestly, a quick introduction to Code for America and an overview of your CalFresh project would be perfect. Your before/after story is so compelling, and so is your description of the kinds of thinking and focus that it takes to get there. Anything you could say about what you need

[2016-01-16 17:24] lippytak opened #471 "Caroline letter of rec"

[2016-01-16 17:27] #467 closed

[2016-01-16 20:18] #471 closed

[2016-01-16 21:20] lippytak commented on #447
Let's ship this week: flyers (PDF) and ~1k wallet cards with front= GCF and back = Balance

[2016-01-17 01:55] alanjosephwilliams commented on #467
link?

On Sat, Jan 16, 2016 at 9:27 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-01-17 05:24] alanjosephwilliams commented on #447
![image](https://cloud.githubusercontent.com/assets/2983464/12376091/2ed0f9f8-bc97-11e5-8edb-e440e17f934d.png)

@daguar @lippytak let me know if you think we can do GetCalFresh and Balance on the same side, and position Balance as a secondary service—if so, I'll try to tighten up the text/colors/pattern on this direction, which I think is working.

Having both English and Spanish on the same side

[2016-01-17 19:58] lippytak commented on #447
Maybe 'apply' on front and 'check your balance' on back?

On Sat, Jan 16, 2016 at 9:24 PM, Alan Joseph Williams < notifications@github.com > wrote:

@daguar @lippytak let me know if you think we can do GetCalFresh and Balance on the same side,
and position Balance as a secondary service—if so, I'll try to tighten up the
text/colors/pattern on this direction, which I think is working.

Having both

[2016-01-17 20:07] daguar opened #472 "Prepare "rapid prototyping" prezo"
This is this Wed 3-4

cc @lippytak @alanjosephwilliams

[2016-01-19 17:30] daguar commented on #447
Hrm, yeah this is tough. I think I lean towards either:

- Different cards by language (English/Spanish)
or
- Different cards by service (GCF vs Balance)

if it keeps the design cleaner. I also like some sort of value proposition language for GCF, since I think it's just straight up a different user context than Balance.

[2016-01-19 18:22] lippytak opened #473 "Turn on SD adwords"
It's time.

[2016-01-19 18:39] daguar commented on #473
👍🚀🚢

[2016-01-19 22:47] lippytak opened #474 "Setup Ren with calfresh in a day or other in person app assistance event"

[2016-01-19 23:19] #469 closed

[2016-01-19 23:20] lippytak commented on #469
BLUF: MBCW CBO data seems to greatly underreport approval rates and overreport 'Denied-Other' and 'Pending' applications.

[2016-01-20 00:34] daguar commented on #459
@lippytak will ping today

[2016-01-20 18:11] lippytak commented on #472
@alanjosephwilliams plz drop slide link here (w edit access). I have 2:30-3 blocked off to prep.

[2016-01-20 18:51] alanjosephwilliams commented on #472
edit access sent yesterday:
https://docs.google.com/presentation/d/128l0lSjRYmibJM4mF29MN5WfHBgVYMEJv7tstTOdPM4/edit#slide=id.g1067c29d1a_0_10

[2016-01-21 03:09] #472 closed

[2016-01-21 07:02] daguar opened #475 "Watch Yes Minister"

[2016-01-21 07:02] lippytak commented on #475
Thx will discuss at next sprint plan.

On Wednesday, January 20, 2016, Dave Guarino <notifications@github.com>
wrote:

--
Via thumbs

[2016-01-21 07:03] daguar commented on #475
<img width="493" alt="screen shot 2016-01-20 at 11 03 15 pm" src="https://cloud.githubusercontent.com/assets/994938/12473758/03c03b30-bfca-11e5-9d7c-4c44404972aa.png">

[2016-01-21 07:05] daguar commented on #475
https://www.youtube.com/watch?v=dIto5mwDLxo&t=0m50s

[2016-01-21 07:15] daguar commented on #475
Available on Hulu Plus

[2016-01-22 21:08] lippytak opened #476 "Decide if we want to build a SNAP verification API for ThriveMarket"
BG: https://github.com/codeforamerica/health-notes/issues/55

[2016-01-22 21:09] lippytak commented on #476
Is this a BFD (big fat distraction)? How should we make a decision about this? What price point (upfront + per verification) changes things?

[2016-01-22 21:40] lippytak commented on #470
bit.ly/cfa-uxshowcase

[2016-01-22 21:40] #470 closed

[2016-01-23 21:25] #460 closed

[2016-01-25 04:55] alanjosephwilliams commented on #447
I pinged Liliana to comment on the translation here. We will stick with the Balance designs we have.

Do we have two Balance #s for SD 211 yet?
![image](https://cloud.githubusercontent.com/assets/2983464/12542797/c328d724-c2dc-11e5-991c-41cc2d98b73b.png)

[2016-01-25 17:05] daguar commented on #447
Do we need/want a separate one for SD HSA vs. 211SD? (I didn't think we did, but not sure.)

Here are the SD HSA #s:
+1 619-356-2629: sd-hsa english
+1 619-356-2780: sd-hsa spanish

[2016-01-25 17:32] lippytak commented on #447
@alanjosephwilliams yeah just go with those. Thanks @daguar :+1:

[2016-01-25 17:48] daguar opened #477 "Do a quick web version of Dave's 2015 Twilio Signal conf talk"
a la Pinboard; low priority but folks said they found it useful, and I think it's decent content marketing/tactical insight

[2016-01-25 17:54] lippytak commented on #477
feel free to grab simple template at
http://codeforamerica.github.io/the-mission-is-delivery/

On Mon, Jan 25, 2016 at 9:48 AM, Dave Guarino < notifications@github.com > wrote:
a la Pinboard; low priority but folks said they found it useful, and I think
it's decent content marketing/tactical insight

—
Reply to this email directly or view it on GitHub .

[2016-01-25 18:22] alanjosephwilliams commented on #447
I pinged Liliana to check the translation, then we will ship.

On Mon, Jan 25, 2016 at 9:32 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-01-25 18:25] lippytak commented on #473
![screen shot 2016-01-25 at 10 24 58 am](https://cloud.githubusercontent.com/assets/2533112/12560146/ebd7d672-c34d-11e5-8de0-464d745e4496.png)

[2016-01-25 18:25] #473 closed

[2016-01-25 18:31] daguar commented on #473
@lippytak any interest in adding an adwords source var?

[2016-01-25 18:31] lippytak commented on #473
already there, source=google.

On Mon, Jan 25, 2016 at 10:31 AM, Dave Guarino < notifications@github.com > wrote:
@lippytak any interest in adding an adwords source var?

—
Reply to this email directly or view it on GitHub .

[2016-01-25 18:32] daguar commented on #473
:+1: #lackofrigor

[2016-01-25 22:01] lippytak commented on #474
Ren will join Francesca for CFIAD on Wed or SF health plan event on Sat. I'll ping them to confirm tomorrow / Friday

[2016-01-25 22:01] #474 closed

[2016-01-26 19:57] lippytak commented on #459
call set for fri

[2016-01-26 19:58] alanjosephwilliams commented on #447
Liliana advised and we tweaked the translation. Order ready, 1k of each. Just waiting on a new shipping address.

[2016-01-26 19:58] daguar commented on #459
:+1: Could you send out invite?

[2016-01-29 03:16] alanjosephwilliams opened #478 "cold email challenge: aaron sitig / public studio"
https://www.quora.com/Who-has-most-influenced-your-product-thinking
https://www.facebook.com/aaron
hello@publicstudio.com

[2016-02-03 18:33] daguar opened #479 "Double-check whether Caroline's conversion #s included non-online app submission"
I think you're probably right looking at it, but not clear from the PPT I think

[2016-02-04 00:50] lippytak commented on #479
@carolinehays can you quickly clarify something for us?

In your sample of ~30 online applicants, approx what % of them submitted an online application on their first try? My memory says 40% but @daguar suggests the 40% number may also have included people who gave up online and went to other methods?

Thx!

[2016-02-04 06:14] carolinehays commented on #479
Ah good clarification - 40% submitted an application on their first try through MBCW. that number doesn't include folks who told me they printed out an application to mail in or planned to go to the office.
Happy to pull some more detail out of the data on what the breakdown of the other 60% was, e.g. how many gave up, how many went to other methods of applying, how many planned to try again onlin

[2016-02-04 16:23] daguar commented on #479
Ah okay, @lippytak was right on the money.

@carolinehays If it's quick and easy, I would say understanding how many people switched to a different application channel (office, paper, etc.) by channel would be useful, as well as how many straight-up gave up.

[2016-02-05 18:54] lippytak commented on #459
next call set for thurs AM

[2016-02-05 18:54] #475 closed

[2016-02-05 18:54] lippytak commented on #476
no

[2016-02-05 18:54] #476 closed

[2016-02-05 19:02] daguar commented on #459
Is that one I should join, or still not at that point?

[2016-02-05 19:03] lippytak commented on #459
not yet
this is still identifying POC and start date.
i'll def let you know when it gets to substantive work stuff.

On Fri, Feb 5, 2016 at 11:02 AM, Dave Guarino < notifications@github.com > wrote:
Is that one I should join, or still not at that point?

—
Reply to this email directly or view it on GitHub .

[2016-02-05 20:14] #479 closed

[2016-02-05 20:58] carolinehays commented on #479
@daguar realized I captured this already in "next steps." Didn't get complete data on it, but of those that answered, 3 planned to go to an office. 2 of those explicitly mentioned printing an app and bringing it, the third had questions and figured could go to the office to get them answered and then apply there.
![image](https://cloud.githubusercontent.com/assets/12751256/12858936/dd2fda76-cc07-1

[2016-02-13 21:29] lippytak opened #480 "OKRs"
ST sent format

[2016-02-13 21:31] lippytak commented on #480
https://docs.google.com/spreadsheets/d/1chdVID433l9uHbWJyZF8mLwXr4j_VAN6uY27gjcM3hs/edit?ts=56ba19a3#gid=1876593482

[2016-02-13 21:42] lippytak opened #481 "Update Ronna"

[2016-02-16 20:45] alanjosephwilliams commented on #447
Moving to "ready".  Was holding on this purchase for confirmation from SD contact via Jake.

[2016-02-16 20:48] alanjosephwilliams opened #482 "Outline HKS presentation"

[2016-02-16 20:49] alanjosephwilliams commented on #482
@daguar I'd love to be able to give feedback on what you prepare.  Preach the Delivery Gospel!

[2016-02-16 20:49] alanjosephwilliams opened #483 ""Iterative Development" Guide for CfA.org"

[2016-02-16 20:50] alanjosephwilliams commented on #483
Upon request from @davidrleonard, I'm taking a pass at some content a la the User Needs 101 guide.

[2016-02-16 20:50] alanjosephwilliams commented on #395
It's time. Moving to this week's Meditative Walk.

[2016-02-16 20:53] alanjosephwilliams opened #484 "Review HC COP content"

[2016-02-16 20:54] alanjosephwilliams commented on #484
This is the draft written by Silent D! Let's give good feedback and make it great. Assigning to you @daguar but we should all weigh in.

[2016-02-16 21:24] alanjosephwilliams opened #485 "Research round-up for USDS"

[2016-02-16 21:25] alanjosephwilliams commented on #485
Not urgent, but USDS is interested in understanding the full sweep of our research and findings to date. They are a good concrete audience with a timely need to motivate us to do that polishing and packaging. Leaving this in the Ready column for now.

[2016-02-16 23:36] davidrleonard commented on #483
Can I provide any support, @alanjosephwilliams? Thanks so much for your help — you are amazing.

[2016-02-17 05:38] alanjosephwilliams commented on #483
don't think so, just a long day. writing an outline tonight, then turning
back to it first thing AM. Let's sync up by lunchtime.

On Tue, Feb 16, 2016 at 3:36 PM, David Leonard <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-02-17 15:53] daguar commented on #482
I forwarded an email with some context; sounds like only a 5-15 min prezo with the remaining ~60 mins being Q&A with David E. His focus is on being user-centered (why, how.)

[2016-02-17 18:45] #349 closed

[2016-02-18 17:38] alanjosephwilliams opened #486 "Fix Adobe Acrobat"

[2016-02-18 17:38] alanjosephwilliams commented on #486
I'm currently unable to saved reduced sized PDFs and that is killing my ability to submit docs on occasion. Fix ASAP.

[2016-02-18 17:45] daguar commented on #486
I have mine working rn so ping me if needed

[2016-02-18 19:41] daguar opened #487 "Write a Service Delivery Koan"

[2016-02-19 16:30] lippytak opened #488 "Pivotal MOU draft for Jessica"

[2016-02-19 16:33] #480 closed

[2016-02-19 16:39] lippytak opened #489 "Decide of any of Kims ideas are appealing+feasible"
- WIC + SNAP in certain counties
- Custom landing page for health clinics
- How to reach ~1m kids getting school meals and not SNAP
- Simplified application for senior applicants (e.g., http://www.mass.gov/eohhs/docs/dta/c-snapapp-elderly-eng.pdf)
- Procurement consulting on online app

[2016-02-19 16:52] stmayer commented on #488
I want to see this before we finalize. Tx. ST

Sent from my iPhone

[2016-02-19 17:33] alanjosephwilliams opened #490 "Position description for Contract Engineer"

[2016-02-19 17:34] alanjosephwilliams commented on #490
@daguar I'll take a first pass but will need and want significant input from you.

[2016-02-19 17:35] alanjosephwilliams commented on #487
lol I love this framing.

[2016-02-19 19:25] lippytak commented on #488
definitely. I jotted down a few bullets for Meghan to draft the MOU

[2016-02-19 19:25] #488 closed

[2016-02-21 19:00] daguar commented on #489
I definitely think some of these are feasible and well-scoped smaller projects worth doing.

On the school meals, the new bill may be an opportunity, but probably requires resourcing.

[2016-02-22 05:29] alanjosephwilliams opened #491 "GCF system diagram"

[2016-02-22 05:29] alanjosephwilliams commented on #491
This will be profoundly useful in the Pivotal Scoping meeting.

[2016-02-22 20:57] alanjosephwilliams commented on #489
Immediate next step is to schedule a time for Kim to meet ST. @stmayer pointed out, we should scope these as paid engagements that potentially lead to new head count. We can use that meeting as a deadline to think these through.

[2016-02-22 21:53] alanjosephwilliams commented on #489
FU to Kim sent.

[2016-02-23 06:32] alanjosephwilliams commented on #487
NUDGE!

On Thu, Feb 18, 2016 at 11:41 AM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-02-23 17:55] alanjosephwilliams commented on #486
fixed. just needed to open a different version.

[2016-02-23 17:55] #486 closed

[2016-02-24 00:13] #459 closed

[2016-02-29 20:15] #482 closed

[2016-02-29 20:15] #484 closed

[2016-02-29 20:52] daguar commented on #482
https://docs.google.com/presentation/d/1j3Fs3HLo6rgTDRvScX4lxRZAvJrPrrmGCeCHsQwsU4o

[2016-03-01 16:49] lippytak commented on #447
Request to include SD 211 logo. Will forward email to you now ajw

[2016-03-02 20:59] daguar commented on #385
Not doing for now, and I've turned off the demo instance (reusing phone #)

[2016-03-02 20:59] #385 closed

[2016-03-03 18:17] alanjosephwilliams opened #492 "GCF vs. MBCW vs. C4 Evaluation"
Recap of thinking about this project to date, piped over from private repos:

#### Originally spec'd out here
https://docs.google.com/document/d/1EQuk9JVVFQ1df6Ui_GybsnV-E44BK7Y7K22k8QHCGOs/edit#heading=h.wqr0jsxjwkip

#### Quicker turnaround scope originally intended to be delivered before Reid pitch

By 22nd we can might be able to get a good baseline & comparison data for:
- Conversion rate
- C

[2016-03-03 18:17] alanjosephwilliams commented on #492
#### Relevant data from past studies and current analytics

I'm going to recap what we know already, from our own data on GCF and Caroline's research on MBCW, as we prep to share with others in the org and scope the next tranche of work.

First up, GCF data:
(All of Jan/Feb 2016, excluding Feb 29)

| Step | Users | Data Source   |
|------------------|------|---|---|
| visitors to `/apply` from `/c

[2016-03-03 20:00] #481 closed

[2016-03-04 01:31] daguar commented on #492
To clarify the SD #, I'm pretty AdWords are off so I'm not sure that we know what max'd out AdWords blitz on SD would yield.

[2016-03-04 01:31] daguar commented on #492
(Ah I misunderstood, that was copy/pasted; but the general point that we could blitz SD [maybe SF too?] and get a fair # is right to me.)

[2016-03-04 17:15] daguar commented on #492
FYI — I just realized that our numbers from Typeform unique IDs are an _underestimate_ of our conversion since right now both (1) our manual testing of the site [locally or on dev], as well as (2) our automated test suite's integration tests, _actually_ visit the Typeform, which increments that #.

If we want/need to change this to get numbers, let's make it a priority in the study.

[2016-03-07 20:50] #456 closed

[2016-03-08 18:19] alanjosephwilliams commented on #491
Profound was certainly hyperbole, but it was definitely useful.

[2016-03-08 18:19] #491 closed

[2016-03-08 18:22] alanjosephwilliams commented on #490
Holding pattern on this. Brenda is going to take a first pass on a FTE position.

[2016-03-08 18:34] alanjosephwilliams commented on #489
doing a little write up on this front in advance of Kim mtg set for 3/15

[2016-03-08 23:20] alanjosephwilliams commented on #487
@daguar post a link to your outline soon!

[2016-03-08 23:30] alanjosephwilliams commented on #492
@MatthewLoveless this is the public issue we have collecting our thinking to date.

[2016-03-11 20:35] lippytak opened #493 "Reply to Jeff about docs uploader"

[2016-03-11 23:27] #493 closed

[2016-03-14 19:14] daguar opened #494 "Set up web app for CalFresh conversion study"
- [x] Basic new app setup
- [x] Web form that collects county (dropdown), email and/or phone # (at least 1/2 required)
   - [x] Validates that _either_ email _or_ phone number is there
   - [x] Validate phone # (if present)
- [x] Front end design ( @alanjosephwilliams )
- [x] Have web app route to the correct destination (either to legacy site or randomize to GCF)
- [x] Have web app send data to t

[2016-03-14 20:55] alanjosephwilliams commented on #494
Thanks for listing out the pieces @daguar . I'm going to forgo creating a separate issue for the frontend work.

[2016-03-14 23:48] daguar commented on #494
:+1:

[2016-03-15 16:26] daguar commented on #494
v1 checklist done above. It looks like this at present:

- [ ] Basic new app setup
- [ ] Web form that collects county (dropdown), email and/or phone # (at least 1/2 required)
   - [ ] Validates that _either_ email _or_ phone number is there
- [ ] Front end design ( @alanjosephwilliams )
- [ ] Have web app route to the correct destination (either to legacy site or randomize to GCF)
- [ ] Have web

[2016-03-15 16:56] daguar commented on #494
Basic new web app setup done (Rails app config'd with failing test): https://github.com/codeforamerica/calfresh-conversion-experiment

[2016-03-15 17:53] daguar commented on #494
Basic web form done (though not the backend) so all good for @alanjosephwilliams to start on design

[2016-03-15 19:59] daguar commented on #494
Now validates that either email or phone # is filled

[2016-03-15 20:00] daguar commented on #494
Added:
- Validate email address (if present)
- Validate phone # (if present)

[2016-03-15 22:45] daguar commented on #494
Validated phone # , not going to validate email address because easy to fake anyway

[2016-03-16 23:07] daguar commented on #494
Domain and SSL all set up! Yay!

[2016-03-17 00:36] alanjosephwilliams commented on #494
Woot! Front end is in motion.

On Wed, Mar 16, 2016 at 4:07 PM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-03-17 03:13] daguar commented on #494
Done with:
 Have web app route to the correct destination (either to legacy site or randomize to GCF)

[2016-03-17 03:13] daguar commented on #494
Done with:
 Have web app send data to the GSpreadsheet (POST to Zapier)
Fields: county, destination [eg, MBCW, C4, YBN, GCF], phone number, email
 Set up Google Spreadsheet to collect the info
 Configure Zapier to put the info in the GSpreadsheet

[2016-03-17 03:44] daguar commented on #494
Done with adding timestamp

[2016-03-17 04:16] daguar commented on #494
Done with the actual routing of people

[2016-03-17 04:19] daguar commented on #494
Heads up @alanjosephwilliams — I've added another view at `app/views/external_sites/shell_for_outbound_linking.html.erb`

This is the "confirmation" view of sorts that folks will have before being automatically redirected to the correct system. It should be pretty easy to style (it's barely any content) and may automatically pull in stuff if you're doing it in the application layout, but heads up

[2016-03-17 04:19] daguar commented on #494
(Aside: my motivation for this rather than auto-redirecting is (1) better user experience to me, and (2) we get Google Analytics with the URL of the destination we sent folks to, so a full view of the funnel in GA which is handy)

[2016-03-17 04:23] daguar commented on #494
Oh hey! Secret token is now auto-generated in the env by Heroku. How nifty!

[2016-03-17 04:25] daguar commented on #494
Done with  Force HTTPS

[2016-03-17 23:06] daguar commented on #494
Done with JS redirect after 5 seconds

[2016-03-17 23:42] daguar commented on #494
FE design done, w00t @alanjosephwilliams

[2016-03-17 23:53] daguar commented on #494
GAnalytics set up and working!

[2016-03-17 23:53] daguar commented on #494
Also, we capture the outbound destination of folks in GAnalytics (and our spreadsheet) :)

[2016-03-17 23:54] alanjosephwilliams commented on #494
:boom:

On Thursday, March 17, 2016, Dave Guarino <notifications@github.com> wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-03-17 23:54] daguar commented on #494
Tested and deleted data, yay!

[2016-03-17 23:55] #494 closed

[2016-03-17 23:56] daguar opened #495 "Turn on AdWords for conversion test"

[2016-03-17 23:56] daguar commented on #492
Web app is up and live

[2016-03-17 23:56] daguar commented on #492
GSpreadsheet is also :)

[2016-03-17 23:59] daguar commented on #494
We now redirect to CFA if someone goes to the root URL (as opposed to /apply, where our ads will send folks)

[2016-03-18 20:57] daguar commented on #495
In progress

[2016-03-18 20:57] daguar commented on #495
Reassigning to @lippytak

[2016-03-18 22:42] lippytak commented on #495
Done unless more denial emails come

[2016-03-18 22:42] #495 closed

[2016-04-04 22:12] alanjosephwilliams opened #496 "Data on Interview Rescheduling for Leo & Linda/Logan"
- number of requests
- percent responded to
- any data we have on whether interview was conducted
- any data we have on response time

[2016-04-05 16:48] daguar commented on #496
- # of requests: 6
- All 6 clients successfully rescheduled!
- % responded to: 83% (5/6) — 1 client already had one scheduled on the books, and successfully completed it
- Response time: clients receive a text and/or email with their new interview time on average about ~1-2 hours after submitting the request on weekdays; on weekends, they're able to submit requests (unlike call center) and they ge

[2016-04-05 16:55] daguar commented on #496
@alanjosephwilliams For getting info on whether interview was conducted it's a bit tricky, I don't know who we've contacted, but that'd be the way to do it.

I know we contacted the first user (who didn't get one) and the user without a rescheduled interview (who DID get one.)

Have we contacted anyone else? If not, I'll go ahead and text/email them.

[2016-04-05 18:03] #489 closed

[2016-04-05 18:03] alanjosephwilliams commented on #492
Matthew is going to give us a mid-flight update tomorrow

[2016-04-05 18:26] alanjosephwilliams commented on #496
:+1: sounds great— go ahead and take the FUs

[2016-04-05 18:37] daguar commented on #496
I've texted 3 clients to ask them.

I've excluded another 3 because:
- 2 we know the outcome already
- 1 asked to schedule theirs for a date in the future

[2016-04-05 18:38] alanjosephwilliams opened #497 "April 12 Pitch"
- content
- design
- practice

[2016-04-05 18:39] #497 closed

[2016-04-05 22:33] daguar commented on #496
@alanjosephwilliams you have what you need? If so, please close, if not please lmk what else you want. :fist:

[2016-04-05 23:15] alanjosephwilliams commented on #496
I'm good to go :+1: closing now

[2016-04-05 23:15] #496 closed

[2016-04-07 18:29] daguar opened #498 "Add source param to conversion study apps"

[2016-04-07 18:31] daguar opened #499 "Make both email and phone # fields appear on conversion app"

[2016-04-11 15:42] daguar commented on #498
Done!

[2016-04-11 15:42] #498 closed

[2016-04-13 18:59] daguar opened #500 "Make sure Andrew has access to all repos"

[2016-04-13 19:00] #500 closed

[2016-04-18 20:29] daguar opened #501 "Onboard Andrew"

[2016-04-18 20:33] daguar opened #502 "Agenda for Placer Meeting"

[2016-04-18 20:35] daguar opened #503 "CalFresh story gathering"

[2016-04-18 20:53] #490 closed

[2016-04-19 20:21] daguar opened #504 "Add Andrew to calfresh@ email address"

[2016-04-19 20:24] daguar commented on #504
Done

[2016-04-19 20:24] #504 closed

[2016-04-26 15:32] daguar opened #505 "Sprint plan 4/26"
Just getting some ideas down somewhere for stuff to do for sprint plan at 11:

- Interview rescheduling data view/data alerts/analysis
- Front cleanup
- SAR 7 MVP spike?
- Self-attestation MVP?
- Close loop with software consulting firms (DG)
- Figure out ADS split

Feel free to add your own! (Please edit the issue text above.)

[2016-04-26 16:07] daguar commented on #505
Added:
- Figure out ADS split

[2016-04-26 21:40] alanjosephwilliams commented on #503
stories gathered, being sent to Ren

[2016-04-26 21:40] #503 closed

[2016-04-26 21:40] alanjosephwilliams commented on #502
shipped and executed

[2016-04-26 21:41] #502 closed

[2016-04-26 21:41] alanjosephwilliams commented on #501
@ondrae and I agree, he has been onboarded. Let's keep moving him up the curve.

[2016-04-26 21:42] #501 closed

[2016-04-26 22:40] daguar opened #506 "Pair to add tests/show Andrew Ruby testing"

[2016-04-27 15:51] daguar opened #507 "Update SSL cert on getcalfresh.org if necessary"
I've already renewed for 2 years on Namecheap, but we may need to do some update process on the Heroku box, not sure.

Expires on May 16th, so we need to do this before then.

cc @ondrae

[2016-04-27 16:00] daguar commented on #503
Just a heads up that I didn't see in our initial solicitation asking explicit consent to give folks' stories to a reporter — I'd really like it if we could explicitly ask the folks whose stories we intend to share prior to sending those over.

[2016-04-27 16:02] alanjosephwilliams commented on #503
👌. its somewhat explicit: "your anonymous stories help us build support",
but could be more so.

On Wednesday, April 27, 2016, Dave Guarino <notifications@github.com> wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2016-04-27 16:08] stmayer commented on #503
We need to be very explicit. "Your stories will be stripped of identifying features and shared with xyz for the following purposes ..." Or something like that.

Sent from my iPhone

[2016-04-29 17:34] daguar commented on #506
I feel like I can put up the Mission Accomplished banner on this one. Yeah, @ondrae ?

[2016-04-29 17:34] #506 closed

[2016-04-29 17:35] #505 closed

[2016-05-11 23:03] daguar commented on #507
IT IS NECESSARY

[2016-05-12 03:33] #507 closed

[2016-05-23 17:15] daguar opened #508 "REDACTED"

[2016-05-23 17:16] #508 closed, assigned to nobody

[2016-05-31 04:39] #483 closed

[2016-06-02 20:42] ghost opened #509 "stopping workers halts running jobs"
blocked waiting for this PR to be accepted into delayed job https://github.com/collectiveidea/delayed_job/pull/459

[2016-06-02 20:44] #509 closed, assigned to nobody

[2016-06-07 16:52] #129 closed

[2016-06-07 16:52] #83 closed

[2016-06-07 16:55] #204 closed

[2016-06-09 02:18] bengolder commented on #83
I should do this for S+J.

[2016-07-06 16:40] alanjosephwilliams opened #510 "Tension: ZIP codes & Counties are often mismatched by clients"

[2016-07-06 16:45] ghost opened #511 "CalfreshApplication#drive_attempts should return c4 attempts + mbcw attempts"

[2016-07-06 16:45] #511 closed, assigned to nobody

[2016-07-14 22:06] charlie-ablett opened #512 "Tension: Discuss transition for MVA"
The transition from "submit application now" to the legal page seems a little abrupt. I'd like to suggest some text/an alert saying "OK, you can submit your application now" or something like that.

[2016-07-14 23:14] #512 closed, assigned to nobody

[2016-08-01 18:54] ondrae opened #513 "Set up mail server and credentials for interview rescheduling"
# Customize default host

  config.action_mailer.default_url_options = {
    :host           => ENV['HOSTNAME_FOR_URLS'],
    :protocol       => "https"
  }

  config.action_mailer.smtp_settings =  {
    :port           => ENV['MAILGUN_SMTP_PORT'],
    :address        => ENV['MAILGUN_SMTP_SERVER'],
    :user_name      => ENV['MAILGUN_SMTP_LOGIN'],
    :password       => ENV['MAILGUN_SMTP_PASSWORD'

[2016-08-01 20:47] ondrae opened #514 "What to do with Staging?"
We noticed a config/environments/staging.rb

What should we do with this and the staging server on AWS?

[2016-08-01 21:23] ondrae opened #515 "Whats up with c4 esig needing a new pasttime and movie"
We wrote some methods to give a list of random pastimes and movies to use in account creation.

Looks like later when creating an esig, you need to give a new pastime and movie?

https://github.com/codeforamerica/gcf-backend/blob/ea1b7bd89929c5ef8590939cc4667d13b70c6c5f/lib/saws_drivers/c4_driver.rb#L282

Should we choose another random from the list or use the one we already chose for account cre

[2016-08-03 18:21] ghost commented on #513
Waiting for DNS records to update to make mailgun happy

[2016-08-04 17:43] #513 closed, assigned to ondrae

[2016-08-10 18:21] alanjosephwilliams opened #516 "log all invalid user input"
There is only so much we can anticipate about usability issues. If we log the bad inputs user give us, we might be able to learn more.

[2016-08-10 21:42] cweems opened #517 "Remove duplicate google analytics scripts from GCF homepage"

[2016-08-10 21:46] alanjosephwilliams commented on #517
we'll want to make sure analytics is on every page before we ship TRS.

[2016-08-11 00:51] ghost opened #518 "if the user decided to submit docs later (on conf page), run the driving job without waiting for an hour"
(after TRS ships)

[2016-08-11 15:51] #517 closed, assigned to cweems

[2016-08-22 18:17] daguar opened #519 "Show Typeform-apps on dashboard"
currently uses signed_at which doesn't work for typeform apps

[2016-08-22 21:25] #519 closed, assigned to nobody

[2016-08-24 00:04] charlie-ablett opened #520 ""Just me" instead of "1" for household size"

[2016-08-25 18:26] waltz opened #521 "Remove the 38rem comment from styles.scss"

[2016-08-25 18:57] cweems opened #522 "Trigger down state on continue button when user presses enter"
The goal here is to raise the user's awareness that they can just press enter to submit a section of the form. Hitting enter should trigger a down state on the continue button so that they can see this is a valid action.

Might also be worth considering adding a tooltip to the continue button saying that you can press enter instead of clicking.

[2016-08-29 21:46] waltz commented on #487
bump

[2016-08-31 18:19] #521 closed, assigned to waltz

[2016-09-09 16:56] norrishung opened #523 "Build CSS Styleguide"
Dave, Eric, and Norris all agreed that the best way start to work iteratively while avoiding frankendesign is to begin by building out the new css framework that will replace stylesheet.scss. Once the new style is more or less stable, then we can spend a day or two move through all the templates and helpers to fix the html / classnames. We can break this ticket up as we see needed.

We've been kee

[2016-09-13 18:28] #523 closed, assigned to norrishung

[2016-09-19 17:29] ondrae opened #524 "Move dashboard css from _shamehole"

[2016-09-19 17:45] #524 closed, assigned to nobody

[2016-09-20 01:06] ghost opened #525 "why did thumbnail urls expire?"

[2016-09-20 17:13] danielladevera opened #526 "Make styleguide work on staging"

[2016-09-20 17:39] danielladevera opened #527 "Add icon to error text on styleguide"
Ensure styleguide matches what a user would see on the live site: add the icon to the error validation text

[2016-09-20 18:30] charlie-ablett commented on #525
How about raising a different error based on which assertion failed?

e.g. raise AssetExpiredError if expired
raise InvalidSignatureError if signature is different

[2016-09-20 18:49] danielladevera opened #528 "Create date selector input"
The current CSS written doesn't support a date select input, so let's make one and add it to the style guide.

[2016-09-20 18:50] danielladevera commented on #528
<img width="525" alt="screen shot 2016-09-20 at 11 49 20 am" src="https://cloud.githubusercontent.com/assets/9830957/18684255/5d368fd4-7f28-11e6-8f32-8488af308859.png">

[2016-09-20 18:51] danielladevera commented on #528
We wrapped each select input in `<div class="select">` then added `style="display: inline;"` so that they'd all be on the same line 😞

[2016-09-20 21:07] #527 closed, assigned to nobody

[2016-09-21 22:38] alanjosephwilliams opened #529 "Fix Validation for Income and Expenses"
We received a live chat for someone who got stuck trying to enter "$2222.43" or something to that effect. That's input we want to allow.

[2016-09-21 23:12] #529 closed, assigned to ondrae

[2016-09-22 20:58] norrishung commented on #528
I fixed the css on this so it should work now! Someone just needs to rewrite the helper in the gcf form builder to use the right html/classes.

[2016-09-26 17:13] norrishung opened #530 "Add correct classes on form-group for error state."

[2016-09-26 17:16] norrishung commented on #530
nvm! Dup ticket.

[2016-09-26 17:16] #530 closed, assigned to nobody

[2016-09-26 21:34] #525 closed, assigned to nobody

[2016-09-26 21:52] #514 closed, assigned to nobody

[2016-09-27 16:04] #528 closed, assigned to norrishung

[2016-09-27 18:49] alanjosephwilliams opened #531 "Confirm Client visit in Solano"
- Compensation via Visa
- Car rental
- Logistics with Molly and Jess

[2016-09-27 18:53] alanjosephwilliams opened #532 "Write-up: GCF vs. No Wrong Door"
In conversations with Mollie R, she is hoping for some thoughtful articulation of why we are focusing exclusively on SNAP, which goes against all of their research findings and conventional progressive policy wisdom. We heard a similar desire from Tiana W on Friday. I'm going to take a first pass at this over the next day or so.

[2016-09-27 19:08] alanjosephwilliams opened #533 "Transcribe interviews with Steve & John from SFHSA"
Interviews conducted by AJW. Transcripts needed for use in decks, collateral, etc.

[2016-09-27 19:18] alanjosephwilliams opened #534 "Finalize breakouts for Summit team"
Summit Team needs descriptions and participants and whatnot finalized by COB Wednesday.

[2016-09-27 19:30] alanjosephwilliams opened #535 "send user reseach to Exygy"
Promised in our last meeting

[2016-09-28 18:27] daguar opened #536 "Set up Santa Cruz call"

[2016-09-28 18:43] #536 closed, assigned to daguar

[2016-09-28 18:44] daguar commented on #536
email sent, just waiting on them to schedule

[2016-09-28 18:56] daguar commented on #536
secure email account for hello@getcalfresh.org set up and creds stored in 1password

[2016-09-28 19:17] daguar commented on #532
One thing I think it'd be useful to discuss is it's not that we're dogmatic about this — it's more that we have very little data that "no wrong door" is the _right_ approach, and in actually building the services tends to make things more confusing for users, etc.

[2016-10-03 17:18] alanjosephwilliams opened #537 "Encourage feedback via live chat"
- make affordance more prominent
- prime users to use the feature
- what else?

[2016-10-03 17:19] #534 closed, assigned to alanjosephwilliams

[2016-10-03 23:37] alanjosephwilliams opened #538 "Identify & Resolve Marin issue"
- called Alex twice today
- next step: email ronna

[2016-10-03 23:37] alanjosephwilliams opened #539 "Interview PPM candidate"

[2016-10-03 23:37] #539 closed, assigned to nobody

[2016-10-03 23:37] #531 closed, assigned to alanjosephwilliams

[2016-10-04 00:32] #537 closed, assigned to norrishung, danielladevera

[2016-10-04 17:40] norrishung opened #540 "fix dashboard layout"

[2016-10-04 17:40] norrishung opened #541 "fix dashboard layout"

[2016-10-04 17:41] #541 closed, assigned to nobody

[2016-10-04 17:44] norrishung opened #542 "custom intercom acquire message for each app entry point (i.e., docs later)"

[2016-10-04 17:50] ondrae commented on #538
Get additional contacts in Marin

[2016-10-05 06:24] alanjosephwilliams opened #543 "September reciepts"

[2016-10-05 06:24] #543 closed, assigned to alanjosephwilliams

[2016-10-05 16:55] alanjosephwilliams commented on #538
email and voicemail to sabrina norred sent

[2016-10-05 16:55] #535 closed, assigned to alanjosephwilliams

[2016-10-05 16:55] alanjosephwilliams opened #544 "Give feedback on PPM candidate"
Bryan Lozano

[2016-10-05 17:06] alanjosephwilliams opened #545 "Finalize job description for Brenda"
CS person

[2016-10-05 17:37] alanjosephwilliams opened #546 "Respond to SD Hunger Coalition"

[2016-10-05 18:01] #546 closed, assigned to nobody

[2016-10-05 18:59] #544 closed, assigned to alanjosephwilliams

[2016-10-05 23:08] alanjosephwilliams opened #547 "FU with UC System Folks"

[2016-10-06 17:26] alanjosephwilliams opened #548 "Marin, Income & ES Discussion"
Goal is to make Marin a happy partner. We want to be responsive and put out their fire.

Let's talk through our current approach, different ways we might be able to address in the short.

[2016-10-06 17:27] alanjosephwilliams opened #549 "CFO Presentation Materials (assets for CFO summit)"

[2016-10-06 22:19] #538 closed, assigned to alanjosephwilliams

[2016-10-07 04:09] alanjosephwilliams opened #550 "Give feedback on SPM candidate to Neil"

[2016-10-07 18:32] norrishung opened #551 "Turn off Turbolinks"

[2016-10-07 18:33] norrishung commented on #551
So we can track people's eligibility

[2016-10-07 19:04] #551 closed, assigned to daguar

[2016-10-07 19:04] daguar commented on #551
done and live!

[2016-10-10 22:59] alanjosephwilliams opened #552 "Typo on Student Eligibility Screen"

[2016-10-10 22:59] alanjosephwilliams commented on #552
![image](https://cloud.githubusercontent.com/assets/2983464/19253781/890ba7b8-8f02-11e6-85a3-35981e216c2e.png)

[2016-10-10 22:59] alanjosephwilliams commented on #552
Should be EOPS

[2016-10-10 23:35] #545 closed, assigned to alanjosephwilliams

[2016-10-11 00:19] alanjosephwilliams commented on #548
Discussed, and Sabrina emailed

[2016-10-11 00:19] #548 closed, assigned to nobody

[2016-10-11 00:20] alanjosephwilliams commented on #549
- Postcard for CBOs shipped to printer. Going to leave it at that probably @danielladevera etc.

[2016-10-11 00:20] #549 closed, assigned to nobody

[2016-10-11 17:18] alanjosephwilliams opened #553 "CFO Presentation"
- 20 minutes
- Audience is prime contractors

[2016-10-11 20:47] alanjosephwilliams opened #554 "Show whether app drove automatically in dashboard"

[2016-10-11 23:44] alanjosephwilliams opened #555 "email ronna about call center issues + connect"

[2016-10-11 23:44] #555 closed, assigned to nobody

[2016-10-12 17:24] #533 closed, assigned to alanjosephwilliams

[2016-10-12 17:44] alanjosephwilliams opened #556 "CFO Mtg specific 1-pager"

[2016-10-13 18:16] alanjosephwilliams opened #557 "CBO v0: Initial Dashboard"
- Static Data Table
  - Name
  - DOB
  - Applied Date
  - Confirmation Number
  - Phone
  - Email
- Pending Confirmation # State
- Redacted State
- Start a New Application Btn
- CTA to give feedback
- Link to Change Password
- Link to Logout

[2016-10-13 18:17] alanjosephwilliams opened #558 "CBO v1: Case notes / Application Profile"
- Name
- Confirmation Number
- Applied Date
- Contact Info
- Field to add or edit case note

[2016-10-13 18:20] alanjosephwilliams opened #559 "CBO v0: Sign in and Sign Up"

[2016-10-13 18:21] alanjosephwilliams opened #560 "CBO v1: Password Reset"
This may come for free with the gem — but making sure the mail service is working is going to be tricky

[2016-10-13 18:23] alanjosephwilliams opened #561 "CBO v0: Client consenft to show info to CBOs"

[2016-10-13 23:33] #556 closed, assigned to nobody

[2016-10-18 18:00] norrishung opened #562 "Explorative Iteration on Branding / Homepage"

[2016-10-20 06:22] alanjosephwilliams commented on #557
Dupe of #790

[2016-10-20 06:23] #557 closed, assigned to nobody

[2016-10-20 06:23] alanjosephwilliams commented on #553
https://docs.google.com/presentation/d/1dE_ulQ1SJneGLqIwGetjgIaG5g-N96H2vrjG3RAuNhg/edit#slide=id.g184b3c8194_0_347

[2016-10-20 06:23] #553 closed, assigned to nobody

[2016-10-20 06:24] alanjosephwilliams opened #563 "Provide clients ability to opt for in-person interview"
- per feedback from FBCCS
- would allow us to more clearly guide clients on the next step in the process

[2016-10-20 06:25] alanjosephwilliams opened #564 "Improve "trust" built with Homepage design"

[2016-10-20 06:25] alanjosephwilliams opened #565 "Progress bar"
It's time

[2016-10-20 06:25] #547 closed, assigned to nobody

[2016-10-20 06:27] alanjosephwilliams opened #566 "Brief deck for UC"
Basics:
- Q4 goals: work with Santa Cruz and potentially Alameda
- Q1: Train all parties at food security conference, w/ CA Assoc of FB
- Q2: Operate in 8 of 9 counties
- Q3: Scale up

[2016-10-20 06:27] alanjosephwilliams opened #567 "Summit Talk"

[2016-10-20 06:28] alanjosephwilliams opened #568 "FU w/ Marin on interviews"

[2016-10-20 06:31] #565 closed, assigned to nobody

[2016-10-20 06:32] #564 closed, assigned to nobody

[2016-10-20 06:32] #563 closed, assigned to nobody

[2016-10-21 20:20] #566 closed, assigned to alanjosephwilliams

[2016-10-22 04:15] loumoore commented on #516
this would be a good use case for mixpanel if you want to give it a shot. happy to take this ticket and set it up if you want to assign it to me.

[2016-10-25 17:58] #562 closed, assigned to norrishung

[2016-10-25 18:00] norrishung opened #569 "CBO Features front-end cleanup"
- [ ] status/flash messages
- [ ] log -in screen
- [ ] empty states
- [ ] padding without pagination
- [ ] redact information screen
- [ ] Dashboard Link
- [ ] Sign Out
- [ ] Reset Password
- [ ] Link on homepage for assister sign-in

[2016-10-25 18:02] ondrae opened #570 "Submitter Birthday Bug"
https://github.com/codeforamerica/gcf-backend/blob/master/spec/factories/members.rb#L8

Flaky date

[2016-10-25 18:31] daguar commented on #516
This makes sense. One thing Erik suggested, similarly, was logging all POST params. There's PII issues but it's all in govcloud anyway.

Sent from my iPhone

[2016-10-25 18:42] daguar commented on #570
just a note this got created in /health so double-check what you've selected as default repo in Waffle

[2016-10-25 18:42] #570 closed, assigned to ondrae

[2016-10-25 18:54] daguar commented on #516
BTW not a case against Mixpanel - we should get that in quickly and I think
in fact Lou, sounds like got it there on Friday?

But looking at some of our few bug reports in Airbrake, having the params
of all POSTs in logs would be pretty useful (example: invalid auth token
for a form submission; wanna see if that data was garbage/hack-y or
realish.)

On Fri, Oct 21, 2016 at 9:37 PM, Dave Guarino da

[2016-10-25 19:53] loumoore commented on #516
yeah first mixpanel change is ready, which just introduces the library and does generic page view tracking. i made some updates to the original change based on pair review with dave friday, which i can check in anytime, just wanna make sure i follow the process, test it properly, etc.

if we are consistent with param names we could maybe scrub PII and use mixpanel for POST params too? maybe too ri

[2016-10-25 20:42] daguar commented on #516
@loumoore Awesome! Could you open a branch + PR, or come grab me today and we can merge + deploy to staging and try it out together?

[2016-10-25 21:04] #569 closed, assigned to norrishung

[2016-10-25 21:04] norrishung commented on #569
Ignore this one, its in the wrong repo

[2016-10-25 23:54] ondrae opened #571 "Bundle PDF page number bugs"
If the verification bundle is mushing together pdfs, then the page count can be wrong.

Check later_docs 105 for an example

[2016-10-26 00:04] daguar commented on #571
+1, this is confusing for them, and I'd noticed it too. We could just remove that line altogether to at least not confuse them.

[2016-10-31 17:06] alanjosephwilliams commented on #567
shipped

[2016-10-31 17:06] #567 closed, assigned to alanjosephwilliams

[2016-11-05 04:43] alanjosephwilliams opened #572 "feedback to ACCESS SD"
Multiple reports received Friday that phone line was down

[2016-11-08 16:35] alanjosephwilliams opened #573 "Balance in Alameda County"
Balance turned out to be the thing that got the Deputy Director very excited.

I looked at our Twilio Dashboard, and it looks like we will need to set up a balance-alameda # with a 510 area code if possible.

Once that's done, I will update the business card file and order a shipment to their office.

Showing up with value!

[2016-11-08 16:35] alanjosephwilliams opened #574 "Turn on survey solicitations"

[2016-11-08 16:40] alanjosephwilliams opened #575 "get mbcw conversion rate"
Alameda County staff were familiar with a number of changes MBCW has made over the past year to increase their conversion rate.

If that well socialized, the actual conversion rate might be well socialized as well. Let's
- look through some recent board mtg minutes
- ask some of our technical partners

[2016-11-08 18:23] alanjosephwilliams opened #576 "text Alexandra at FB of Marin"
about long docs :)

[2016-11-08 18:26] alanjosephwilliams opened #577 "Enqueue to drive immediately when later docs selected"

[2016-11-08 18:27] alanjosephwilliams opened #578 "Remove colors from CBO dashboard"

[2016-11-08 19:06] daguar commented on #573
15102579395

[2016-11-08 19:06] #573 closed, assigned to daguar

[2016-11-08 19:06] #578 closed, assigned to norrishung

[2016-11-08 22:11] daguar commented on #573
spanish: 15102579762

[2016-11-10 19:20] ondrae commented on #577
We know later_docs is chosen by the action calfresh_application#upload_later

[2016-11-10 19:25] ondrae commented on #577
A calfresh_app is actually submitted upon signature though.

We need to either wait to enqueue the driving until after docs, or somehow tell a job to not wait the usual hour.

[2016-11-11 00:14] ondrae commented on #577
@daguar and I talked this through.
1. When an app gets a signature, it will be enqueued to drive two hours later.
2. When either `calfresh_applications#confirmation` or `calfresh_applications#upload_later` happen, the app will be enqueued to drive immediately.

This is possible because we are confident that no apps that have already been driven can be driven again. https://github.com/codeforameric

[2016-11-11 03:15] daguar commented on #571
I replaced the "3 page(s) below" with "See page(s) below" because of this problem — it's a quick fix and I don't think there's a huge amount of value beyond directing internal staff to look at all the pages underneath the cover one.

[2016-11-11 03:15] #571 closed, assigned to nobody

[2016-11-17 22:37] alanjosephwilliams opened #579 "CBO Research & Growth"
- [x] Spreadsheet that includes a comprehensive list of CBOs doing CalFresh Outreach in our operational counties ( @danielladevera )
- [x] Collect & review existing research ( @norrishung )
- [x] Script for initial phone calls with existing users ( myself / AJW )
   - Evaluate current value created by GetCalFresh
   - Understand why and when people use GetCalFresh and when they dont.
   - Understa

[2016-11-17 23:15] norrishung opened #580 "Collateral explaining application / docs later mechanics"

[2016-11-22 17:43] alanjosephwilliams opened #581 "Interview Guide for Client Support"
Brenda is scheduling in person interviews for Thursday of next week, so I am prioritizing this work immediately.

[2016-11-22 18:06] #577 closed, assigned to ondrae

[2016-11-22 18:17] alanjosephwilliams opened #582 "Turn off live chat during holiday"

[2016-11-22 18:18] alanjosephwilliams opened #583 "Ping FBSFM about Immediate Enqueue"
5 to 10% of apps won't go immediately due to data validation.

[2016-11-22 18:19] alanjosephwilliams opened #584 "Send Marin Doc"

[2016-11-22 18:20] alanjosephwilliams opened #585 "Ask BALA for language that would work well given flow"

[2016-11-22 22:24] #585 closed, assigned to nobody

[2016-11-23 00:41] norrishung opened #586 "Set up meeting with Ritter in Marin"

[2016-11-23 23:24] #584 closed, assigned to nobody

[2016-11-23 23:24] #583 closed, assigned to nobody

[2016-11-23 23:24] #582 closed, assigned to nobody

[2016-11-28 18:46] alanjosephwilliams commented on #586
pinged again this AM — I am going to open an issue and get in touch with MEDA as well.

[2016-11-28 18:46] alanjosephwilliams opened #587 "Contact MEDA for site visit"

[2016-12-01 00:39] norrishung opened #588 "Analyze Funnel Data"
We've fixed the mixpanel funnel so that the completion rate is more or less on par with the numbers dashboard.  Numbers are lower in mixpanel and our hypothesis is that this is due to the way mixpanel handles user sessions and any CBOs that complete more than 1 application in one day will only count as one funnel completion.

Since we realized people are actually dropping off, I also included in t

[2016-12-01 01:00] #580 closed, assigned to norrishung

[2016-12-05 20:03] alanjosephwilliams opened #589 "Ship production /cbo page"
- [x]  @norris is going to checkin with @neilkhare and @egikow on needs they've identified
- [x] start with content
- [ ] mockups
- [ ] implementation

- v1 does not need to include an actual sign up flow.
- Conversion will measured by contacting the team.
- Should include peer validation, list of benefits, and frequently asked questions

[2016-12-05 20:04] #581 closed, assigned to nobody

[2016-12-05 20:06] alanjosephwilliams opened #590 "Prep overview docs for SH of Santa Cruz"

[2016-12-05 20:09] alanjosephwilliams opened #591 "Report out on Facebook Ad Test"
test concludes EOW

[2016-12-08 19:09] alanjosephwilliams opened #592 "Results from FB Ad Test"
- [ ] Ping Zoe to see if we have in-kind help for FB ads
- [ ] Share out results with team

[2016-12-08 19:09] #591 closed, assigned to alanjosephwilliams

[2016-12-09 00:47] ondrae opened #593 "Have all later docs processing commands record submitted date"
We know if later docs are submitted by looking for a submitted at date on the dashboard. Our commands to process and submit these documents should record this date, so we dont need to do it manually.

Its one more step before automating them.

When we mark as submitted, we do:
[code]

[2016-12-09 00:47] ondrae commented on #593
This got posted in the health repo accidentally because Waffle is waffle.

[2016-12-09 00:53] #593 closed, assigned to nobody

[2016-12-11 00:25] alanjosephwilliams commented on #587
Norris posted notes from the site visit in Slack!

[2016-12-11 00:25] #587 closed, assigned to nobody

[2016-12-11 00:25] alanjosephwilliams commented on #586
Ritter never responded. If we want to go back to them in the New Year, I will work through Alex at the food bank to do that.

[2016-12-11 00:25] #586 closed, assigned to nobody

[2016-12-11 00:25] #590 closed, assigned to norrishung

[2016-12-11 00:26] #575 closed, assigned to nobody

[2016-12-11 00:26] alanjosephwilliams commented on #575
Deprecating this issue. We should just ask our counties on an ad hoc basis, and even go directly to Joann and Hali

[2016-12-11 00:27] alanjosephwilliams commented on #579
All of these are pretty much done — I'm closing this issue and we can open new issues Monday during planning.

[2016-12-11 00:27] #579 closed, assigned to nobody

[2016-12-11 00:27] #576 closed, assigned to nobody

[2016-12-11 00:29] alanjosephwilliams commented on #572
done

[2016-12-11 00:29] #572 closed, assigned to nobody

[2016-12-11 00:50] alanjosephwilliams opened #594 "Question: measure automation in the dashboard?"
- Seems like surfacing one of our key operating metrics in the dashboard would be helpful, week over week, as we prioritize.
- Seems like it could be higher effort than its worth — could we report out every couple of weeks via a manual investigation?

[2016-12-11 00:52] alanjosephwilliams opened #595 "Brainstorm: operationalizing customer support"
Operationalizing partnership work is moving forward — Salesforce is in the works, and Waffle has taken root. Now we should turn to Customer Support. I would love to brainstorm with @daguar and @ondrae in particular this week about low LOE / high ROI ways we can make our CS workload and core service level metrics more visible in advance of our Client Support Coordinator hire.

[2016-12-11 00:53] alanjosephwilliams opened #596 "deck recapping CBO spike"
- Outline posted into health-pair
- Ship whatever we have by EOW
- Share out at following staff meeting

[2016-12-11 00:56] alanjosephwilliams opened #597 "Writeup of GCF, Code for Sac, CA Digital Services, CAFB, UC"
Backlog issue.

There is a great story to be told about the way our work is reaching many different corners of California.

- GetCalFresh expanding
- Code for Sacramento working with Mike Wilkening
- Child Welfare overhaul
- CA Digital Services team launch
- mRelief starting to work in CA
- GCF starting to work with UC Systems and Second Harvests across the state.

I'll talk to @ZoeBlumenfeld and

[2016-12-12 19:34] alanjosephwilliams commented on #589
Just checking in on this checklist — @norrishung @danielladevera does it seem complete and up to date?

[2016-12-13 21:01] norrishung opened #598 "Fix MEDA accounts"
Accidentally created a username under SF marin food bank.

Also, need to provide the main user with her password (she forgot)

[2016-12-14 18:17] daguar commented on #598
Can you give the database ID of the user? (Reminder, don't post any PII here, especially as this was opened in /health which is public.)

[2016-12-17 18:35] alanjosephwilliams opened #599 "Draft writing test for Client Coord candidates"
I'll aim to deliver this to Brenda first thing Monday morning.

[2016-12-19 22:09] norrishung opened #600 "County Marketing Page"

[2016-12-19 22:20] #599 closed, assigned to alanjosephwilliams

[2016-12-19 22:21] #592 closed, assigned to alanjosephwilliams

[2016-12-19 22:21] daguar commented on #598
norris to slack us info

[2016-12-19 22:44] norrishung commented on #598
I believe I added "Jacqueline (Lydia) Gomez” to the Food Bank of San Francisco and Marin instead of to MEDA

[2016-12-20 03:35] daguar commented on #598
I assigned to myself because I thought I'd have time but @ondrae whichever of us hits this first after doing stuff should just do it (or maybe together pairing)

[2016-12-20 03:36] daguar commented on #598
tomorrow*

[2016-12-20 03:37] daguar commented on #589
getting this live is priority 1 this week

[2016-12-20 16:47] daguar commented on #600
Replaced by https://github.com/codeforamerica/gcf-backend/issues/946 — reminder we're not using /health for tickets, make sure to check the dropdown in Waffle before adding

[2016-12-20 16:47] #600 closed, assigned to nobody

[2016-12-21 21:47] #598 closed, assigned to norrishung

[2016-12-21 21:47] daguar commented on #598
fixed, no apps to fix

[2016-12-21 23:56] daguar commented on #589
live

[2016-12-21 23:56] #589 closed, assigned to norrishung

[2017-01-04 19:02] norrishung opened #601 "Review for-counties copy and content for usefulness"

[2017-01-04 19:05] norrishung opened #602 "Design an integrated GCF admin dashboard"
Currently, GCF admins can access docs-later, applications, numbers, and CBO dashboards but it isn't clear how you get to them. Make an integrated dashboard so its clearer and more accessible.

[2017-01-05 01:58] #602 closed, assigned to norrishung

[2017-01-06 00:45] #601 closed, assigned to norrishung

[2017-01-11 17:26] alanjosephwilliams opened #603 "Immigration iteration"
Incorporating feedback from the food bank and the Bay Area legal aid folks in advance of Spanish rollout.

Two views targeted:
- the screener (which is giving poor results for mixed status households)
- Our "soft screen" later in the application (which incorrectly states some language, including focusing on the applicant instead of the household).

[2017-01-17 18:27] alanjosephwilliams opened #604 "Copywriting QA & Ship /for-counties"

[2017-01-17 18:30] daguar commented on #604
health repo

[2017-01-17 18:35] alanjosephwilliams commented on #604
x-posted to #989

[2017-01-17 18:35] #604 closed, assigned to nobody

[2017-01-17 23:31] ondrae opened #605 "Remove state from city field"
Our address parsing often breaks when a client adds in some variation of ", CA" to the city field of their address. we should clean those out.

[2017-01-17 23:31] #605 closed, assigned to nobody

[2017-01-18 19:49] norrishung opened #606 "Fix footer on mobile"

[2017-01-19 23:18] ondrae commented on #606
Is this done?

[2017-01-20 19:33] #552 closed, assigned to nobody

[2017-01-23 16:19] daguar commented on #603
P3/stretch goal for this week

[2017-01-24 22:29] #606 closed, assigned to norrishung

[2017-01-25 17:45] norrishung opened #607 "moved"

[2017-01-26 19:54] norrishung commented on #607
.

[2017-01-26 19:59] #607 closed, assigned to norrishung

[2017-01-27 23:38] alanjosephwilliams commented on #603
PR #1020 addressed the soft screen. I'm going to open a new ticket to address the screener design work

[2017-01-27 23:38] #603 closed, assigned to alanjosephwilliams

[2017-01-30 17:48] #588 closed, assigned to norrishung

[2017-01-30 17:48] alanjosephwilliams commented on #595
I'm going to open a new ticket for this — Julie's arrival on 2/7 has bolstered this work's priority.

[2017-01-30 17:49] #595 closed, assigned to nobody

[2017-01-30 17:49] #594 closed, assigned to nobody

[2017-02-06 06:45] #477 closed

[2017-02-06 06:46] #485 closed

[2017-02-06 06:47] #395 closed

[2017-02-06 06:49] #499 closed

[2017-02-06 06:58] #518 closed, assigned to nobody

[2017-02-06 07:07] #558 closed, assigned to nobody

[2017-02-06 07:07] #559 closed, assigned to nobody

[2017-02-06 07:07] #561 closed, assigned to nobody

[2017-02-06 07:12] #532 closed, assigned to nobody

[2017-02-06 07:26] #574 closed, assigned to nobody

[2017-02-06 07:30] #520 closed, assigned to nobody

[2017-02-06 07:33] #554 closed, assigned to nobody

[2017-02-13 04:44] alanjosephwilliams commented on #516
We've moved forward with mixpanel, so I am going to close this issue in favor of more well specified issues about how we might use mixpanel to log specific events or input.

[2017-02-13 04:45] #516 closed, assigned to nobody

[2017-02-13 04:46] daguar commented on #516
We actually log all POST params now, so we have it, but it's in our logs not Mixpanel.

[2017-02-14 22:27] norrishung opened #608 "Redesign later docs confirmation screen"

[2017-02-14 22:28] #608 closed, assigned to nobody

[2017-02-16 00:29] alanjosephwilliams opened #609 "Admin Timeout"
P2 for ENG this week

[2017-02-27 17:50] alanjosephwilliams opened #610 ""Super MVP" GetCalFresh for Student"
Time is passing and things are picking up in the world of student outreach.

I'll share more IRL, but I want to propose moving forward with the absolutest minimal amount of work to create a student specific experience. In my mind that includes:

- [ ] a subdomain. Perhaps students.getcalfresh.org
- [ ] a different homepage image. Perhaps Dylan.
- [ ] student specific copywriting on the homepage.
-

[2017-02-27 17:51] alanjosephwilliams commented on #610
wrong repo!

[2017-02-27 17:52] #610 closed, assigned to nobody

[2017-02-27 19:24] ondrae commented on #609
https://github.com/codeforamerica/gcf-backend/pull/882

[2017-03-13 16:00] daguar commented on #609
closing, this is in /health

[2017-03-13 16:00] #609 closed, assigned to ondrae

[2017-03-28 16:45] norrishung opened #611 "State-requested frontend changes"

[2017-03-28 22:32] norrishung commented on #611
I understand the neccesity of the language changes. I'm trying to capture the spirit of their requests while not having super awkward copy. Do you guys think this accomplishes that?

<img width="756" alt="screen shot 2017-03-28 at 3 30 29 pm" src="https://cloud.githubusercontent.com/assets/606439/24430473/9f55b2ae-13cb-11e7-9e46-0366ec1f46a8.png">

[2017-03-30 00:08] ondrae opened #612 "SMS images dont show on Zendesk"

[2017-03-30 21:54] norrishung opened #613 "Add info on immediate food assistance on the confirmation page."

[2017-03-30 21:55] norrishung commented on #611
After talking with Dave and Emily, I think this might be a good bet:

![screen shot 2017-03-30 at 2 51 19 pm](https://cloud.githubusercontent.com/assets/606439/24527853/e6b600a2-1558-11e7-8152-4f746aa51e25.png)

[2017-03-31 20:36] #611 closed, assigned to norrishung

[2017-03-31 20:38] norrishung commented on #611
This ticket has been moved into the private gcf-backend repo as issue #1281

[2017-03-31 21:06] #356 closed

[2017-04-26 16:52] norrishung opened #614 "Fix intercom initial author and icon"
We should switch intercom initial messages to come from Julie since she's the one responding to most of them now.

Also, we've gotten some anecdotal evidence that people don't know what the intercom icon means. Maybe we should keep the same placement and design but just make the icon in it a little more obvious.

[2017-05-08 17:40] bensheldon opened #615 "Update Contra Costa Screen DB column"
Connects to #1358

The name in the database for the Contra Costa Pittsburg School District is out of date and should be generalized to something like `child_in_school`

[2017-05-25 20:18] loumoore opened #616 "Disparity in conversion rate on mobile for household size step"
Between household size and household income there's a 10% dropoff on mobile vs 1% on desktop whereas every other page is pretty much the same.

[2017-05-25 20:34] daguar commented on #616
Hey Lou this was accidentally opened in health, can you delete and reopen in GCF-backend? (Annoying waffle thing)

Sent from a device likely to make me more terse than I would otherwise be

[2017-05-26 21:50] #616 closed, assigned to loumoore

[2017-06-01 17:28] norrishung opened #617 "Update homepage with test learnings"
Now that we've concluded our a/b tests.

[2017-06-01 17:28] norrishung opened #618 "Add new counties to counties page."
As per emily's request.

[2017-06-01 17:32] norrishung opened #619 "Reduce # of blurry documents"
We've heard from Marin that documents come through blurry. This is also something we've seen as we process docs.

I can think of a couple of design features and engineering features that we could implement to help alleviate this.

- [ ] Make thumbnails bigger in the document list view so that users have visual feedback of what they uploaded (and if its blurry).

- [ ] Ask the user to check the rea

[2017-06-01 17:32] norrishung commented on #619
@daguar writing up my ideas from yesterdays slack convo.

[2017-06-01 17:37] norrishung opened #620 "Address slowness of admin pages"
(and server load?)

[2017-06-01 17:43] jessieay opened #621 "Update eligibilities controller"
check for `request.get?` instead of presence of params

[2017-06-01 19:33] bensheldon commented on #621
Copied to https://github.com/codeforamerica/gcf-backend/issues/1532

[2017-06-01 19:33] #621 closed, assigned to jessieay

[2017-06-01 19:34] bensheldon commented on #618
Moved to https://github.com/codeforamerica/gcf-backend/issues/1533

[2017-06-01 19:34] #618 closed, assigned to norrishung

[2017-06-01 19:35] bensheldon commented on #617
Copied to https://github.com/codeforamerica/health/issues/617

[2017-06-01 19:35] #617 closed, assigned to norrishung

[2017-06-01 19:36] bensheldon commented on #614
Moved to https://github.com/codeforamerica/gcf-backend/issues/1535

[2017-06-01 19:36] #614 closed, assigned to nobody

[2017-06-01 19:36] bensheldon commented on #613
Moved to https://github.com/codeforamerica/gcf-backend/issues/1536

[2017-06-01 19:36] #613 closed, assigned to norrishung

[2017-06-01 19:37] bensheldon commented on #620
Moved to https://github.com/codeforamerica/gcf-backend/issues/1537

[2017-06-01 19:37] #620 closed, assigned to nobody

[2017-06-01 19:38] bensheldon commented on #619
Moved to https://github.com/codeforamerica/gcf-backend/issues/1538

[2017-06-01 19:38] #619 closed, assigned to nobody

[2017-06-01 19:39] bensheldon commented on #615
Moved to https://github.com/codeforamerica/gcf-backend/issues/1539

[2017-06-01 19:39] #615 closed, assigned to nobody

[2017-06-01 19:39] bensheldon commented on #612
Moved to https://github.com/codeforamerica/gcf-backend/issues/1540

[2017-06-01 19:39] #612 closed, assigned to nobody

[2017-08-04 05:47] daguar commented on #247
I think this is done.

[2017-08-04 05:47] #247 closed

[2017-08-04 13:49] alanjosephwilliams commented on #247
lol

On Thu, Aug 3, 2017 at 10:47 PM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2017-08-04 20:26] lippytak commented on #247
Yep looks like we addressed this issue 5 days later via redirect to .org: https://web.archive.org/web/20150511010416/http://www.getcalfresh.com:80/

![screen shot 2017-08-04 at 1 24 23 pm](https://user-images.githubusercontent.com/2533112/28985643-5903a628-7918-11e7-9f58-c6953b97f65a.png)