[2014-10-29 19:01] daguar opened #1 "Twilio blog post: "how to duct-tape a text message interface onto a voice system""
Technically-oriented blog post/howto for this pattern, with working code. Aiming for draft 11/3.

[2014-11-03 07:04] lippytak opened #4 "Get healthy"

[2014-11-03 16:22] daguar opened #5 "Add "project phase" column (per modified GDS approach)"

[2014-11-03 19:28] lippytak opened #8 "Prep BAGTS presentation"
It's a diverse audience (mostly startup focused but not many VCs on attendee list) so I think the goal is just to engage people and offer a pretty open-ended door for interested people to contribute. I could see audience members potentially being users, helping with user testing, contributing code, connecting with funders, etc.

Outline:
- Work at CfA building digital services to improve health (m

[2014-11-03 21:05] alanjosephwilliams opened #9 "Orchestrate In-Person User Testing"
We need to conduct in person usability testing to complement the SMS & phone interviews we've been conducting for Balance ([#166](https://github.com/codeforamerica/balance/issues/166)).

This includes:
- [x] Identifying whether a public library branch is available to host the testing session
  - [x] Mission branch has no private or semi-private space.
  - [x] Central library (left a message with p

[2014-11-04 14:52] #8 closed, assigned to lippytak

[2014-11-04 14:55] lippytak opened #10 "HSA CalFresh leadership meeting"
Just a basic stakeholder update meeting:
- balance + cards
- ebt near me new data
- connect ready for trial!
- connect stats?
- clean status + open policy issues/questions + Adwords data! MMS ideas.

Missing anything important?

[2014-11-05 14:42] alanjosephwilliams opened #11 "Drawings for Twilio Blog Post"
Per Dave's outline, we are going to draw a three or four panel comic/cartoon describing how we are using Twilio for Balance.

Here's @daguar's description:
[Here] is my thinking on some design to describe what Balance does (for the Twilio blog post):

- User sends a text
- Robot calls a phone number, presses buttons
- Robot writes something down, and sends the text to the user

Basically the goal

[2014-11-05 14:47] alanjosephwilliams opened #12 "Make GIFs showing user testing"
Make a single GIF showing the entire exchange we conducted with our users when surveying them. This will be used in the write up of our results.

[2014-11-05 14:51] alanjosephwilliams opened #13 "Civic Design Camp Workshop about FIDG / Prototyping"
_Title_:
 **Prototyping Public Services**

_Description_:
"Governments are mature organizations. Redesigning public services almost by definition necessitates organizational change. Civic designers are responsible not only for a better citizen experience, but also for building the organizational coalition willing to implement it. Learn how effective prototyping and leading with value can make that

[2014-11-05 14:55] alanjosephwilliams opened #14 "Draft approach for recruiting testers"
This is a stub, which is a component of #9. Specifically, we want to document here the approach for recruiting testers through both physical signage/fliers as well as targeted advertising via Google and Facebook.

[2014-11-06 19:01] lippytak opened #15 "Standardize Waffle columns for health projects"
I’m thinking:
- Backlog
- Current Sprint
- In Progress
- Done

Then you can check the meta-waffle to see how close we are on the current sprint :)!

[2014-11-06 20:18] lippytak opened #16 "‘working in the open’ writeup"
Build trust, be better, bet on serendipity.

[2014-11-07 19:43] lippytak opened #17 "Get promptly eval interview results and circulate to team (Burst the Promptly bubble)"

[2014-11-07 21:11] #15 closed, assigned to lippytak

[2014-11-08 00:28] RebeccaCoelius opened #18 "Obtain atm data for one more state"
Bother Fred Trotter about atm data and physician network data, then circle back w/ Andrew and Hannah.

[2014-11-08 00:28] RebeccaCoelius opened #19 "'15 Fellowship Onboarding- W Sac"
W Sac on Wednesday. Get updated Q's/debrief from Jack.

[2014-11-08 00:29] RebeccaCoelius opened #20 "'16 Fellowship City Scoping"
Owe Jen a one-ish pager on what we want cities to apply for.

Answer the zillion intros/mtg requests to scope work.

[2014-11-08 00:30] RebeccaCoelius opened #21 "Open Referral Alameda County P1"
Speaking to Meagan/Lynco Monday to clarify their funder needs then update Sameer/Spike.

[2014-11-08 00:31] RebeccaCoelius opened #22 "Open Data mid tier thing"
I owe John a paragraph.

[2014-11-08 00:32] RebeccaCoelius opened #23 "Growth: SEM person"
FIND SOMEBODY. bug Jen again.

[2014-11-08 00:33] RebeccaCoelius opened #24 "Fundraising: Health Lab Gap, FA core operating expenses, and '16 Fellowship match funding"
Talk to Jennifer Childs re family foundations/add to weekly Health Rev mtg.

[2014-11-08 00:33] RebeccaCoelius opened #25 "Health Website"
talk to Dan Hon,

[2014-11-08 00:35] RebeccaCoelius opened #26 "Aptible"
Contact Chas for '15 Fellowships, Long Beach closeout, staff/new Fellow HIPAA 101 training, updating org docs, and FIRPA question.

[2014-11-08 00:35] RebeccaCoelius opened #27 "CDSS"
Decide if we want to work w/ them, if so get work scoped/contract written/budget estimate.

[2014-11-08 00:40] RebeccaCoelius opened #28 "Budget Process"
w/ Megan and Tech team Monday.

[2014-11-10 19:07] #13 closed, assigned to alanjosephwilliams

[2014-11-10 19:28] alanjosephwilliams opened #29 "Book space at SFPL for Saturday Nov 15 10am to 1pm"
We've booked the Mary Louise Strong Meeting Room on the 1st floor of the main San Francisco Public Library for a User Testing session from 10am (when the library opens) to 1pm on Saturday, November 15th.

The room accommodates 15 people. If we have a full team present, I think we'll be able to conduct three separate conversations at a time, while still having some chairs for people to sit in case

[2014-11-10 19:29] #29 closed, assigned to alanjosephwilliams

[2014-11-10 19:36] alanjosephwilliams opened #30 "Adwords recruitment & screening for Nov 15 User Testing Session"
@lippytak and I created an adwords campaign last night to recruit current SNAP and CalWORKS enrolled folks for our Saturday, Nov 15 user testing session at SFPL (setting described in #29).

The ad links to a (Google Form (link to editable version) )[https://docs.google.com/a/codeforamerica.org/forms/d/1m9kBpYap7AFVI9goBnaOnQzaPs8tM9ZiCpD6X0tH2m8/edit?no_redirect=true] where we ask people a few que

[2014-11-10 19:38] alanjosephwilliams opened #31 "Create splash page with Screening form as iframe"
In order to get our adwords campaign approved, we need to provide a human readable URL in the ad that matches the destination we direct people toward. This is problematic for our Google Form, which is decidedly not human readable.

Our proposed solution is to create a splash page that contains the form as an iframe.

[2014-11-10 19:45] alanjosephwilliams opened #32 "Buy Visa gift cards ($20) and Amazon Credits ($5)"
For User Testing recruitment, we need to buy approximately $100 of $5 Amazon Cedits (to be safe) and then 20 $20 Visa Gift Cards ($400). We need this to happen ASAP.

[2014-11-10 20:40] alanjosephwilliams opened #33 "Design Asset for External Comms"
@RebeccaCoelius and I are going to create an asset describing our phases of work, the current status of projects, links to more information, and perhaps some other content.

v1 is either a simple splash page or an interactive PDF that can be attached in an e-mail.

cc @mollymcleod too, as I may want to use some of our studio time tomorrow to talk / prototype this.

[2014-11-10 20:40] lippytak opened #34 "Verify - Submit verification documents via MMS"
**Verify** - Submit verification documents via MMS

**BLUF:** Let's see if picture messaging helps get people enrolled in the SF CalFresh program. AKA is this the right solution for the right problem?

We've been talking about this for a while:
- Clean issue on verification: https://github.com/codeforamerica/calfresh-and-so-clean/issues/21
- General project idea/discussion on MMSing stuff to gov:

[2014-11-10 20:42] #14 closed, assigned to alanjosephwilliams

[2014-11-10 20:43] alanjosephwilliams opened #35 "Script / Semi-structured interview guide"
Depending on which decisions we are trying to inform, what questions we want answered and what assumptions we want to validate, we will decide whether to conduct a more strict usability study, or a more of a semi-structured interview / ethnography session.

We'll need to draft an script or interview guide for all team members to ensure quality data.

[2014-11-10 20:45] alanjosephwilliams opened #36 "Phone follow-ups with SF Feedback Group signups"
In order to actually get people to attend our in-person session on Saturday, we'll need to make them feel welcomed, make sure we quash any uncertainty, and communicate the value of their time. Let's make sure to do follow up phone calls within 24 hours of receiving a completed signup form, after we send the $5 Amazon Credit.

[2014-11-10 20:47] alanjosephwilliams opened #37 "Analyze Balance Testing Results"
This is a group activity, so we'll need to schedule a time that @daguar @lippytak @RebeccaCoelius and myself can all get together. I'll prepare the data in advance, and facilitate the discussion. We'll also want to document the whiteboard/sticky notes to create assets for external communication.

[2014-11-10 20:47] alanjosephwilliams opened #38 "Analyze In-person User Testing Results"
This is a group activity, so we'll need to schedule a time that @daguar @lippytak @RebeccaCoelius and myself can all get together. I'll prepare the data in advance, and facilitate the discussion. We'll also want to document the whiteboard/sticky notes to create assets for external communication.

[2014-11-10 20:49] alanjosephwilliams opened #39 "Distribute print materials for recruitment"
Design a 1-page 8.5 by 11 flier for distribution at public library branches (and potentially grocery stores?)

I'll be looking for assistance on distribution from @lippytak @daguar. Maybe @mollymcleod can give me feedback on the design tomorrow at Studio.

[2014-11-11 17:58] #31 closed, assigned to alanjosephwilliams

[2014-11-11 18:00] #30 closed, assigned to alanjosephwilliams

[2014-11-11 23:52] #17 closed, assigned to lippytak

[2014-11-12 05:30] alanjosephwilliams opened #40 "E-mail all branch libraries to print and promote flyers"
| Branch | Phone | Email | complete |
| --- | --- | --- | --- |
| Richmond / Anza | (415) 355-5717 | anzmgr@sfpl.org | yes |
| Bayview | (415) 355-5757 | baymgr@sfpl.org | yes |
| Bernal Heights | (415) 355-2810 | bhemgr@sfpl.org | yes |
| Him Mark Lai Chinatown | (415) 355-2888 | chimgr@sfpl.org | yes |
| Eureka Valley / Harvey Milk Memorial | (415) 355-5616 | evamgr@sfpl.org | yes |
| Excelsior

[2014-11-12 05:34] alanjosephwilliams opened #41 "Improve AdWords performance for User Testing Recruitment"
Our ads are now improved and running, but seem to be running very rarely. We've thrown a good number of keywords at the problem, but I'm open to suggestions about how to further improve the number of impressions we are getting.
![screenshot 2014-11-11 21 33 54](https://cloud.githubusercontent.com/assets/2983464/5005767/92e900ee-69ea-11e4-97d8-e133bfe9ee56.png)

[2014-11-12 06:45] alanjosephwilliams opened #42 "Survey/Interview HSA Eligibility Workers"
Eligibility Workers are the customer service representatives of HSA. They handle applications, help manage cases, and make critical decisions. They also hear more feedback, and more questions, directly from clients than anyone else. Let's discuss the most appropriate and effective way to learn about our users by talking to the people that interact with them most. cc @lippytak

[2014-11-12 17:59] #35 closed, assigned to alanjosephwilliams

[2014-11-13 17:06] lippytak opened #43 "Follow up w tenderloin housing clinic"
**BLUF**: @gabbyjones and I had coffee with a couple folks from the [tenderloin housing clinic](http://www.thclinic.org/). They're super cool and super down. We'll definitely do some outreach with their tenants but I also think there's a good opportunity on the "let's work together to build things" front by involving them in testing/feedback/recruiting for user testing groups.

**Notes**
- ~3k ten

[2014-11-13 17:06] lippytak opened #44 "Follow up w tenderloin housing clinic"

[2014-11-13 17:07] #44 closed, assigned to lippytak

[2014-11-13 20:06] #40 closed, assigned to alanjosephwilliams

[2014-11-13 20:08] alanjosephwilliams opened #45 "Promote Nov 15 feedback session via Craiglist"
Live ad here: http://sfbay.craigslist.org/sfc/dmg/4759986644.html

[2014-11-13 20:08] #45 closed, assigned to alanjosephwilliams

[2014-11-13 22:16] #43 closed, assigned to lippytak

[2014-11-14 02:36] #32 closed, assigned to lippytak

[2014-11-17 02:19] #41 closed, assigned to alanjosephwilliams

[2014-11-17 02:20] #39 closed, assigned to alanjosephwilliams

[2014-11-17 02:20] #36 closed, assigned to alanjosephwilliams

[2014-11-17 02:21] #9 closed, assigned to alanjosephwilliams

[2014-11-17 02:24] alanjosephwilliams opened #47 "Structure user interview notes"

[2014-11-17 02:25] alanjosephwilliams opened #48 "Make v1 Research/Testing CRM"

[2014-11-17 06:33] #48 closed, assigned to alanjosephwilliams

[2014-11-17 16:53] lippytak opened #49 "Adam D meeting notes"

[2014-11-17 18:08] lippytak opened #50 "HSA exec meeting"

[2014-11-17 19:20] #49 closed, assigned to lippytak

[2014-11-18 04:18] lippytak opened #51 "Apply for a lifeline (Obama) phone"

[2014-11-18 04:52] lippytak opened #52 "Think about licenses"
This isn’t an immediate need but we should think through what licenses to use throughout these projects, both a good default + basic framework for deciding when to stray from it. The org at large may have already made this decision? @daguar do you know?

[2014-11-18 23:47] #50 closed, assigned to lippytak

[2014-11-18 23:57] alanjosephwilliams opened #53 "Get 1000 business cards distributed with EBT cards"

[2014-11-18 23:57] alanjosephwilliams opened #54 "Get 500 business cards distributed via Tenderloin Housing Clinic"

[2014-11-19 00:21] #47 closed, assigned to alanjosephwilliams

[2014-11-19 00:21] #38 closed, assigned to alanjosephwilliams

[2014-11-19 00:21] #51 closed, assigned to alanjosephwilliams

[2014-11-19 21:26] lippytak opened #55 "Balance user research questions"
- About half of all balance users who have one successful balance check never check again (https://github.com/codeforamerica/balance/issues/223). Why not?
- How many people try to use balance but never get a successful check? What goes wrong? How can we help folks get to their first successful check? (v1 is just data analysis at this point)
- How many people have (and use) MMS but not data? AKA wh

[2014-11-20 01:47] #34 closed, assigned to lippytak

[2014-11-20 01:47] #4 closed, assigned to lippytak

[2014-11-20 07:56] #37 closed, assigned to alanjosephwilliams

[2014-11-21 00:13] #52 closed, assigned to lippytak

[2014-11-21 17:17] lippytak opened #56 "Add real-time metrics charts into project pages on CfA website"

[2014-11-21 17:54] #53 closed, assigned to lippytak

[2014-11-21 19:46] #28 closed, assigned to RebeccaCoelius

[2014-11-21 19:47] #26 closed, assigned to RebeccaCoelius

[2014-11-24 19:44] #19 closed, assigned to RebeccaCoelius

[2014-11-24 19:45] RebeccaCoelius opened #57 "'15 Fellowship Onboarding- Richmond"

[2014-11-24 19:46] #57 closed, assigned to RebeccaCoelius

[2014-11-24 19:48] daguar opened #58 "Build Verify (MMS) prototype"

[2014-11-24 19:48] daguar opened #59 "StatusBoard devops tech work and outreach"

[2014-11-24 19:50] RebeccaCoelius opened #60 "CDSS Contract"

[2014-11-24 19:55] alanjosephwilliams opened #61 "FOIA state contracts for SNAP web services"
@RebeccaCoelius  and I are going to test FOIAing a handful of state contracts for SNAP web services, generating a clear checklist for respectfully obtaining useful information and documentation of about these contracts. We will report on our efforts here.

[2014-11-24 20:19] lippytak opened #62 "Assess transcription accuracy"

[2014-11-25 17:47] #10 closed, assigned to lippytak

[2014-11-25 21:15] daguar opened #63 "Merge pending PRs"

[2014-11-26 01:32] #54 closed, assigned to lippytak

[2014-11-26 20:50] #62 closed, assigned to lippytak

[2014-12-01 19:17] #63 closed, assigned to daguar

[2014-12-01 20:48] #33 closed, assigned to alanjosephwilliams

[2014-12-03 21:32] #27 closed, assigned to RebeccaCoelius

[2014-12-03 22:00] RebeccaCoelius opened #64 "Market Match/Ecology Center"

[2014-12-05 22:46] gabbyjones opened #65 "Outreach with Golden Gate Regional Center"
Context: GGRC is a state-funded non-profit serving people with developmental disabilities in San Francisco, San Mateo, and Marin counties.
- ~90% of their clients are on Medi-Cal.
- Employs ~80 social workers (with 90-100 clients each) who conduct Medi-Cal enrollment activities as well as case management.
- GGRC is 1 of 21 regional centers across California. If outreach efforts are successful here

[2014-12-06 21:29] lippytak opened #66 "2014.12.05 Call with DHCS about ELE"
**BLUF:** There's a good chance we'll be able to enroll Balance users in health insurance. One critical detail remains to be worked out next week. Hoorah!

_Context_
- ~600k

_Details_

[2014-12-06 21:43] lippytak opened #67 "2014.12.05 Call with DHCS about ELE"
**BLUF:** We _might_ be able to get Balance users free health insurance. Yeah that's right. For realz. Hoorah!

**Context**
CA has a CMS waiver that let's most CalFresh recipients automatically enroll in Medi-Cal without going through the usual application/eligibility determination process. This is called 'express lane eligibility' or ELE. This means that about 600k adults and 150k children are el

[2014-12-09 01:23] #64 closed, assigned to RebeccaCoelius

[2014-12-10 00:01] gabbyjones opened #68 "Potential outreach partners"
**Housing**
- [x] Tenderloin Housing Clinic https://github.com/codeforamerica/health/issues/43
- [ ] San Francisco Public Housing Authority
- [ ] San Mateo Housing Authority
- [ ] Housing Leadership Council of San Mateo County
- [ ] HIP Housing
- [ ] SMC Housing
- [ ] West Bay Housing
- [ ] Mid-Peninsula Housing Coalition
- [ ] BRIDGE Housing Corporation

**CBO's**
- [x] Golden Gate Regional Cente

[2014-12-10 02:05] lippytak opened #69 "Outreach with Humbolt County food bank"
Had a quick phone chat with Heidi McHugh of the Humbolt County food bank (http://www.foodforpeople.org/) thanks to an intro from Liliana.

General notes:
- C4 county
- They have ~40 application assister agencies
- ~all assisters use paper applications (mostly SAWS-1 but moving to CF285) + fax. They don't use C4 because it takes a long time (~20 mins per app) and it apparently can't do verification

[2014-12-16 04:28] #66 closed, assigned to nobody

[2014-12-17 15:47] lippytak opened #70 "Feedback Group signup page/survey/form"
As @gabbyjones starts doing community outreach it would be a good opportunity to enroll folks into the feedback group. @alanjosephwilliams already did v1 (http://splash.codeforamerica.org/feedback/) but may want to consider some additions/changes. The one thing that comes to mind for me is to consider including/adding some form fields that are relevant to social workers.

[2014-12-22 18:04] alanjosephwilliams opened #71 "The CalFresh User Journey"
This will build off Jake's 2013 work documenting the letters received by a SNAP enrollee, as well as the conversation we had with Diana from the food bank on Friday. However, this document will be more centered on the user experience throughout this process.

I'll be using Google Docs and draw.io for the first iteration, with a hope that it facilitates commentary and refinement.

Goals:
- Give the

[2014-12-22 18:07] alanjosephwilliams opened #72 "Home page mockup"
I'll be designing our Health homepage in the browser, with the help of the Code for America style guide, and keen awareness of the work that @davidrleonard and the entire marketing team is doing refreshing the primary CfA home page.

[2015-01-03 01:26] lippytak opened #73 "Ping CDSS lawyer to assess risk on sharing CalFresh case # + status"

[2015-01-03 01:30] lippytak commented on #68
Added Americorps to the list above because (1) all (most?) of them enroll in Food Stamps as part of program enrollment and (2) they probably work in communities with high participation rates. I think we could learn a lot from them.

[2015-01-03 19:46] daguar commented on #73
Huge :+1: — if we can create a stupid simple "application status" API endpoint we can build a nice little tool on top of it for assistors (and clients themselves) _aaaand_ it's a great illustration of gov't serving as a good platform. (Status endpoints should be a thing.)

[2015-01-06 18:08] #72 closed

[2015-01-06 18:11] RebeccaCoelius commented on #21
Spike/Sameer/Fureigh ready to roll. Waiting on Cantinas to execute contract.

[2015-01-06 18:12] RebeccaCoelius commented on #60
Updated SOW.
Call w/ Pete on SOW finalization Jan 9.
RFP project Jan 13th.

[2015-01-06 18:14] RebeccaCoelius commented on #20
Intro'd Luke to Esther Dyson re W2W cities.
Call w/ Janhavi Kirtane scheduled next week.

[2015-01-06 18:15] alanjosephwilliams opened #74 "January User Research Summmary"
Over the next few weeks, we want to measure the magnitude of pain points experienced by [our target population](https://github.com/codeforamerica/health/wiki) relative to one another. This will help us articulate our product goals for Q1 2014. As a guiding heuristic to start with, we want to know the *five most significant pain points* faced by a CalFresh recipients in San Francisco.

The plan wil

[2015-01-06 18:15] RebeccaCoelius commented on #25
Alan completed V1 of Health Home.
Chatting this afternoon about Health Home.
Setting up chat w/ JA so marketing is aware.

[2015-01-06 18:16] #22 closed

[2015-01-06 18:17] RebeccaCoelius commented on #18
Want to discuss whether to put this on hold w/ team even given EBTNearMe status.

[2015-01-06 18:20] RebeccaCoelius opened #75 "Open Referral 2015"

[2015-01-06 18:22] RebeccaCoelius commented on #75
Meeting w/ Google to update today.
Working w/ Greg Bloom + Jack this week to finalize initial goals/plan for 2015 and immediate next steps for CfA.

[2015-01-06 18:24] RebeccaCoelius opened #76 "Goal setting Health Lab 2015"
Goals:
1. Have a clear statement and team sense of what the most important problems are to work on 2015 within SNAP and Medicare as measured by depth and breadth of human impact, and level of effort.
2. Create public goals that are problem and project specific. Ex- enroll x people in SF County in CalFresh using Clean. Increase Balance usage by Y% in SF County.

[2015-01-06 18:28] RebeccaCoelius commented on #76
Goal setting V1 on Jan 5th. Got to high level goal statement and identified need to identify top 5 most important problems in USABILITY of SNAP services.
Alan creating V1 research plan.
Rebecca + Alan mtg today to review, discuss next steps for Goal setting.
Rebecca will schedule V2 of goal setting late Jan to review research results and set problem and project specific goals.

[2015-01-06 18:57] RebeccaCoelius opened #77 "HIPAA 2015"

[2015-01-06 19:01] RebeccaCoelius commented on #77
- calls w/ cities to communicate HIPAA resources
- follow up w/ Aptible for Jan HIPAA training
- V2 CfA Policies and Procedures w/ Deven McGraw by end of Jan

[2015-01-06 19:02] daguar opened #78 "Send Slack or email to staff with basic heath lab details"
Include:

- Ducksboard (alpha metrics)
- Waffle board (what we're doing)
- Invitation to join on #health for day-to-day work

[2015-01-06 19:06] #5 closed

[2015-01-06 19:28] RebeccaCoelius commented on #77
Somerville call completed. Follow up: Will send me policies/procedures from covered entities, info how how to become HIE Mass endpoint, requested we consider using the NIST HIPAA toolkit: http://scap.nist.gov/hipaa/

[2015-01-06 19:34] RebeccaCoelius commented on #77
Chas confirmed for Jan 22 training.
Emailed Deven McGraw, awaiting working mtg times next week.

[2015-01-06 21:31] daguar commented on #77
Hey @RebeccaCoelius — I've converted the bullet items above into clickable checkboxes for you. You can do that by using `[ ]` in GitHub Issues. For example:

- [ ] The beginning of this line was done with `- [ ]`

You can read more here: https://help.github.com/articles/writing-on-github/#task-lists

(I worry this might be off-topic but figured I might as well comment on the issue where it's relev

[2015-01-07 01:27] RebeccaCoelius commented on #77
ooh, thanks @dave

[2015-01-07 01:59] fureigh commented on #77
Way to osmote, @daguar! :)

[2015-01-07 07:43] daguar opened #79 "Ask HSA what we need to do for application status endpoint"

[2015-01-07 07:43] daguar commented on #79
;D

[2015-01-07 18:57] daguar opened #80 "Talk to Harlan about Balance and Promptly in MA"

[2015-01-07 18:57] #80 closed

[2015-01-08 02:24] RebeccaCoelius opened #81 "Fellow Guidebook"
Add my notes from City Onboarding
Add Health Data resources to each relevant City and to Tech Team section

[2015-01-08 02:24] #81 closed, assigned to RebeccaCoelius

[2015-01-08 03:07] RebeccaCoelius opened #82 "Fellows Welcome email"
Write welcome email to Fellows with:
-intro to team
- how we will support them
- how to learn about our work/reach team
- when we will formally interact w/ them in Jan

[2015-01-08 03:07] RebeccaCoelius commented on #82
Email drafted, shared w/ Health Lab for feedback

[2015-01-08 20:29] daguar opened #83 "Migrate to siloed Heroku account for only health work"
@migurski recommended this.

[2015-01-08 20:59] migurski commented on #83
It would be `billing-health@CfA`.

[2015-01-08 22:48] RebeccaCoelius commented on #82
send 1/8

[2015-01-08 22:48] #82 closed

[2015-01-09 16:39] alanjosephwilliams opened #84 "Summarize research efforts and data collected for Google"
Google has requested some information about what CfA is up to in the realm of social services, products being developed, and research being conducted.

This is as good of an impetus as any to summarize our research to date.

Needed by 1/14

[2015-01-09 18:01] alanjosephwilliams opened #85 "Meet with Homeless Prenatal Program"
**BLUF**:  @alanjosephwilliams met with interim ED Dan Bowersox and other staff of the Homeless Prenatal Program on Thursday, January 7th. It was a warm introduction via Francesca. [HPP](http://www.homelessprenatal.org/) is an awesome wrap-around service provider—exactly the kind of CBO we want to empower with Clean, Balance and other interventions. However, they don't currently assist with benefi

[2015-01-09 18:05] alanjosephwilliams opened #86 "Summarize The Talking"

[2015-01-09 18:05] alanjosephwilliams commented on #86
Obviously the issue name is a placeholder.

[2015-01-09 21:25] RebeccaCoelius commented on #75
Greg Bloom working on deck for mtg w/ Jen in two weeks, will share when ready for Jack/Rebecca's feedback

[2015-01-09 21:26] RebeccaCoelius commented on #25
Mtg w/ Marketing next week to further expand on Health Home goals and general marketing needs this year.

[2015-01-09 21:27] RebeccaCoelius commented on #60
SOW approved Jan 9th, (pending any complications with budget size and contract vehicle.)
Follow up w/ Nancy Lee next week to discuss contract vehicle given budget size and timeline for contract execution.

[2015-01-12 01:26] alanjosephwilliams commented on #74
*(this comment will be updated with links to new issues representing each thread of research, where specific research questions and tasks will be documented).*

#### Background
In 2014, immersive research (both original and residual from the 2013 fellowship) enabled the team to  opportunistically develop interventions into the experience of obtaining and utilizing CalFresh benefits in San Francisc

[2015-01-12 07:35] #86 closed

[2015-01-12 18:15] alanjosephwilliams opened #87 "Health Homepage Content Strategy v1"

[2015-01-12 19:25] alanjosephwilliams commented on #74
@lipptak

[2015-01-12 23:52] alanjosephwilliams opened #88 "(Removed intercept info)"

[2015-01-12 23:53] alanjosephwilliams commented on #74
4 intercepts conducted on the afternoon of Monday 1/12/2015.

#88

[2015-01-13 19:12] daguar commented on #88
Moved to health-private

[2015-01-13 19:12] #88 closed

[2015-01-14 05:08] daguar commented on #79
Talked to CDSS about this today — next step, HSA!

[2015-01-14 08:11] #85 closed

[2015-01-14 09:04] alanjosephwilliams commented on #84
@RebeccaCoelius I'm assuming that you have the information/copy you need to comment on strategy and the apps and services we've developed to date.

Here is a summary of our user research to date:

- Immersive research into [CalFresh program communications] (http://lippytak.github.io/calfresh/)

Throughout 2013, the Code for America fellowship team working with the San Francisco HSA received a waiv

[2015-01-14 19:31] lippytak commented on #79
Let's try to define the problems/goals and what a true MVP would look like before we go to HSA with a potentially scary ask. Do we really **need** them? Is it the right approach to do this at the county level anyway (vs. consortium)? There's pretty big technical overhead here (getting data outside of the firewall and maintaining it in HSA's IT environment when we're not employees) so it's worth ou

[2015-01-14 19:32] lippytak commented on #79
Edit: '4 is still in the realm of open-data-magic-fairy-dust-sure-maybe? in my opinion.'

[2015-01-15 19:11] daguar opened #89 "Staff meeting updates, 1/15/15"
Seems like a good process for staff mtg updates is to discuss on issues prior to the meeting and generate what we think the top 3 updates are.

I'd also suggest maybe we rotate who does it each week? (who wants to this week?) Then that person can make The Call about which 3 of the ones people've posted they'll say?

For me a few ideas for updates:
- Initial planning on expanding Clean (our apply-f

[2015-01-15 19:21] daguar commented on #89
Based on Slack, I'll do today's. Please throw down other ideas/discussion for the key bits!

[2015-01-15 19:44] lippytak commented on #89
@daguar +1 to process/you should run today. Dumping ideas:
- $5k from Amazon + props to Jennifer
- Couple build week secrets in the works :)
- We OFFICIALLY have some HSA staff time so we can build the Clean funnel
- Request for help: Trying to help recruit for Will's #3 to lead strategy on program integration/'no wrong door' in CA

[2015-01-15 19:48] RebeccaCoelius commented on #89
Must be said:
- Please welcome Alicia Rouault, who will be our Economic Development Advisor as we continue our search for the ED lead. She will be focused on supporting the ED Fellows, and supporting the start of 2016 City Recruitment.
-Related, we are still recruiting for the Focus Area lead for Economic Development. Please continue to spread the word. Rebecca will send out info again after staff

[2015-01-15 19:59] lippytak commented on #76
Aiming for delivery goals (not personal growth) and trying to be as specific as possible *without* setting arbitrary benchmarks that will displace sound thinking around tradeoffs. cc @RebeccaCoelius feel free to weigh in or ship if you're comfortable with these.

Jake's 2015 goals:
1. **Healthy Team** = Maintain clarity and enthusiasm.
2. **Real Impact** = Get 1+ service to growth stage OR get to

[2015-01-15 20:01] daguar commented on #89
@RebeccaCoelius, I feel like if we're covering ALL FOCUS AREA stuff, then maybe it makes sense for you to own that and for us 3 to rotate on Health Lab updates?

Just thinking through if we're constrained to 2-3 things, and we're covering (All Focus Areas) + (Health FA) + (Health Lab) that it might be too much.

What you think?

[2015-01-15 20:05] alanjosephwilliams commented on #76
### Alan' 2015 Goals

#### Deep Empathy

##### Concrete Proxy: The entire team is talking to users at least every two weeks—ultimately ensuring we have clarity about what problems exist, their magnitude, and how we might address them.

Ways this will likely manifest:
- Building the CalFresh Feedback Group.
- Monthly user research efforts.
- A library of user stories.
- Compelling narratives about

[2015-01-15 22:32] alanjosephwilliams commented on #87
### Health Focus Homepage

#### "Hero Unit"

Rotating:
- [ ] Problem statement
- [ ] Product Demo
- [ ] Theory of change summary
#### Health Focus Area Overview

- [ ] Mission
- [ ] Approach
- [ ] Rebecca's Talk

#### Health Lab

- [ ] Mission
- [ ] Approach
- [ ] Product Preview Cards
- [ ] Jake's Talk
- [ ] One other piece of relevant and fresher content to be updated manually.

##### Fellowship

[2015-01-15 23:06] RebeccaCoelius commented on #60
Nancy submitted first round of docs to Contract Office 1.15.15.

[2015-01-15 23:48] RebeccaCoelius opened #90 "Help Will Recruit"
# Lead no wrong door strategy in California

The Director of Social Services in CA (Will Lightbourne) is looking for someone to lead an audacious "no wrong door" vision in CA, where any interaction with the safety net is an opportunity to gracefully enroll someone in all available services.

Concretely, the biggest opportunity is cross-enrollment for Medicaid and SNAP (food stamps). CA has the lar

[2015-01-15 23:49] RebeccaCoelius commented on #90
-emailed to all staff and Fellows
-Dave requested in staff meeting
- requested help from Jen
- Rebecca sent to Truman Scholars and Fulbright Fellows network

[2015-01-15 23:50] RebeccaCoelius commented on #77
call scheduled w/ Deven

[2015-01-16 00:27] #89 closed

[2015-01-16 00:31] daguar opened #91 "Using Long Beach relationships as proxy for expansion to LA"
Let's think about this — it's a good way to take a chunk of LA without committing to expanding to the entire County. This is specifically related to Clean and other things where scaling is not statewide from the start.

[2015-01-16 00:39] daguar commented on #90
I sent to the strongest node I have if CA health policy / health care / consulting.

[2015-01-16 01:04] lippytak opened #92 "Be better at asking for help: Google Adwords Campaign manager edition"
Writeup what would be helpful, review with team, and send ask to Rebecca/Jennifer

[2015-01-16 01:22] #84 closed

[2015-01-16 23:41] daguar commented on #76
*Ensure engineering quality in the Health Lab*
- Implement engineering practices (e.g., monitoring, automated testing) to achieve both velocity and quality of digital service delivery, all in a pragmatic way (i.e., increasing standards as projects move from prototype to alpha to beta to live, and based on the specific learning goals of a project sprint)
- Explicitly articulate tradeoffs in making

[2015-01-19 23:52] RebeccaCoelius commented on #21
Jack is going to step up the pressure this week if no word.

[2015-01-20 00:23] RebeccaCoelius opened #93 "CDSS Procurement Project"
Code for America Content, Tech, and Talent team is assisting CDSS in a procurement related project.

[2015-01-20 00:23] RebeccaCoelius commented on #93
- draft received and shared with appropriate staff members
- project briefing 1/19

[2015-01-20 00:25] RebeccaCoelius opened #94 "Health Dinner"
1/28 at Rebecca's for all staff and Fellows working in Health Focus Area

[2015-01-20 00:26] RebeccaCoelius commented on #94
[ ] Head count
[ ] food

[2015-01-20 00:27] RebeccaCoelius opened #95 "Focus Area V2"
Rebecca will spend next month 1. Onboarding Jenny Montoya Tansey as Safety and Justice Lead, and 2. Managing Alicia as Economic Development Advisor

[2015-01-20 01:10] RebeccaCoelius commented on #75
Reviewed V1 Jen briefing deck, will run through w/ Greg in person Wed.

[2015-01-20 01:11] RebeccaCoelius opened #96 "Health CodeAcross"
The Communities Team would like to have a health related challenge at City Camp 2015 taking place in late February.

[2015-01-20 01:11] RebeccaCoelius commented on #96
Will draft ideas, discuss with Alan this week.

[2015-01-20 01:12] RebeccaCoelius opened #97 "Waffle for City Recruitment"
what it says. Dave will help Rebecca set up.

[2015-01-20 01:13] RebeccaCoelius commented on #95
[ ] schedule first call w/ Jenny
[ ] Jenny interim contract + email
[ ] clarify minimum City Recruitment needs w/ Luke/Nicole
[ ] FA lead Waffle
[ ] staff email re FA leads activities/responsibilities

[2015-01-20 06:54] daguar commented on #96
Is this CityCamp or CodeAcross? (ugh, names.) Just seems like the timing is for the latter?

[2015-01-20 06:54] daguar commented on #97
We can talk about this tomorrow. Feel free to throw me a 15-min cal item if you wanna just lock in a time to definitely do it.

[2015-01-20 18:05] alanjosephwilliams opened #98 "Finalize and distribute survey of Eligibility Workers"
First pass at questions for a survey of Eligibility Workers in San Francisco and Solano Counties.

As with all of our January research, our goal is to get a more comprehensive understanding of the pain points experienced by our community as they obtain and use CalFresh, and we want to be able to evaluate the significance of those problems against one another—with the ultimate goal of making sure t

[2015-01-20 21:25] alanjosephwilliams opened #99 "Health Page v1 Pull Request for review by Marketing"
By the end of the sprint, we'll submit a PR for review by the marketing team. It should be a narrowly tailored set of content, since we want something that is ready for public consumption.

[2015-01-20 21:25] alanjosephwilliams opened #100 "Draft product specific "Theories of Change""

[2015-01-20 21:26] alanjosephwilliams opened #101 "FA Marketing Strategy"

[2015-01-20 21:28] daguar commented on #96
edited name after confirming this is for CodeAcross

[2015-01-20 21:28] #76 closed

[2015-01-20 21:30] daguar commented on #90
Moving this out of "current sprint" back to "ready" —— if this has significant stuff this sprint, please make subissues or if it's pretty much done feel free to close.

[2015-01-20 21:34] alanjosephwilliams commented on #25
@rebeccaCoelius it sounds like we could close this issue, and move to more task-specific issues like "Homepage v1 Pull Request for review by Marketing" #99.

If you prefer to leave it open that's fine too—but I am going to remove the "current sprint" label, and save that for those pieces of the effort we are tackling each rev.

[2015-01-20 21:38] alanjosephwilliams commented on #98
- [ ] finalize questions (evaluating against our goals)
- [ ] set up survey via Wufoo
- [ ] determine whether or not any incentive is possible (restrictions on gifts?)
- [ ] give advance notice to Angela and Tiana that we're looking for their help distributing
- [ ] Make sure well-written e-mail with link to the survey hits inboxes at the right time on Monday or Tuesday morning (1/26 or 1/27) if n

[2015-01-20 21:43] RebeccaCoelius commented on #101
Productive Conversation with JA this morning. Rebecca to schedule Health Home V1 follow up to include Alan, and will work with JA on larger FA marketing story needs through City Recruitment vehicle.

[2015-01-20 21:45] RebeccaCoelius commented on #93
Briefing w/ Content Team, Tech Team, and Chief Talent Officer today. Will provide white paper proposed topics + working session outline by EOW.

[2015-01-20 21:46] RebeccaCoelius commented on #96
thanks @daguar

[2015-01-20 21:50] RebeccaCoelius commented on #99
@alanjosephwilliams As discussed on Slack, I want this Health FA "wrapper" content on the Lab product page for V1. I will focus on this content for the sprint.

Health Focus Area Overview

 Mission
 Approach
 Rebecca's Talk
 Anatomy / How pieces fit (specifically Health Lab)

[2015-01-20 22:01] alanjosephwilliams opened #102 "Scope telephone poll of CA residents"
The goal is to get more information about those that are eligible for CalFresh but not enrolled, and the pain points or blockers they face.

The approach would be something like:
- Call CA residents broadly defined (no geographic or demographic segmenting)
- Screen based on their household income, which we will use as a proxy for eligibility. Those that fall above the threshold will be ineligible

[2015-01-20 22:01] alanjosephwilliams commented on #99
Sounds good @RebeccaCoelius, this is definitely the right place to discuss requirements.

[2015-01-20 22:04] RebeccaCoelius commented on #25
agreed, closing issue

[2015-01-20 22:04] #25 closed

[2015-01-21 00:19] lippytak commented on #98
@ajw :+1: LMK if/when you want feedback and on what. A reminder of the goals is always helpful for context. I'm happy to do my best to circulate the survey whenever.

[2015-01-21 19:56] daguar opened #103 "Staff meeting updates — 1/22"
- Who wants to do?
- What are the updates?

[2015-01-21 22:38] RebeccaCoelius commented on #95
closing as these tasks are now in the Focus-Areas repo

[2015-01-21 22:38] #95 closed

[2015-01-21 22:39] RebeccaCoelius commented on #20
closing as issue is now in focus-areas repo

[2015-01-21 22:39] #20 closed

[2015-01-21 22:39] RebeccaCoelius commented on #24
closing as issue will now be in focus-areas repo

[2015-01-21 22:40] #24 closed

[2015-01-22 20:05] alanjosephwilliams commented on #103
I'll do the updates, as mentioned in Slack.

From @RebeccaCoelius
- Reminder to help us hire for Will's Horizontal Integration Lead (let's touch base about some adjective to use to describe this person).
- HIPAA Training this afternoon (is it open to people?)
- Health & ED have 15 minutes deep dives next week.

Other things to include? I think the results of The Talking and whatnot are appropriate

[2015-01-22 22:34] #103 closed

[2015-01-22 23:06] lippytak opened #104 "Speaker page tester"
davidleonard [2:55 PM]
the gist: you'll need to checkout the `speaker-content` branch on cfa.org and fill in some variables in your _include people file.

[2015-01-23 06:48] #102 closed

[2015-01-23 06:50] alanjosephwilliams commented on #98
@lippytak I think we will shoot for finalized over the weekend, and shipping on Monday.

[2015-01-25 21:31] lippytak opened #105 "Add fun health stuff to the office screen"

[2015-01-25 21:32] lippytak commented on #105
Donezo! https://github.com/codeforamerica/office-screen/pull/18

[2015-01-25 21:32] #105 closed

[2015-01-25 21:48] daguar commented on #105
Awesome.

[2015-01-26 04:26] alanjosephwilliams commented on #71
The first two components of this are saved in the dropbox. They are 1) the current internal business process as we understand it, agnostic of the medium an application is submitted and 2) the user experience flow of Clean itself.

From here, we want similar assets that focus on experience of going from a) trauma -> awareness -> application, and b) use and management of benefits. Perhaps some other

[2015-01-26 04:28] alanjosephwilliams commented on #71
#### (SFHSA) CalFresh Internal Business Process Map

Comments, questions, fact-checking welcome and wanted.
![calfresh business process v2](https://cloud.githubusercontent.com/assets/2983464/5895328/9810ffc4-a4d0-11e4-9200-da3eeada1c52.jpg)

[2015-01-26 04:29] alanjosephwilliams commented on #71
#### Clean v0.5 UX Flow

Comments, questions, fact-checking welcome and wanted.
**note this is only the views and actions the user experiences, for now.
![clean ux flow jan 2015 1](https://cloud.githubusercontent.com/assets/2983464/5895333/ba55d424-a4d0-11e4-87d0-09fb9575e23f.jpg)

[2015-01-26 05:11] alanjosephwilliams opened #106 "Hompage content: product theories of change"
These pithy encapsulations of each product's respective theory of change were written as part of our push for Homepage v1 Content. I assume we will all want to wrangle and wordsmith them.

**In alphabetical order**

#### Balance

Balance allows people who receive food stamps to check their balance via SMS. Balance brings a little dignity and convenience to the business of managing benefits—a surpr

[2015-01-26 05:18] alanjosephwilliams commented on #100
accidentally wrote this in new issue #106

[2015-01-26 05:18] #100 closed

[2015-01-26 06:06] alanjosephwilliams commented on #98
@lippytak I am letting you know that I want some feedback. Let's circulate ASAP—let me know what you need. Goals are more explicitly articulated above—this is squarely within our broader January research push.

https://codeforamerica.wufoo.com/forms/eligibillity-worker-feedback-survey/

![eligibillity worker feedback survey](https://cloud.githubusercontent.com/assets/2983464/5895796/533af8ce-a4de-

[2015-01-26 14:52] lippytak commented on #98
Rad. Happy to get this out today. Just be warned people may freak out and not want to circulate to EWs but we should try.

As always here are my thoughts but I know you've put more thought into this than I so feel free to ignore/incorporate whatever you think is best:
- Consider asking folks what they think are the biggest pain points in the app process
- Let people expand with 'other or 'why' fol

[2015-01-26 17:12] daguar opened #107 "Talk proposal for Twilio conf"
CFP just opened last week.

[2015-01-26 17:18] alanjosephwilliams commented on #98
Can you elaborate on "ask their County to understand variance of
bottlenecks"?

On Mon, Jan 26, 2015 at 6:52 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-01-26 17:54] lippytak commented on #104
https://github.com/codeforamerica/codeforamerica.org/pull/884

[2015-01-26 17:54] #104 closed

[2015-01-26 18:33] lippytak opened #108 "Quick update to stakeholders on Intuit/Turbotax stuff"
- Leo/Noel to see if we can track approval rates (or make sure we can get the data in the future)
- Stephanie/food bank crew
- Pete et al to make sure AR issue is being addressed in CA
- Ping Rob to offer some support (?)

[2015-01-26 18:38] RebeccaCoelius commented on #21
Jack spoke to B Wayne Chief of Staff, confirmed commitment to project, said to call back Monday EOD if Cantinas still has not come through.

[2015-01-26 18:39] RebeccaCoelius commented on #97
set up for FA leads instead per Luke's desire to go slow on new workflow tool

[2015-01-26 18:39] #97 closed

[2015-01-26 18:40] RebeccaCoelius commented on #93
Proposed working session w/ Pete et al week of Feb 10th.

[2015-01-26 18:40] RebeccaCoelius commented on #60
Sent Nancy list of previous CfA sole source contracts and other contract vehicles 1/23.

[2015-01-26 18:40] alanjosephwilliams commented on #98
Updated. I either agree in principle or in tactics with most of your suggestions.
https://codeforamerica.wufoo.com/forms/eligibillity-worker-feedback-survey/

[2015-01-26 18:41] RebeccaCoelius opened #109 "Rebecca's Content for Health Product page"
minimal Health FA framing and anatomy of focus area to provide context for Health Lab Product page.

[2015-01-26 18:43] alanjosephwilliams commented on #98
![eligibillity worker feedback survey copy](https://cloud.githubusercontent.com/assets/2983464/5905880/394a6eda-a548-11e4-8b92-09a4f51f8e45.png)

[2015-01-26 18:47] RebeccaCoelius commented on #99
@alanjosephwilliams am I missing an issue? per Slack you are reviewing with David today but I don't see any of the content in progress here or in the original Health Home issue

[2015-01-26 19:15] alanjosephwilliams commented on #99
Ah slight misunderstanding—David and I are pairing on the development of
modules that can be contributed back to the pattern library—so its mostly
working session around workflows, naming conventions, and stylistic
approaches. For example, Afterwards we'll have a good "product card"
HTML/CSS module that we can apply the variety of product-specific content
to.

On Mon, Jan 26, 2015 at 10:47 AM, Reb

[2015-01-26 19:27] #108 closed

[2015-01-26 20:57] RebeccaCoelius commented on #87
Not sure where you want this, but here are my V1 Sections. Please consider draft and comment/edit away.
https://docs.google.com/a/codeforamerica.org/document/d/1CgjJTWqJkDh3xJbbfrhqqXWWWpAoFmwVveppya5vidI/edit?usp=sharing

[2015-01-26 20:57] RebeccaCoelius commented on #109
V1 Sections, please consider draft and comment/edit away.
https://docs.google.com/a/codeforamerica.org/document/d/1CgjJTWqJkDh3xJbbfrhqqXWWWpAoFmwVveppya5vidI/edit?usp=sharing

[2015-01-26 22:18] daguar commented on #107
http://signal.twilio.com/call-for-presenters
Closes Feb 20 but probably want to submit earlier rather than later.

Going to mention that I'll likely submit a talk in our meeting with Twilio tomorrow.

[2015-01-27 16:33] daguar opened #110 "Create issues for bug fixes in Balance we could use help with"

[2015-01-27 16:33] daguar commented on #110
A few done ( https://github.com/codeforamerica/balance/issues/268 https://github.com/codeforamerica/balance/issues/269 ) and suggested to Emma

[2015-01-27 16:33] #110 closed

[2015-01-27 17:23] #109 closed

[2015-01-27 17:25] RebeccaCoelius commented on #90
Resent to Fuzz and CfA staff+Fellows list.
Jake will email Will and say that while we will keep trying, an initial effort resulted in no applicants willing to work full time in Sacramento.

[2015-01-27 17:25] #94 closed

[2015-01-27 19:18] RebeccaCoelius commented on #18
list of states and their EBT/TANF vendors: http://www.fns.usda.gov/sites/default/files/snap/electronic-benefits-transfer-ebt-status-report-state.pdf

[2015-01-27 23:13] daguar commented on #107
Erika @ Twilio today mentioned that she was planning on reaching out anyway to do this, so it seems like a lock!

[2015-01-28 01:48] daguar commented on #107
cc @jaime-alexis to keep you in the loop on any updates to this

[2015-01-28 01:50] daguar opened #111 "Consider proposing a talk at RailsConf"
Suggested by @jaime-alexis and (I think?) @migurski. This is a stub/tracking issue. Deadline Feb 6: http://rubycentral-cfp.herokuapp.com/events/railsconf-2015

[2015-01-29 16:44] lippytak opened #112 "SF partnership agreement"
Rebecca will send draft MOUs/partnership agreement/LOS or whatever first

[2015-01-29 17:18] daguar opened #113 "Staff meeting updates — 1/29"
@lippytak you wanna take a turn?

[2015-01-29 17:34] lippytak commented on #113
Sure! @RebeccaCoelius and @daguar please do a quick dump of things here and I'll give a quick summary.

[2015-01-29 18:03] RebeccaCoelius commented on #113
- Fellows are now all HIPAA trained up! We can start sharing PHI next week as we onboard them to the Aptible dev environment., but don't encourage city partners until there is a reason to use the data.
- Rebecca at New Partners for Smart Growth and HHS tech conference in Baltimore and DC Fri-Tues, if there is somebody she needs to meet there Slack her

[2015-01-29 20:51] lippytak commented on #113
- starting Clean outreach
- sick!
- putting Molly's WA teardown
- talked to PA user
  - Applied in person, pretty easy, PA
  - Balance doing her annual renewal

[2015-01-29 23:13] lippytak opened #114 "Staff meeting updates — 2/5"
Back to @alanjosephwilliams (to continue the round robin approach if my memory serves).

[2015-01-29 23:13] lippytak commented on #113
Closed and onto the next https://github.com/codeforamerica/health/issues/114

[2015-01-29 23:13] #113 closed

[2015-01-29 23:14] daguar commented on #114
I think it's Rebecca this time?

[2015-01-29 23:33] lippytak commented on #114
@alanjosephwilliams feel free to reassign if @daguar speaks the truth!

[2015-01-29 23:39] alanjosephwilliams commented on #98
@lippytak want to circle back on this today?

[2015-01-29 23:42] alanjosephwilliams commented on #99
This very well might not happen by the end of the sprint due to The Plague. We've got a good design, and we've been well on-boarded into the process for contributing back to the pattern library. We are now in implementation phase.

[2015-01-29 23:44] alanjosephwilliams commented on #87
Our actual content will evolve through each iteration, but this strategy has set our direction. We can refer back to this closed issue, and open new issues for specific content needs.

[2015-01-29 23:44] #87 closed

[2015-01-29 23:46] alanjosephwilliams commented on #114
It does feel like I did updates last week, soooo reassigning :)

[2015-01-29 23:54] lippytak commented on #98
Tomorrow OK? Calendar mostly open either block out 30 or just start the
convo!

On Thu, Jan 29, 2015 at 3:39 PM, Alan Joseph Williams <
notifications@github.com> wrote:

[2015-01-30 00:00] alanjosephwilliams commented on #98
Booked

On Thu, Jan 29, 2015 at 3:54 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-01-30 01:41] RebeccaCoelius commented on #114
YRP

On Thursday, January 29, 2015, Alan Joseph Williams <
notifications@github.com> wrote:

--
Rebecca Coelius, MD
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-01-30 17:37] alanjosephwilliams opened #115 "EBTNM follow up emails"
We want to follow up with our Ethnio survey respondents—specifically to investigate whether they are *actually eligible* for hot meals, or otherwise elucidate wtf is going on.

[2015-01-30 17:43] alanjosephwilliams opened #116 "presentation of January research"
Even though there are a couple of pieces of #74 research still in the field, I think its time to curate the results and externalize them. A presentation of our research to date feels like a useful and consumable format for both the team and the organization.

My top-line, early (and provisional) takeaway: we didn't discover any new opportunities that significantly change our calculus about how we

[2015-01-30 17:44] alanjosephwilliams opened #117 "Talk to a User Today"
Open and close this issue every day. If UX is muscle, this is my gym.

[2015-01-30 17:48] alanjosephwilliams opened #118 "Give FB feedback on observation questions"
I'm going to give Diana et al feedback on the questions they are having nursing students reference as they observe and interview folks going through the CalFresh application process. Just a close reading and thoughts in an email.

[2015-01-30 17:50] alanjosephwilliams opened #119 "1-pager for FB for nurse documentation"
I'm going to create a very simple but nice looking one page document that offers some thoughts about how to document your CalFresh application experience, potential tools and references, ways to think about it ("no detail too small, your personal perspective is valuable"), and why its important.

[2015-01-30 19:43] lippytak commented on #98
Shipped! Close this one?

:+1: to this first attempt to get the EW perspective!

[2015-01-30 21:39] alanjosephwilliams commented on #98
Closed—big ups @lippytak

[2015-01-30 21:39] #98 closed

[2015-02-02 06:33] alanjosephwilliams commented on #99
After discussion in Retro on Friday, we are changing our approach on the Homepage work.

We had enumerated 4 use cases for this project—2 product marketing use cases, and 2 general FA use cases. The product marketing use cases were upping the complexity and time requirements of the project—particularly in the development of new, generalized patterns to be contributed back to the site's pattern lib

[2015-02-02 06:37] alanjosephwilliams commented on #99
We have the layout and components of v1 on a branch called "health-homepage". The screenshot attached shows the work done to date. In advance of our meeting to review on Thursday, we'll need to:
- continue to tailor and improve our final v1 messaging and copywriting
- identify the idea pull quote from a partner, and secure a headshot for them.
- identify a header image that fits the page well and

[2015-02-02 06:40] RebeccaCoelius commented on #99
This generally makes sense to me esp since we aren't in product marketing
mode right now, but I want to be we aren't losing ALL descriptions of the
Health Lab projects since this is where your product marketing use cases
overlapped with my own. A basic description of what we are working on, why,
theory of change, and status for each project/product is necessary to meet
my use cases.

Rebecca Coeli

[2015-02-02 06:49] alanjosephwilliams commented on #99
That sounds good to me. I suggest as a rule of thumb we only include product names and descriptions (theories of change) for those projects that are "alpha" or above—which as of today includes Balance, Clean, Connect, and EBT Near Me.

[2015-02-02 06:54] RebeccaCoelius commented on #99
Absolutely, that was my assumption but thank you for making it clear.

Rebecca Coelius, MD
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Mon, Feb 2, 2015 at 1:49 AM, Alan Joseph Williams <
notifications@github.com> wrote:

[2015-02-02 06:57] #92 closed

[2015-02-02 18:01] alanjosephwilliams commented on #117
4 intercepts at 1235 2/2/2015. Transcripts will go in private health repo.

[2015-02-02 18:01] #117 closed

[2015-02-02 19:30] #90 closed

[2015-02-02 19:30] lippytak commented on #77
@rebeccacoelius done? Okay to close?

[2015-02-02 19:31] Jaime-Alexis commented on #107
Great, deadline is fast approaching to submit speaker talk...we should
submit...i.e., Dave :)

--------------------------------------------------------------------------------------------------------------------------------
Jaime-Alexis Fowler | Director of Marketing | *Code for America*
<http://codeforamerica.org/> | p:*214.673.9060* | @JaimeAlexis
<http://www.twitter.com/JaimeAlexis>

*Bring the

[2015-02-02 19:34] lippytak opened #120 "CodeAcross"
Help rebecca finish it up!

[2015-02-02 19:36] RebeccaCoelius commented on #77
Nope I have two outstanding activities- finalize policies/procedures, and
onboard fellows to Aptible which is happening in 25 minutes.

On Monday, February 2, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-02 20:04] daguar commented on #107
Emailed Erika; will draft when I hear back from her. Moving into "Ready" until I hear back; deadline is Feb 20th, and sounds like they're really down for us to talk, so should be fine.

[2015-02-02 20:05] daguar opened #121 "Reply to Pittsburgh food bank person"

[2015-02-02 21:00] #121 closed

[2015-02-02 21:28] RebeccaCoelius commented on #99
@alanjosephwilliams where should I make comments on Content?

[2015-02-02 22:07] RebeccaCoelius commented on #77
Fellows now all have access to Aptible. Policies + Procedures shared with Chas, discussing again + Privacy officer responsibilities Friday.

Putting the Mass HIE follow up on ice until more info on Somverville.

[2015-02-02 22:17] alanjosephwilliams commented on #99
You can either make them here, or if you want, I could pull out all of the
content into a Google Doc that we could edit. Whatever you prefer!

On Mon, Feb 2, 2015 at 1:28 PM, RebeccaCoelius <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-02-02 23:53] #119 closed

[2015-02-03 02:51] daguar commented on #114
Am I right that we are also presenting Health Lab stuff this week? (since we didn't have time last week?) If so, this is just a flag for someone to F/U with Gabrielle to make sure she knows.

[2015-02-03 02:55] daguar commented on #102
Did we get a ballpark cost estimate on this?

[2015-02-03 03:47] alanjosephwilliams commented on #102
^^ $1k

[2015-02-03 03:48] daguar commented on #102
Okay cool, I thought this was written before calling and that was your estimate of the cost. Thanks!

[2015-02-03 04:44] RebeccaCoelius commented on #114
No it needs to be scheduled, feel free to email her and coordinate date
that works well for three of you

On Monday, February 2, 2015, Dave Guarino <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-03 17:58] #118 closed

[2015-02-04 06:29] lippytak opened #122 "Add better Arizona keyword"
Right now AZ is getting away with a ton of undetected downtime! So sneaky...

UP looks like this:
![az-up](https://cloud.githubusercontent.com/assets/2533112/6036070/fbfea8fe-abf3-11e4-85e1-e0d8542ce480.png)

Down looks like this:
![screen shot 2015-02-03 at 10 27 38 pm](https://cloud.githubusercontent.com/assets/2533112/6036071/ff95404a-abf3-11e4-89e6-9a31beab290f.png)

So we need to look for som

[2015-02-04 06:36] daguar commented on #122
Well, fuck that noise. Let's get these suckas.

[2015-02-04 06:36] daguar commented on #122
PS should this be in /health???

[2015-02-04 06:42] lippytak commented on #122
NOPE https://github.com/codeforamerica/snap-it-up/issues/22

[2015-02-04 06:42] #122 closed

[2015-02-04 18:08] lippytak opened #123 "CodeAcross writeup eligibility screener thang"
Draft by tomorrow midday

[2015-02-04 18:09] #115 closed

[2015-02-04 19:58] daguar commented on #123
Changed name to "eligibility screener"

[2015-02-04 19:58] lippytak commented on #123
:+1:

[2015-02-04 19:59] lippytak commented on #123
SMS stood for 'Some Memorable Screener' don't worry I would never impose an arbitrary communication medium!

[2015-02-04 23:21] lippytak opened #124 "Bios on cfa website"

[2015-02-04 23:59] lippytak opened #125 "Process and circulate summary of EW surveys"
There's some amazing stuff coming in...

Let's process + circulate summary. We could share the summary with Solano/Napa as a nudge if they don't circulate soon.

Also let's consider inviting SF EWs who responded over for lunch or something.

[2015-02-05 00:56] RebeccaCoelius commented on #99
need to update this page when we do PR for Homepage so language consistent. http://www.codeforamerica.org/our-work/focus-areas/

[2015-02-05 01:09] alanjosephwilliams commented on #99
Updated homepage layout and copywriting—matches the Google Doc found here
https://docs.google.com/a/codeforamerica.org/document/d/1Ma95E_WxxjdFilEjdB1tLm8ENuf3O-P9zRwWp7j2t5o/edit
![homepage_v1 1_for_review](https://cloud.githubusercontent.com/assets/2983464/6053157/94eac75e-ac90-11e4-81c8-08d677e7b5d3.png)

[2015-02-05 19:11] daguar opened #126 "Set up AWS account for Health Lab"

[2015-02-05 19:26] alanjosephwilliams commented on #114
Seems like Lab updates might be:
- We are going into sales mode on Clean. If you have friends in the direct service / non-profit world, send them our way.
- Interesting thing of the week to externalize to CfA: with the help of the CalFresh director, we surveyed the front-line eligibility workers at SF HSA. We received a ton of interesting and in-depth responses.

[2015-02-05 19:28] daguar commented on #114
+1 to mentioning the EW survey — it's been really great.

The other that comes to mind to me:
- We discovered a systemwide problem in Twilio that they didn't even know about before we told them

(I thought it was cool :P )

[2015-02-05 19:36] daguar commented on #126
We now have an AWS account specifically for the Health Lab set up (for S3, EC2, etc). Credentials are in the private credentials doc, and the account is set up on CfA's consolidated billing.

[2015-02-05 19:36] #126 closed

[2015-02-05 20:36] alanjosephwilliams commented on #99
Let's make sure all content is in line with the Style Guide:
https://docs.google.com/a/codeforamerica.org/document/d/1d4lhm_8kmTQ4nXzOPxmlOmSdyt6C0OV1LY2TfdKL9sU/edit

[2015-02-05 21:02] alanjosephwilliams commented on #99
Notes from our 2/5/2015 meeting w/ JA & David.

- "Seperateness"
- Allusions to other work—Let's make sure we link to the Fellowship page
  - Let's make sure that on the Fellowship page, we communicate clearly about product outcomes, and how they fit with Product Residencies and even more mature work via the Health Lab
- What are we comfortable with regarding the Fellowship Outcomes
- Let's duplic

[2015-02-06 20:18] lippytak commented on #123
NMP (anymore!)

[2015-02-06 20:18] #123 closed

[2015-02-06 20:21] #120 closed

[2015-02-07 00:25] #114 closed

[2015-02-07 00:52] #96 closed

[2015-02-07 19:43] #111 closed

[2015-02-07 22:36] lippytak commented on #111
@daguar chose not to do this?

[2015-02-07 22:48] daguar commented on #111
Roger — not a big tie-in with any of the tracks, and I didn't have a particularly compelling idea for a proposal.

RubyConf may be a better fit for a talk, and if the aim is fellow recruitment, I could potentially attend RailsConf and do a booth or something (I think Erica did this last year).

[2015-02-09 16:31] Jaime-Alexis commented on #111
Dave, let's chat. We're moving away from booth stuff as it's a) expensive
and b) doesn't seem to get us much in terms of recruitment. We seem to get
a lot more out of speaking.

Maybe you and I can spend a few minutes brainstorming some speaking ideas?

--------------------------------------------------------------------------------------------------------------------------------
Jaime-Alexis Fowl

[2015-02-09 17:46] #125 closed

[2015-02-09 17:47] alanjosephwilliams commented on #125
The current survey results are summarized in the wiki. Closing this issue for now, and we can open new issues for soliciting and summarizing responses from Napa & Solano.

[2015-02-09 17:51] alanjosephwilliams opened #127 "Follow up for EW survey of Napa / Solano"

[2015-02-09 17:53] lippytak commented on #125
Link: https://github.com/codeforamerica/health/wiki/Eligibility-Worker-Research-(Feb-2015)

@ajw I deleted the qualitative responses as we didn't tell folks it would be public but copied them into ew_responses.md in `Research/EW surveys` in DB.

[2015-02-09 19:23] daguar commented on #111
@Jaime-Alexis: Makes sense — the deadline is passed for RailsConf (see above) but I think targeting some Ruby conferences with a talk that makes sense for their track(s) would be great.

I could also see some applied content (like, we had X social impact and we did it in Ruby) that makes its rounds in the Ruby e-sphere (Twitter, some email lists) being good.

(cc @danhon as well, because it's rela

[2015-02-09 23:14] daguar opened #128 "Shadow MEDA use (Tuesday, 1-3pm)"

[2015-02-09 23:40] daguar commented on #125
Can we please use the private GitHub repo for sensitive stuff? (Especially if it's a Markdown file?)

I find Dropbox to be terribly unwieldy. I'd really love to only store files we HAVE TO over there (like Powerpoint prezos, movies, audio, Illustrator assets.)

I think I've mentioned this before, but I'd like to see our prioritization of "where to put shit" be:
1. GitHub
2. Google Drive
3. Dropbox

[2015-02-10 09:58] alanjosephwilliams commented on #125
We can discuss further in person, but I simply don't agree that this should
be considered sensitive to this extent. We solicited responses as
anonymous, but also advertised that we would deliver results back to
respondents. Obviously there is nothing lost in this *particular case* by
keeping things behind a private repo, but in general I wan't to make as
much of our research as publicly viewable a

[2015-02-10 17:58] alanjosephwilliams commented on #125
Enjoyed our post-mortem on this topic in Slack. We are all on the same page—which looks like what @daguar has captured here and agreement that the EW responses are suited for the private repo until further preparation for public consumption.

[2015-02-10 19:47] lippytak opened #129 "Staff meeting updates"
Order:
- Rebecca
- Jake
- Alan
- Dave
- Rebecca (etc etc)

Once you do one week, reassign the issue to the next person.

[2015-02-10 20:05] daguar commented on #129
Sure. Please put updates here folks!

[2015-02-11 18:09] #128 closed

[2015-02-12 20:05] lippytak commented on #129
- Great Sacramento working meeting with CDSS around procurement project
- Visited with West Sac fellows, who are being treated like royalty
- Our teammate at HSA got yelled at and kinda intimidated by bosses bosses, which has been BIG challenge
- One application crash resulted in a client having to go around the city trying to deliver paperwork, so we  gave her a $50 gift card to remedy and create

[2015-02-13 01:55] alanjosephwilliams opened #130 "Health Page Improvements"
@RebeccaCoelius et al, let's document improvements to the Health Page here. Obviously we want to limit the scope primarily to content and modest changes.

- [ ] identify links to the Health Page
- [ ] redirect to .org/health
- [ ] add missing `<br>` tag after the fellowship section header

[2015-02-13 07:24] lippytak commented on #129
@alanjosephwilliams you're up for the 2/19

[2015-02-13 22:43] RebeccaCoelius commented on #130
From Nicole:
request update to Fellowship description, her suggestion:

nneditch [2:36 PM]2:36
The Code for America Fellowship Program sends teams of technologists into local governments across the country to work full-time for a year in partnership with government officials and the community. The fellows apply 21st Century Government Principles to important problems, focused on health, economic d

[2015-02-13 22:55] RebeccaCoelius commented on #130
From Rebecca
- [ ] better header photo of service delivery
- [ ] different frame for Rebecca's Summit video

[2015-02-15 00:28] lippytak commented on #99
Done?

[2015-02-15 00:34] lippytak commented on #70
No longer pursuing this outside scope of Clean.

[2015-02-15 00:34] #70 closed

[2015-02-15 00:35] lippytak commented on #74
Jan is over. Maybe link to output and close this?

[2015-02-15 00:37] lippytak commented on #21
Done?

[2015-02-15 00:44] lippytak commented on #71
Any next steps on this. If not let's close and consider it DOOOONE!

[2015-02-15 00:54] RebeccaCoelius commented on #99
Yes

On Saturday, February 14, 2015, Jake Solomon <notifications@github.com>
wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-15 00:54] RebeccaCoelius commented on #21
No but I need to break into chunks

On Saturday, February 14, 2015, Jake Solomon <notifications@github.com>
wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-15 00:56] lippytak commented on #99
yay!

[2015-02-15 00:56] #99 closed

[2015-02-15 05:16] alanjosephwilliams commented on #71
I think a lot of the questions we have in the field to RM staff could add another dimension to this—but let's consider it done for now.

[2015-02-15 05:16] #71 closed

[2015-02-17 00:20] lippytak commented on #42
Dup https://github.com/codeforamerica/health/issues/98

[2015-02-17 00:20] #42 closed

[2015-02-17 15:53] daguar opened #131 "Kill health@ email list"
Then @RebeccaCoelius will send an email to staff FYIing

[2015-02-17 15:59] daguar commented on #107
Gonna do this this week, since deadline is Feb 20th.

[2015-02-17 16:13] Jaime-Alexis commented on #107
Great!

--------------------------------------------------------------------------------------------------------------------------------
Jaime-Alexis Fowler | Director of Marketing | *Code for America*
<http://codeforamerica.org/> | p:*214.673.9060* | @JaimeAlexis
<http://www.twitter.com/JaimeAlexis>

*Bring the Code for America Fellowship to your city in 2016. Learn how.
<http://www.codeforameric

[2015-02-17 20:04] lippytak commented on #131
Looks like @jmadans is the owner. Jack can you delete this group and give @RebeccaCoelius a heads up when you do? Instructions: https://support.google.com/groups/answer/2646833?hl=en

[2015-02-18 05:30] RebeccaCoelius commented on #93
I'm going to close and divide into smaller issues.

[2015-02-18 05:31] #75 closed

[2015-02-18 05:31] #93 closed

[2015-02-18 05:31] RebeccaCoelius commented on #60
Phone call Monday 23rd.

[2015-02-18 05:39] RebeccaCoelius commented on #130
- [ ] link from Focus Areas page http://www.codeforamerica.org/our-work/focus-areas/

[2015-02-18 08:09] alanjosephwilliams commented on #130
We've submitted a PR to:
- Update the focus area umbrella page to link explicitly and easily to the focus area page (n copy edits to the overview paragraph were made though)
- removed the poor-resolution CFCH image/logo from the umbrella page, since that was the only mention of any partner on the page—they are now referenced on the health focus area page.
- Restyled our projects on the health focu

[2015-02-18 20:36] RebeccaCoelius commented on #130
-[ ] Small copy edit:
If you are committed to improvING health in your community through the transformation of public services, contact us.

- [ ] consider rewording, unclear here if you mean a level of government (federal?) vs the intensity of support.
"and work with the highest levels of government support to scale digital services. "

-[ ] consider rewording to:
ORIGINAL RESEARCH AND DIGITAL EX

[2015-02-18 20:38] alanjosephwilliams commented on #130
:+1: thanks @rebeccaCoelius!

On Wed, Feb 18, 2015 at 12:36 PM, RebeccaCoelius <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-02-18 20:41] RebeccaCoelius commented on #130
Thanks YOU @alanjosephwilliams!

- [ ] add navigation back to Focus Area page http://www.codeforamerica.org/our-work/focus-areas/
- [ ] Copy edit: Watch our PROGRESS, share your ideas, and get involved.

[2015-02-18 20:50] RebeccaCoelius opened #132 "Health page feedback"
complete next round of Health page feedback for Alan http://www.codeforamerica.org/our-work/focus-areas/health/

[2015-02-18 20:51] RebeccaCoelius opened #133 "Fureigh's Contract"
Execute contract w/ Meghan so they can start work March 2nd.

[2015-02-18 20:55] alanjosephwilliams opened #134 "Talking points"
Impetus is a potential Health Refactored interview, but its a general need. We have cultivated a lot of content with the Health Page, now let's distill it down into conversational pieces. @RebeccaCoelius I am assigning you because I think you are both best suited and have the most experience talking about the work to uninitiated audiences—but we should all review and contribute.

[2015-02-18 20:56] alanjosephwilliams opened #135 "Talk for Health Refactored Conference"
I am currently slated to speak at the [Health Experience Refactored](http://www.hxrefactored.com/) conference in Boston on April 1 & 2 (thanks @mollymcleod!). I'll need to produce a draft of the presentation by early March.

[2015-02-18 21:01] #132 closed

[2015-02-19 00:13] RebeccaCoelius commented on #135
Funnily I just spoke to one of the organizers and  Health 2.0 employee
involved in the conference. This conference and the people who attend are
extremely healthCARE focused.

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Wed, Feb 18, 2015 at 3:56 PM, Alan Joseph Williams

[2015-02-19 18:29] RebeccaCoelius commented on #129
-Snow delayed but couldn't keep us from the Richmond Fellows! Dave and Rebecca had a great time eating BBQ, visiting with some of their city partners, and problem scoping.
- Rebecca in NYC today working on potential 2016 Health Fellowship.
- Health page is up! We will be making many updates this month, Rebecca appreciates your feedback. codeforamerica/health.org

[2015-02-20 18:30] alanjosephwilliams commented on #135
Hrm :/

[2015-02-20 18:31] alanjosephwilliams commented on #134
This conversation is going to happen Wed 2/25. I'll draft some initial thoughts for us to review on Monday.

[2015-02-20 18:32] alanjosephwilliams commented on #130
We'll do another pass on this in the next couple of days! Small, continuous changes FTW.

[2015-02-20 18:32] alanjosephwilliams commented on #127
This is not going to happen today, so let's move it to next spring—ideally Monday.

[2015-02-20 18:33] alanjosephwilliams opened #136 "Refactor Health Dropbox"
Our dropbox garden needs some tending to. I'll take some lazy hours in the next week or so to clean it up and straighten it out.

[2015-02-20 18:51] RebeccaCoelius commented on #134
Great, it's on my to do Monday too

On Friday, February 20, 2015, Alan Joseph Williams <notifications@github.com>
wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-20 18:51] RebeccaCoelius commented on #135
We will figure it out, just sharing for context

On Friday, February 20, 2015, Alan Joseph Williams <notifications@github.com>
wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-20 19:16] daguar commented on #107
Talk submitted and Erika pinged with description for any feedback

[2015-02-20 19:17] #107 closed

[2015-02-21 20:48] lippytak commented on #129
Because we do this every week let's try leaving the issue open and just reassigning.

[2015-02-24 18:27] #133 closed

[2015-02-24 19:16] RebeccaCoelius opened #137 "Amazon Procurement Call"
With Jed from Amazon, Dharmistha, and Jennifer. They wanted to follow up about procurement as related to state contract and exploring whether they can share anything helpful for our health team/product business model questions.

[2015-02-24 19:17] RebeccaCoelius commented on #77
Closing issue to turn into discrete tasks.

[2015-02-24 19:17] #77 closed

[2015-02-24 19:19] RebeccaCoelius opened #138 "Privacy Officer Training"
Required yearly for HIPAA compliance. Rebecca scheduled to receive training from Aptible on Thursday.

[2015-02-24 19:20] RebeccaCoelius opened #139 "CfA HIPAA Policies and Procedures finalization V.5"
Review changes with Chas on Thursday, send to CfA lawyers for their review. Goal is to have finalized end of next week.

[2015-02-24 19:21] RebeccaCoelius opened #140 "Consider Balance in Richmond"
Prelim discussion with Dave. Lunch w/ Cyd on Thursday to discuss Product involvement.

[2015-02-24 19:30] RebeccaCoelius opened #141 "Balance Value Prop"
Work with Alan to clarify marketing needs related to Balance, using Richmond as the model.

[2015-02-24 19:32] RebeccaCoelius opened #142 "San Mateo County growth: Food Bank and HSA intros"
- [x] follow up on Lilliana introductions at Food Bank
- [x] get intro to Director of HSA

Include Jake in conversations.

[2015-02-24 19:47] RebeccaCoelius opened #143 "Prelim Intern Work"
- [ ] requested call with Kenny/Clarement opportunity
- [ ] work on V1 project needs for future matching when opportunities arise/we meet awesome people/need becomes acute

[2015-02-24 19:48] RebeccaCoelius commented on #143
Draft V1: @daguar @lippytak @alanjosephwilliams please comment/make additions
THIS IS NOT AT WORDSMITH STAGE, don't waste your time

- Policy research on Calfresh (CA food stamp program) barriers to participation
- Work between the Health Team and Product team to explore and document business models for our projects, especially CleanAssist (dramatically simplified and improved CalFresh enrollment)

[2015-02-24 20:00] RebeccaCoelius commented on #137
Not relevant because primary procurement person was not on call, left early.

[2015-02-24 20:00] #137 closed

[2015-02-24 20:07] RebeccaCoelius opened #144 "Get Web Services on R's AMEX"

[2015-02-24 20:08] RebeccaCoelius opened #145 "Follow up with RWJF"

[2015-02-24 20:08] RebeccaCoelius opened #146 "Phase 2 State Contract"
Make updates reflecting Phase 1 contract already submitted, review by Megha/Greg, ship.

[2015-02-24 20:09] RebeccaCoelius opened #147 "CodeAcross Follow up"

[2015-02-24 20:09] RebeccaCoelius commented on #147
- [ ] what worked, what did not
- [ ] can we extract anything of value for our work

[2015-02-24 20:09] RebeccaCoelius commented on #147
@lipptyak are you the best person to discuss this with? If not plz intro me to the right people at mHealth Relief.

[2015-02-24 20:43] daguar commented on #144
Which in particular do we need to move?

[2015-02-24 21:34] lippytak commented on #147
I'll intro you to mRelief team now + also would be worth checking with
Hannah and Dave to offer the other perspectives.

On Tue, Feb 24, 2015 at 12:09 PM, RebeccaCoelius <notifications@github.com>
wrote:

[2015-02-25 02:02] daguar commented on #141
Concretely Andreas asked me to forward this to pass along to the state folks. Do you (+Alan?) want to take this on, or do you want me to do it? Happy either way, just assign accordingly.

[2015-02-25 02:12] daguar commented on #143
I've got a bunch of input on this; in general I feel like the most valuable thing is suited towards the particular person's background. For undergrad-level interns I'd probably suggest helping us concierge to really get in the weeds on this stuff.

[2015-02-25 02:45] RebeccaCoelius commented on #143
I'll catch you tomorrow for ten minutes to capture all of the input, but
def agreed re the persons background, and concierge   @daguar

On Tuesday, February 24, 2015, Dave Guarino <notifications@github.com>
wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-02-25 19:03] RebeccaCoelius opened #148 "Call with Knight re Open Referral report"
call Wednesday

[2015-02-25 21:25] RebeccaCoelius opened #149 "Health and Slack channels"

[2015-02-25 21:25] RebeccaCoelius commented on #149
Per @daguar email, I assigned to myself for now but Dave not sure if you want to own? You suggested a conversation before I move on the last reccommendation.

[2015-02-25 21:43] #148 closed

[2015-02-25 21:43] RebeccaCoelius commented on #145
Hadley is now point on this, closing issue.

[2015-02-25 21:43] #145 closed

[2015-02-25 21:44] RebeccaCoelius commented on #146
Shared with Meghan/Greg for review this morning.

[2015-02-26 16:21] daguar commented on #129
YO, hit me with them. I'll do them this week.

[2015-02-26 20:05] RebeccaCoelius commented on #129
From last week:
Snow delayed but couldn't keep us from the Richmond Fellows last week.

Health page is up and other FA pages coming very soon. We will be making continous updates,  FA leads appreciate your feedback.

We have a CTOs health and Safety and Justice pilot launching next week in Alameda County to help Victims of Violent Crime  This work is led by Spike of Urban Strategies

[2015-02-26 20:05] RebeccaCoelius commented on #129
(Sorry)
... And 2014 Fellow Fureigh.

[2015-02-26 22:33] #138 closed

[2015-02-26 22:33] RebeccaCoelius commented on #134
Alan completed interview yesterday, we will do further work on this and create TPs for other staff members/use cases during the upcoming sprints.

[2015-02-26 22:33] #134 closed

[2015-02-26 23:10] RebeccaCoelius commented on #146
shipped to Pete et al today, requested phone call to discuss next week

[2015-02-26 23:10] #146 closed

[2015-02-26 23:12] RebeccaCoelius commented on #143
@daguar want to add any other thoughts here? other than of course agreeing that we fit to the person, a few sketches of work you could use help with would be a good starting point.

[2015-02-26 23:13] RebeccaCoelius commented on #139
Chas is going to make updates to our existing policies and procedures and get back to us next week. Then Rebecca will review w/ Meghan. Moving to ready for next sprint.

[2015-02-26 23:13] RebeccaCoelius commented on #140
Discussed w/ Cyd at lunch today, she's all about it. Will discuss w/ Health Lab next week when Alan is back. Jack will have bandwith to help in two weeks.

[2015-02-26 23:14] RebeccaCoelius commented on #147
@lippytak did I miss the intro?

[2015-02-26 23:15] daguar commented on #140
Andreas is tee'd up for value proposition, so probably good to ship that this or next week (I imagine next is fine given the fellows are still there this week.)

[2015-02-26 23:17] RebeccaCoelius commented on #140
ah got it.Will do first thing next week, thanks @daguar

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Thu, Feb 26, 2015 at 3:15 PM, Dave Guarino <notifications@github.com>
wrote:

[2015-02-27 20:44] lippytak commented on #147
@RebeccaCoelius done now sorry about that!

[2015-02-27 21:15] lippytak commented on #144
@RebeccaCoelius slack me the info whenever and I'll do it. Only two right now are Ducksboard (other teams are using) and Pingometer (only health really...okay to put on this card or should we do something else?)

[2015-03-01 20:20] daguar opened #150 "Go to The Ramp"

[2015-03-02 16:58] lippytak opened #151 "Get users for CfA about video"

[2015-03-02 18:54] RebeccaCoelius commented on #149
@daguar you were going to think on this. any updates or want to chat briefly this afternoon?

[2015-03-02 20:07] RebeccaCoelius commented on #112
@lippytak did Meghan ever send these to you?

[2015-03-02 20:08] #21 closed

[2015-03-02 20:09] RebeccaCoelius opened #152 "Call w/ National League Cities"
feedback on Health Challenges http://2015cityinnovation.populr.me/health-innovation-challenges

[2015-03-02 20:10] RebeccaCoelius commented on #152
Emailed extensive feedback/ intro suggestions. Will likely submit AddressIQ

[2015-03-02 20:10] #152 closed

[2015-03-02 20:16] RebeccaCoelius commented on #139
Chas has cautioned that he can't do this until end of week, so the review by CfA lawyers will begin this sprint, finalization w/in Aptible will take place next sprint.

[2015-03-02 20:17] RebeccaCoelius opened #153 "Make HIPAA Policies/Procedures easy to understand"
Deck or other simple resource that makes our Policies and Procedures less terrible for Fellows, esp w/r/t tools they can use to meet our policies

[2015-03-02 20:18] RebeccaCoelius opened #154 "ED Interviews"
completely 2 one hour interviews with ED candidates

[2015-03-02 20:22] RebeccaCoelius commented on #144
@lippytak I'd rather not do that, I will just give you the card. Yes to Pingometer. Ducksboard needs to be on the tech team account like other web services shared across CfA since it will be impossible for me to track what other teams are using vs health from my card. You can send me account info and i can figure out w/ Mike/Meghan.

[2015-03-02 20:23] RebeccaCoelius opened #155 "Security Officer Training follow ups"

[2015-03-02 20:32] RebeccaCoelius commented on #155
notes from call:  https://docs.google.com/a/codeforamerica.org/document/d/1E9A_U-bqAJYzvUYQXDtd0fAnaQsEgtdOLSvloKRE2Wc/edit?usp=sharing

[2015-03-02 20:33] RebeccaCoelius commented on #143
I'm going to close this. Meghan is connecting w/ the Claremont McKenna contact, I think we have a good initial sense of where we could use people.

[2015-03-02 20:33] #143 closed

[2015-03-02 20:39] RebeccaCoelius opened #156 "Mark Monterselli"
follow up and document conversation for team

[2015-03-02 20:40] RebeccaCoelius opened #157 "Alameda County Open Referral Pilot Launch"
Lunch w/ Spike/Fureigh/Jenny on Wednesday.
Teams start work this week.

[2015-03-02 20:40] RebeccaCoelius opened #158 "Plan San Diego/Long Beach trip"
awaiting confirmation from Luke

[2015-03-02 20:41] RebeccaCoelius opened #159 "Review EW Survey w/ Alan for Content piece"
Goal is to minimize effort but try to extract value from his work for others, like the state.

[2015-03-02 20:42] RebeccaCoelius opened #160 "CDSS folllow up call"
tentatively scheduled 3/2

[2015-03-02 20:42] RebeccaCoelius opened #161 "Talk to Jack re Market Research process"

[2015-03-02 20:43] RebeccaCoelius opened #162 "Follow up w/ CHCF re latest proposal"
waiting on Hadley for feedback on my response

[2015-03-02 20:45] RebeccaCoelius opened #163 "Consider CMAS"
http://www.dgs.ca.gov/pd/Programs/Leveraged/CMAS.aspx

[2015-03-02 21:35] lippytak commented on #144
Sounds good. Slacked you Ducksboard credentials. I'll switch over
Pingometer when you drop off the card.

On Mon, Mar 2, 2015 at 12:22 PM, RebeccaCoelius <notifications@github.com>
wrote:

[2015-03-03 00:45] RebeccaCoelius opened #164 "Update LOI for Jennifer"

[2015-03-03 00:46] RebeccaCoelius opened #165 "HSDS Product Resident"
- [x] call with Hailey
- [x] finalize PD

[2015-03-03 18:13] lippytak commented on #112
Yea sorry this fell off my radar. Just spoke to Liliana and Tiana and they're both ready for drafts. I'll try to get first drafts out the door next week. @rebeccacoelius let me know if you have specific deadlines or if I should prioritize this sooner.

[2015-03-03 18:17] lippytak commented on #112
Next step: Draft partnership agreements for SF FB and SF HSA.

[2015-03-03 18:35] RebeccaCoelius commented on #112
No hard deadlines on my end, but shoot me the draft when its started and I
can help. @lippytak

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Tue, Mar 3, 2015 at 10:17 AM, Jake Solomon <notifications@github.com>
wrote:

[2015-03-04 06:16] daguar commented on #158
I'll go! :P

[2015-03-04 07:09] RebeccaCoelius commented on #158
Are you volunteering to take over '16 recruitment?

On Tuesday, March 3, 2015, Dave Guarino <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-03-04 07:14] daguar commented on #158
Offer rescinded! But go to Stone in Escondido!

[2015-03-05 18:03] lippytak commented on #129
@RebeccaCoelius this week. My updates:
- 23 approved cases, 87 submitted
- One case successfully overturned (!!)
- One user in the wild - bug + personal phone call
- Maybe read an EW survey? Getting more in other counties?

[2015-03-05 18:05] lippytak commented on #129
Unexpected uptick in EBTNearMe usage:
![screen shot 2015-03-05 at 10 00 01 am](https://cloud.githubusercontent.com/assets/2533112/6511066/1410f5cc-c31f-11e4-866c-68040280047b.png)

[2015-03-05 19:58] RebeccaCoelius commented on #129
Finally making progress on earned revenue for the health team- ie the state contract! The smaller contract for the procurement related collaboration with the Content team should be finalized this month. For the larger $ amount for the CalFresh work, we've now engaged with two primary contractors that we would subcontract through. Thanks to revenue team and especially Matt Boitano for supporting th

[2015-03-05 21:42] #149 closed

[2015-03-05 21:43] daguar commented on #141
You mentioned this was done in standup today - let's touch base about the other side, which is the "ask" for the state.

[2015-03-05 21:56] RebeccaCoelius commented on #141
To clarify- @daguar missed the "half" before the done in standup

On Thursday, March 5, 2015, Dave Guarino <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-03-06 00:43] daguar commented on #141
Yup! Sorry about that :)

On Thu, Mar 5, 2015 at 1:56 PM, RebeccaCoelius <notifications@github.com>
wrote:

--
Dave Guarino
Engineer, Health
(2013 Fellowship alumnus)
Code for America <http://www.codeforamerica.org/>
dave@codeforamerica.org
LinkedIn <http://www.linkedin.com/in/daveguarino/> | GitHub
<https://github.com/daguar/>

[2015-03-06 20:38] RebeccaCoelius commented on #154
completed one 3/6, rest scheduled for next week

[2015-03-06 20:38] RebeccaCoelius commented on #165
awaiting response from Hailey on availability over next three months, resent email

[2015-03-06 20:39] #164 closed

[2015-03-06 20:39] RebeccaCoelius commented on #163
Matt Boitano is completing this application

[2015-03-06 20:39] #163 closed

[2015-03-06 20:39] RebeccaCoelius commented on #162
in person with Andy scheduled for next week

[2015-03-06 20:39] #160 closed

[2015-03-06 20:40] RebeccaCoelius commented on #158
still awaiting Luke confirmation (as he is awaiting confirmation from the city)

[2015-03-06 20:40] #157 closed

[2015-03-06 20:41] RebeccaCoelius commented on #139
I approve of all suggested changes, moved CfA lawyers review to next sprint so they can review final Aptible version.

[2015-03-06 20:42] RebeccaCoelius commented on #141
Value prop portion done, have draft of the ask but will wait to send until we have the Health:Product team meeting so we are all on same page re CfA support

[2015-03-06 20:43] #147 closed

[2015-03-06 20:43] #144 closed

[2015-03-06 20:43] RebeccaCoelius commented on #142
mtg w/ Anna / SM Food Bank next Wednesday

[2015-03-06 20:43] #142 closed

[2015-03-09 17:10] mollymcleod commented on #151
Any potential candidates in the works? We'll want to figure out a simple screener to make sure someone has a good story/potential sound bites and is good on camera. Anything else to add about what we're looking for @Jaime-Alexis?

[2015-03-09 23:04] hannahyoung opened #166 "National Day of Civic Hacking 2015 Challenge"
Hi Health Team,

Wanted to start the conversation around submitting a health challenge for National Day of Civic Hacking.  @daguar told me this would be a good spot to do it. cc @alanjosephwilliams @lippytak @RebeccaCoelius

[2015-03-10 00:14] lippytak commented on #166
Yo! Thx for the heads up, we'll make sure to discuss soon. Remind me of the audience/timing of the event...same as CodeAcross basically?

PS who at IE is working on this?

[2015-03-10 16:12] daguar opened #167 "Investigate GCal problems with health-lab@ alias"
Becca sent us an invite that eluded us, and just got a report from @ondrae that he sent one that I don't think any of us received (the dev meetup) last week. Let's look into this.

[2015-03-10 22:31] hannahyoung commented on #166
National Day is June 6. Audience will be larger than National Day b/c it's not just the CfA network.

IE?

[2015-03-12 04:14] ondrae commented on #167
Changed one setting in your group. Changed Viewing Members from `All members of the group` to  `All organization members`. Then I sent you all a fake test event. Did it work?

[2015-03-12 04:21] daguar commented on #167
I got it! Thanks Andrew!!! GCALMASTER

[2015-03-12 17:52] RebeccaCoelius commented on #129
Rebecca in Chicago for '16 Recruitment

[2015-03-12 21:15] lippytak commented on #129
This week: Done! (Next time I want to report out something on uptime...maybe which social service sites are down right now?)

Next week: @alanjosephwilliams

[2015-03-13 01:11] #167 closed

[2015-03-14 18:12] daguar opened #168 "Update staff bio for Dave"

[2015-03-16 17:39] #158 closed

[2015-03-16 17:39] RebeccaCoelius opened #169 "Prelim convos with San Mateo"
Taking place Thurs afternoon

[2015-03-16 17:39] RebeccaCoelius opened #170 "Open Data Fest Prep"

[2015-03-16 17:46] RebeccaCoelius opened #171 "Alameda Pilot Biweeklys"

[2015-03-16 18:09] #171 closed

[2015-03-16 20:02] RebeccaCoelius opened #172 "Cal Endowment intro call w/ Jenny"
re Medicaid/justice system enrollment

[2015-03-16 20:02] RebeccaCoelius opened #173 "lunch w/ Barbara/SF Food Bank"

[2015-03-16 20:22] #173 closed

[2015-03-16 21:18] alanjosephwilliams commented on #168
plz make me special

[2015-03-16 21:20] daguar opened #174 "Update staff bio for Alan"

[2015-03-16 21:49] #172 closed

[2015-03-16 22:26] RebeccaCoelius opened #175 "DHCS Deck for Jenny"
https://docs.google.com/a/codeforamerica.org/presentation/d/1zFnjOp-teAdOkLK5IK9RG4gl_oMNHn2deJowLCTgCz4/edit?usp=sharing

[2015-03-16 22:28] #175 closed

[2015-03-16 22:37] #165 closed

[2015-03-16 22:38] RebeccaCoelius opened #176 "Esther Dyson/Jenny Medicaid mtg"

[2015-03-17 02:05] mollymcleod opened #177 "Metrics for Annual Report"
Could be:
- # of people eligible but not enrolled in CalFresh
- A different problem statement metric
- Number of partners
- Anything that makes the most sense for Clean

https://cfa-annual-2014.herokuapp.com/category/deepening-impact

Any thoughts?

[2015-03-17 16:40] alanjosephwilliams commented on #177
cc @lippytak @daguar let's finalize this for @mollymcleod and the Marketing team first thing this morning.

[2015-03-17 18:40] daguar commented on #177
@lippytak's got it; @mollymcleod you'll have soon.

[2015-03-17 19:48] lippytak commented on #177
c4a.me/peer-to-peer

[2015-03-17 19:57] lippytak opened #178 "Health refactored presentation"

[2015-03-17 20:51] lippytak opened #179 "Landscape CBOs in SF"
List of CBOs in SF that we might be able to activate as CF assisters with CleanAssist. Would be helpful to know (though maybe infeasible):
- What population they serve
- What services they offer
- If they do any CF or MC application assistance currently
- Estimates of # of potentially eligible CF clients

Once we have this list we can work with HSA + the FB to identify potential users and do infor

[2015-03-17 21:37] lippytak commented on #177
@mollymcleod :thumbsup: on the notes above. Let's go with:
- 57% of Californians who qualify for CalFresh get it
- 31 approved CalFresh applications
- 5 partners

Send questions my way. Thanks!!

[2015-03-19 16:52] gabbyjones commented on #179
This is an ongoing list that will continue to be updated. Google Doc is here: https://docs.google.com/a/codeforamerica.org/document/d/1KOQhv2jts0cgvLpHyY3asGgMuDhoBbjkjLtfetxNwHo/edit?usp=sharing

[2015-03-19 17:53] lippytak opened #180 "Plan FB planning meeting"
see their email.

[2015-03-19 18:15] alanjosephwilliams commented on #129
Ok folks!

Open call for suggestions @lippytak @daguar @RebeccaCoelius

Obviously I'll mention:
- Our metrics
- @RebeccaCoelius is out and that her family is in our thoughts :(
- We need Spanish and Cantonese language assistance for client assistance.
- Super inspiring day at California Association of Food Banks conference.
- We are going to talk about StatusBoard publicly on April 1.

[2015-03-19 18:24] daguar commented on #129
Big +1 to these, in particular the CTA of 3 and the 4 mention.

[2015-03-20 17:24] #180 closed

[2015-03-21 00:46] daguar commented on #177
@lippytak @alanjosephwilliams — can you review and :+1: or edit the proposed last version after discussion:

- 21 million — Number of Californians eligible for food stamps who aren't getting them
- 3 — Approximate hours it takes to apply for food assistance on the current online system
- 15 —Average minutes it takes to apply for food assistance with Clean Assist

cc @ZoeBlumenfeld

[2015-03-21 00:47] daguar commented on #177
(We need to send final on Monday)

[2015-03-21 15:57] daguar commented on #177
One specific thing for @mollymcleod — could we change the design of the latter two numbers so that the big-font "number" part on the left says "3 hours" and "15 minutes" (or mins)? I think the unit clarifies significantly for those catching it at a glance.

[2015-03-21 19:41] lippytak opened #181 "Review intern applicant"
Resume: https://files.slack.com/files-pri/T024F66L9-F043W70PX/download/caro-resume..pdf

Cover: https://files.slack.com/files-pri/T024F66L9-F043W714B/download/caro-cover_letter.pdf

Let's review, brainstorm some projects, decide if we want to interview.

[2015-03-21 19:52] lippytak opened #182 "FU re Youth Tech Health conference"

[2015-03-21 19:53] lippytak commented on #182
@rebeccacoelius feel free to reassign to me if you don't have bandwidth.

[2015-03-21 20:21] RebeccaCoelius commented on #182
I can do it they just keep going down the sponsorship route

On Saturday, March 21, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-03-23 16:42] #169 closed

[2015-03-23 16:44] lippytak commented on #169
https://github.com/codeforamerica/clean/wiki/Meeting-notes#392015-smc-county

[2015-03-23 17:41] daguar opened #183 "Give Twilio info for conference"
- [x] Short bio
- [ ] Long bio
- [x] Headshot
- [x] Talk title change

[2015-03-23 18:14] daguar commented on #177
Still pending one number, but here's the final wording:

- XX million — Number of Californians eligible for food stamps who aren't getting them
- 3 hours — Approximate time it takes to apply on the current online system
- 15 minutes —Average time it takes to apply with CleanAssist

@lippytak — reassigning to you to fill in the participation gap number with something that's not apocryphal.

Humble

[2015-03-23 18:27] daguar commented on #177
(PS humble request is for whoever's finalizing the report; accuracy here is super important to us.)

[2015-03-23 19:09] lippytak commented on #177
Edited @daguar's comment above. @mollymcleod feel free to ship these metrics.

For the record 'over 1 million' comes from a totally conservative guess that current 2014 participation is 70%. Source for caseload: http://www.cdsscounties.ca.gov/foodstamps/. Source for (very old) participation: http://www.fns.usda.gov/sites/default/files/Reaching2011.pdf.

@mollymcleod /marketing crew, ping me with q

[2015-03-23 19:09] #177 closed

[2015-03-24 22:15] daguar opened #184 "Tell HSA their phone tree is broken (for Spanish options)"
When you call +18553555757 and navigate the Spanish language option down to talk to a rep, you get connected to an English only EW (specifically, the button sequence is 2, wait, 2, wait, 2.)

We should tell them that.

[2015-03-24 22:17] daguar commented on #184
@cescacosta reports using this phone # as her go-to: 415-558-1040.

@lippytak any insight on the 2 numbers?

[2015-03-25 03:33] lippytak commented on #184
No clue but I don't want to out their secret! I'll look into the 18553555757 number.

[2015-03-26 14:45] lippytak commented on #151
Assisters
- Carissa - Eligibility worker in SF, user of Clean and a fan. She has some nice stories about going out with the Homeless Outreach Team (SF DPH) and helping homeless folks apply on the street using Clean.
- Liliana - Leads CalFresh outreach at the SF Food Bank. She's an application assister + strong partner + user.
- Jacqueline - Financial capabilities specialist at [MEDA SF](http://med

[2015-03-26 15:56] daguar commented on #183
Sent short bio, headshot, and confirmed title change

[2015-03-26 15:58] daguar commented on #129
Drop 'em in here! (We'll finalize at the end of our noon spring review.)

[2015-03-27 20:46] lippytak opened #185 "NDOCH Challenge"
How about a SNAP Census but better planned/supported this time? Don't think of this as a must or to-do just an opportunity :)

@hannahyoung can provide guidance/support throughout.

Dates:
- Should have draft by April 29th
- Final version posted early May
- NDOCH June 27th

[2015-03-30 17:59] alanjosephwilliams opened #186 "update research page to include EW survey results from SF & Solano"

[2015-03-30 19:22] daguar commented on #107
Chatted with the Twilio conference folks last Thursday; after our chat, they suggested I also be on a panel session called "Selling the value of innovation." The big message/tactic I'll be focused on is just elevating the on-the-ground experience to the top, with examples and sub-tactics.

[2015-03-30 21:30] lippytak commented on #151
@mollymcleod and @Jaime-Alexis bump

[2015-03-30 21:45] lippytak opened #187 "Finalize Utah"

[2015-03-31 20:09] Jaime-Alexis commented on #151
@lippytak thanks for the bump! Just watched Sarah's video. Was her sign up process tough before you helped her out?

For the assisters, which do you think is most compelling when they share stories? Should we have Leo/Molly or I meet with the assisters and maybe Sarah? D might also be good. I like the surprise of Sarah being so young.

[2015-03-31 20:21] lippytak commented on #151
Her signup process was was rough...very confusing and black-boxy.

I think Carissa is the most compelling because it's gotten her from out of
the HSA office and out into the community doing outreach, which she loves.
She's around our office Fridays early afternoon (usually 1pm or 2pm) so it
would be easy to meet her.

On Tue, Mar 31, 2015 at 1:09 PM, Jaime-Alexis <notifications@github.com>
wrote:

[2015-03-31 20:22] Jaime-Alexis commented on #151
Great, want to reach out to Sarah? And if Carissa is in this Friday can we
do a quick chat with her?

--------------------------------------------------------------------------------------------------------------------------------
Jaime-Alexis Fowler | Director of Marketing | *Code for America*
<http://codeforamerica.org/> | p:*214.673.9060* | @JaimeAlexis
<http://www.twitter.com/JaimeAlexis>

*Br

[2015-03-31 20:32] daguar commented on #187
@alanjosephwilliams and I have our tickets purchased; Sunday 4/12 OAK > SLC (DL 1082) and Sunday 4/19 SLC > OAK (DL 1374). @lippytak is planning on the same for car efficiency.

[2015-03-31 22:04] #176 closed

[2015-03-31 22:33] hannahyoung commented on #185
@lippytak yes! let me know what i can do to support!

[2015-03-31 23:03] #170 closed

[2015-03-31 23:03] #162 closed

[2015-03-31 23:03] #154 closed

[2015-03-31 23:03] #161 closed

[2015-03-31 23:21] RebeccaCoelius opened #188 "Zoe's Stories and CfA 101 Slides"

[2015-04-01 00:56] Jaime-Alexis commented on #107
Great!

--------------------------------------------------------------------------------------------------------------------------------
Jaime-Alexis Fowler | Director of Marketing | *Code for America*
<http://codeforamerica.org/> | p:*214.673.9060* | @JaimeAlexis
<http://www.twitter.com/JaimeAlexis>

*Bring the Code for America Fellowship to your city in 2016. Learn how.
<http://www.codeforameric

[2015-04-01 01:09] lippytak commented on #187
hooray!

[2015-04-01 01:09] #187 closed

[2015-04-01 01:57] lippytak opened #189 "Tell HSA their website lists the wrong CalFresh income thresholds"

[2015-04-01 01:59] lippytak commented on #189
They're wrong by a factor of 2...:
![screen shot 2015-03-31 at 6 56 55 pm](https://cloud.githubusercontent.com/assets/2533112/6933105/da67e89e-d7d7-11e4-8920-5f736df6757c.png)

source: http://www.sfhsa.org/333.htm

[2015-04-01 01:59] lippytak commented on #189
So this also exists: http://www.sfhsa.org/157.htm

Ahh!

[2015-04-01 02:04] lippytak commented on #189
The tweet BLUF:
![screen shot 2015-03-31 at 7 04 06 pm](https://cloud.githubusercontent.com/assets/2533112/6933186/ba2b1a14-d7d8-11e4-9dd2-be173120fc99.png)

https://twitter.com/lippytak/status/583086912308580353

[2015-04-01 02:47] daguar commented on #189
Add to the list of The Basics™:

- Your website does not have wildly innacurate information

[2015-04-01 02:59] lippytak commented on #189
The start of a good content piece...The Basics on gov digital services or
something. Plus a toolkit on how to test each. Okay fine gfs already did
this better humph

On Tuesday, March 31, 2015, Dave Guarino <notifications@github.com> wrote:

[2015-04-01 16:39] lippytak commented on #184
Turns out they route non-English calls to English staff if there aren't language staff available or the wait time is too long. Fancy.

[2015-04-01 16:39] #184 closed

[2015-04-01 16:45] #189 closed

[2015-04-01 17:07] cescacosta commented on #184
Yeah, I’ve heard that before. As if waiting a long time on a phone is going to somehow make you comfortable speaking English.

[2015-04-01 18:18] lippytak commented on #184
lol! Food banker troll. Love it.

On Wed, Apr 1, 2015 at 10:11 AM, cescacosta <notifications@github.com>
wrote:

[2015-04-02 13:21] alanjosephwilliams commented on #189
The shot clock for fixing it begins...

On Wed, Apr 1, 2015 at 1:04 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-04-02 15:20] lippytak commented on #112
Kinda getting there in a roundabout way...

Draft of FB <> CfA thing: https://docs.google.com/a/codeforamerica.org/document/d/19eQAfXVftpKgA5tT-li8knCNyAQNQSPt-mRGwY4UTY4/edit

Draftish of CfA <> County thing (more proposal, not partnership): https://docs.google.com/a/codeforamerica.org/document/d/10cxPzULmG9JbW-DEXI_Wjd1NtwKOhk5q0JptI9fjY0Y/edit

[2015-04-02 16:44] lippytak opened #190 "Talk about Rob"

[2015-04-02 16:46] lippytak commented on #190
yea that's right, talkin bout you @Mr0grog.

[2015-04-02 16:50] Mr0grog commented on #190
Sneezing lots over here.

[2015-04-02 19:59] lippytak commented on #129
- State contract is official!
- AJW gave a sweet talk at Health Refactored about the state of social service websites
- Down to two finalist ED candidates
- Case follow up
  - Drug felons now qualify for CalFresh
  - Some eligibility workers don't think you can do a phone interview for CalFresh
  - The State website for CalFresh gives conflicting information about resource test
- Metrics: 47 appro

[2015-04-02 20:20] alanjosephwilliams commented on #129
on the AJW talk front, the venues are:
- HealthRefactored - a design and health conf
- Etsy

On Thu, Apr 2, 2015 at 3:59 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-04-02 21:45] daguar opened #191 "Hug Lyzi"

[2015-04-02 21:45] daguar commented on #191
@lyzidiamond

[2015-04-02 21:47] RebeccaCoelius commented on #191
But only if she wants me to.

[2015-04-02 21:48] lippytak opened #192 "Acquire hug consent"

[2015-04-02 21:48] lippytak commented on #192
Pre-req to #191

[2015-04-02 21:48] daguar commented on #192
Is this covered under HIPAA?

[2015-04-02 21:50] RebeccaCoelius commented on #192
Only if I'm being paid for it.

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Thu, Apr 2, 2015 at 2:48 PM, Dave Guarino <notifications@github.com>
wrote:

[2015-04-03 14:32] lippytak commented on #129
Done. @alanjosephwilliams up for 4/9.

[2015-04-03 16:45] #192 closed

[2015-04-03 16:45] #191 closed

[2015-04-03 18:23] RebeccaCoelius opened #193 "Kaiser Lunch"
funding priorities and explore how could work together, esp for MediCal projects

[2015-04-03 18:24] RebeccaCoelius opened #194 "ONC Pilot R+D Judging"
Evals due Monday

[2015-04-03 18:25] RebeccaCoelius opened #195 "Set up HIMSS +Utah travel/mtgs"

[2015-04-03 18:25] RebeccaCoelius opened #196 "Follow up call w/ Efrem"
ED Lead candidate

[2015-04-03 18:26] RebeccaCoelius opened #197 "Plan for CDSS contract launch"
4/10 confirmed

[2015-04-03 18:27] RebeccaCoelius opened #198 "Vodafone Project Descriptions"
get to Jennifer by Tuesday

[2015-04-03 18:28] RebeccaCoelius opened #199 "Alameda County pilot funder bullets"
Send Monday at latest, waiting on Spike updates

[2015-04-03 18:28] RebeccaCoelius opened #200 "Prep for Google.org Quarterly mtg"
Monday

[2015-04-03 18:29] RebeccaCoelius opened #201 "Interview Prospective Intern Caroline"
Review her materials
Interview on Tuesday

[2015-04-03 18:31] RebeccaCoelius opened #202 "Focus Area offsite follows ups"
bullets to be added shortly

- [ ]  Finalize OKRs
-  [ ] Finalize Vision statement/shared architecture for Jen

[2015-04-03 20:52] lippytak opened #203 "Plan CDSS meeting"

[2015-04-03 20:53] #203 closed

[2015-04-05 06:26] lyzidiamond commented on #192
:+1:

[2015-04-05 06:26] lyzidiamond commented on #191
:+1:

[2015-04-05 19:30] lippytak commented on #193
Does Kaiser have food/nutrition classes? Do they do SNAP enrollment? They should!

[2015-04-05 19:52] RebeccaCoelius commented on #193
Definite yes to food/nutrition, I asked about SNAP at lunch and they are
looking into it for me!

On Sunday, April 5, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-04-05 20:01] daguar commented on #193
KP doesn't do much Medi-Cal business as far as I know. I just went ahead and ran an [enrollment report at DMHC](http://wpso.dmhc.ca.gov/flash/) and it looks like they've got ~105k enrollees. By contrast, LA Care, HealthNet and Anthem Blue Cross (latter two are 2-plan model) have between 1 and 1.5 million Medi-Cal enrollees:

![screen shot 2015-04-05 at 12 58 30 pm](https://cloud.githubusercontent.

[2015-04-05 20:04] daguar commented on #193
Per [this Medi-Cal MC plan directory at DHCS](http://www.dhcs.ca.gov/individuals/Pages/MMCDHealthPlanDir.aspx), KP only operates Medi-Cal business in Sacramento and San Diego counties.

[2015-04-05 20:06] daguar commented on #193
(Not mentioning to diminish the opportunity by any means, but rather to contextualize the space for Medi-Cal work here.)

[2015-04-05 20:19] RebeccaCoelius commented on #193
I don't think the bit about only being in Sac and SD for Medicaid is
accurate;
http://thrive.kaiserpermanente.org/medicaid/medi-cal-california#counties

Beyond CA:
http://thrive.kaiserpermanente.org/medicaid?kp_shortcut_referrer=kp.org/medicaid

I do know they are expecting the most growth, and worried most about
re-enrollment, in the marketplace plans. How many of these people also
qualify for SN

[2015-04-05 20:39] daguar commented on #193
Sorry, I mischaracterized. I believe they enroll certain small numbers of people in other counties, but under relatively stringent criteria (I _believe_ primarily for continuity of care.) That site has a note on potentially requiring members to have been in KP in the 6 months prior, or another household member at KP, and this doc ( http://www.dhcs.ca.gov/provgovpart/Documents/SPD%20Guide%20Insert_

[2015-04-05 20:43] RebeccaCoelius commented on #193
Even more context (Ada is really good at falling asleep in her car seat so
I'm trapped for her whole nap time):

Total members: 9.6 million

Medicaid: per Dave, ~100K

Covered CA: 1.4 million total enrolled, per this report Kaiser took a
pretty good chunk in participating counties. A super low ball estimate is
at least 200K.
https://www.coveredca.com/PDFs/CC-health-plans-booklet-2015.pdf

Nationwi

[2015-04-05 20:47] RebeccaCoelius commented on #193
Interesting @daguar

A fairer comparison might be to ask what other individual health systems we
could partner with that has the same # likely eligibles, instead of just
looking at overall %.Which brings us back to LA County 😉

On Sunday, April 5, 2015, Rebecca Coelius <rlmitchell1@gmail.com
<javascript:_e(%7B%7D,'cvml','rlmitchell1@gmail.com');>> wrote:

--
Rebecca Coelius, MD
Director of Health

[2015-04-05 21:01] daguar commented on #193
Mentioned in Slack, but all the county-operated health systems (COHS in DHCS-speak) might be a good target. Inland Empire and Orange County (CalOptima) are both large. There's an added benefit in that many are overseen by the same county agency administering CalFresh.

[2015-04-05 21:25] RebeccaCoelius commented on #193
👍

Re Medicare, this doc is from 2009 but appears there may be a pretty
significant opportunity here, especially bc being signed up at your doctors
office would be a very different experience for the elderly who feel
ashamed/stigma around enrolling:
http://www.cbpp.org/cms/?fa=view&id=2909

   - *Food stamps* — According to USDA estimates, food stamps serves only
   about 32 percent of eligible ho

[2015-04-06 21:08] daguar commented on #140
Just wanted to follow up on this — did we need to do anything further w/r/t VA? Okay to close?

[2015-04-06 21:10] daguar opened #204 "Migrate services to a Health Team Twilio account"
We should do this now that Twilio stuff's all sorted.

[2015-04-06 22:02] RebeccaCoelius commented on #140
Nothing immediate, I can explain more IRL

On Monday, April 6, 2015, Dave Guarino <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-04-07 00:26] daguar opened #205 "Set up 2-factor auth for GitHub (Alan)"

[2015-04-07 00:26] daguar opened #206 "Set up 2-factor auth for GitHub (Jake)"

[2015-04-07 00:31] daguar opened #207 "Set up 2-factor auth for GitHub (Dave)"

[2015-04-07 00:33] #207 closed

[2015-04-07 00:36] #205 closed

[2015-04-07 22:07] RebeccaCoelius commented on #201
waiting on feedback from @lipptak

[2015-04-07 22:07] #196 closed

[2015-04-07 22:07] #194 closed

[2015-04-07 22:08] RebeccaCoelius opened #208 "coffee w/ Cyd re Product/Health follow up"

[2015-04-07 22:08] #199 closed

[2015-04-07 22:09] RebeccaCoelius opened #209 "Fellowship Application Review"
- [ ] confirm panelists
- [ ] send instructions 4/7 when app viewer is made available
- [ ] schedule review

[2015-04-07 22:10] RebeccaCoelius opened #210 "Dan/Health Team Whiteboard"

[2015-04-07 22:10] RebeccaCoelius commented on #210
scheduled Thursday

[2015-04-07 22:29] daguar commented on #201
cc @lippytak (quick typo thing)

[2015-04-07 23:03] RebeccaCoelius commented on #209
confirmed Luke/Nicole/Rebecca/Cyd/Hadley/Dave.
invited: Andy/CHCF, Paul/RWJF

[2015-04-08 00:00] RebeccaCoelius commented on #210
Rebecca met w/ Dan 4/7 to prep for whiteboard session, notes here:

https://docs.google.com/a/codeforamerica.org/document/d/10f7OY-yHCkpqveRv2KhBATCjwOqQKBRHL0WyXzdZOfY/edit?usp=sharing

[2015-04-08 00:01] RebeccaCoelius commented on #202
Draft OKR sessions w/ FA Leads scheduled for Thursday

[2015-04-08 00:03] RebeccaCoelius commented on #201
thanks @daguar

Rebecca will interview Monday/Tuesday, requested references

[2015-04-08 00:21] RebeccaCoelius opened #211 "Review Fureigh User Stories"

[2015-04-08 01:12] daguar commented on #211
Super dark issue, yo.

[2015-04-08 01:13] RebeccaCoelius commented on #211
https://docs.google.com/a/codeforamerica.org/document/d/1T38ISy_WM0EYbH3m5fjDtoktHXzQDQBPs7HUHSaMpJk/edit?usp=sharing

[2015-04-08 02:19] RebeccaCoelius commented on #195
flights booked!
next: register, follow up final mtgs

[2015-04-08 05:15] #190 closed

[2015-04-08 05:15] #151 closed

[2015-04-08 19:26] lippytak opened #212 "Lead breakout/working session"
We have a 1 hour breakout/working/learning session with the CDSS CalFresh outreach team on Friday.

Let's do something fun and interactive where we all learn a lot. @alanjosephwilliams shall lead the way!

[2015-04-08 20:40] lippytak opened #213 "Prep CDSS presentation"

[2015-04-08 20:46] RebeccaCoelius opened #214 "Review/Feedback MCIC Submissions"

[2015-04-08 20:57] RebeccaCoelius commented on #197
@lippytak on point for draft 1 intro session slides
@ajw on point for CalFresh working session

[2015-04-08 21:05] RebeccaCoelius commented on #214
advised by MCIC on training call today to review next week, moving to ready for next sprint

[2015-04-09 00:33] #211 closed

[2015-04-09 15:54] lippytak commented on #213
Intros
- Name
- Role
- Something you want to learn today OR
- Something new you recently learned about CalFresh

[2015-04-09 16:01] lippytak commented on #213
Brainstorming places to look for content:
- Dataaaaaaa
- Food Bank nurse project (will give love, of course)
- Balance logs
- EW survey
- HSA/CDSS websites
- Teardowns (intuit)

[2015-04-09 16:59] lippytak commented on #213
Working slides: https://docs.google.com/a/codeforamerica.org/presentation/d/1wyBWic_wVUna69gj1tsGf7RjPhguj9IMiAV1_1vVs8A/edit#slide=id.g9846a4b54_0_158

[2015-04-09 18:20] RebeccaCoelius opened #215 "Brigades:FAs working mtg"

[2015-04-09 19:14] RebeccaCoelius commented on #215
for Health:next Friday  follow up post physician network mtg at HIMSS, Aetna/services opportunity

[2015-04-09 19:14] #215 closed

[2015-04-09 19:34] alanjosephwilliams commented on #129
- Visit to Sacramento tomorrow!
- Balance was down for 15 hours. Another Twilio platform error not reported by Twilio. Dave fixed it and reported it. We are going to set up monitoring for it.
- Doc Upload.
- Utah following week. Preparing for expansion
- FA are working with Communities & Content on first Community of Practice.
- OpenReferral Analyst working on the project. Improving the specificat

[2015-04-13 16:19] #212 closed

[2015-04-13 16:19] #178 closed

[2015-04-13 16:20] #213 closed

[2015-04-14 05:54] lippytak opened #216 "Taxes"

[2015-04-15 19:48] daguar opened #217 "Document all CA counties' web pages showing CalFresh income limits (and which are wrong)"
Anecdotally, a lot are wrong. Let's check.

[2015-04-16 07:17] daguar commented on #217
Done here: https://docs.google.com/spreadsheets/d/1XO3rdCSKx2NVjCfvul2X8LvGRVtI5t5OR1hB-cXDz5Y/edit?usp=sharing

Summary:
- Incorrect income info — 8 counties	(14%)
- Correct income info — 9 counties (16%)
- No income info — 41 counties (71%)

[Percentages don't add up due to rounding]

[2015-04-16 17:31] daguar commented on #129
Let's get some updates in here! I think we've got some exciting ones from the work this week.

[2015-04-16 22:03] lippytak opened #218 "Draft MOU/partnership for SF <> CfA <> FB"
Next steps
- Work on it with Tiana
- Review with Leo
- Present to execs (Noelle, Steve, maybe Trent)
- DO IT

[2015-04-17 21:01] daguar opened #219 "Figure out AJW's git setup issue"
For some reason pulls into the same branch are creating merge commits. cc @alanjosephwilliams

[2015-04-18 04:21] daguar commented on #129
@RebeccaCoelius Tag! You're it!

[2015-04-20 16:50] lippytak opened #220 "CDSS FU"
Do it
- Call w Karen
- NOA redesign w Ryan
- Link to stuff

[2015-04-20 17:17] #209 closed

[2015-04-20 17:40] RebeccaCoelius commented on #210
Dan/Debs are going to work on a first piece of content ~ week of May 3rd  (post DfD sprint) and circle back with team

[2015-04-20 17:40] #210 closed

[2015-04-20 17:40] #195 closed

[2015-04-20 17:40] #200 closed

[2015-04-20 17:40] #197 closed

[2015-04-20 17:41] RebeccaCoelius commented on #220
- follow up on API access question
- Todd wants to connect us w/ program integrity and cash access
- Todd wants to help us get better atm data (prob related to cash access mention above)
- further Ben/NOA context: attend only a few organized mtgs, comment on notices

[2015-04-20 19:47] lippytak opened #221 "Get a couple low end Androids"
MVP device lab! Look at survey + our adword data and pick 1-2 common devices to start > suggest to tech team.

[2015-04-20 20:11] lippytak opened #222 "Spec assister FU support feature"
Stub. There are some big constraints for us doing FU directly with Clean clients:
- They're not only OUR clients > leads to a confusing client experience
- We don't have consent to contact via email/text for most clients
- We don't speak the languages

Let's think through how to empower assisters to do more/more effective FU. I'll start by documenting what @alanjosephwilliams and I drew up and the

[2015-04-20 20:12] lippytak commented on #217
Done/

[2015-04-20 23:31] #181 closed

[2015-04-20 23:32] #166 closed

[2015-04-20 23:46] #220 closed

[2015-04-21 21:00] lippytak commented on #222
Instead of 'moving to Zendesk' we're going to rethink how we support client FU. See above.

[2015-04-22 04:30] lippytak commented on #222
Wrong repo. New issue: https://github.com/codeforamerica/clean/issues/503

[2015-04-22 04:30] #222 closed

[2015-04-22 16:19] RebeccaCoelius commented on #129
nope, @lippytak because it will be 5am in Japan. I will take on two weeks in a row starting 5/7.

My updates:
1. Finalists selected for 2016 Fellowships in Health. Great potential projects like user centered patient data access, helping schools participate in public health reporting systems, and connecting children and families with community resources.
2.  Code for America hosted an event with He

[2015-04-22 16:26] #214 closed

[2015-04-22 16:27] RebeccaCoelius opened #223 "Review Fred Trotter Patient Day Action"
Review is by request of Fred.
Then move to our ideas repo/get Brielle involved again.

[2015-04-22 16:27] daguar commented on #129
Ah, switching to @lippytak.

[2015-04-22 16:28] RebeccaCoelius opened #224 "Hailey Call on Workgroup"
- approve relaunch plan
-draft invite list
- circle back on Chicago data

[2015-04-22 16:45] RebeccaCoelius opened #225 "Notes/Thanks Yous from Tuesday Reg Event"

[2015-04-22 19:52] #224 closed

[2015-04-23 06:40] lippytak commented on #185
Flagging @alanjosephwilliams @daguar and @rebeccac for timing. Would love to have a quick chat to think through if we could time cap this at a day or so of work but still make a sweet challenge to teardown every SNAP app online. Remember we have HowGov.Works (!!) and this would fit well with status board.

[2015-04-23 16:04] daguar commented on #220
So this is all good?

[2015-04-23 16:51] lippytak commented on #220
yup

[2015-04-23 22:29] lippytak opened #226 "Plan County solicitation"
plan it
do it

[2015-04-24 14:16] lippytak commented on #129
Next up, @alanjosephwilliams

[2015-04-24 16:23] lippytak commented on #218
draft https://docs.google.com/a/codeforamerica.org/document/d/1FJExRI7R67clOYN5_hQPklw_ECWVibKbUkdR2aPd1nA/edit#

[2015-04-24 18:14] #218 closed

[2015-04-24 18:15] lippytak commented on #112
Draft of FB <> CfA <> HSA partnership thing: https://docs.google.com/a/codeforamerica.org/document/d/1FJExRI7R67clOYN5_hQPklw_ECWVibKbUkdR2aPd1nA/edit#

[2015-04-26 19:15] #216 closed

[2015-04-26 19:18] lippytak commented on #185
FYI @rebeccac and @hannahyoung we did a bit of brainstorming and couldn't come up with anything that we thought would be a good brigade project + move the CalFresh enrollment work forward so we're not planning on creating a challenge for this event. Feel free to grab me @hannahyoung if you want to chat and I'm happy to share what we discussed in case you want want to build/lead the challenge.

[2015-04-26 19:18] #185 closed

[2015-04-26 22:19] RebeccaCoelius commented on #185
Makes sense thanks for the update

On Monday, April 27, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-04-27 17:10] lippytak commented on #226
v1:
- Write a paragraph
- Leo forwards + intros to CalFresh director
- Stephanie forwards + intros to FB director
- Individual calls with both
- In person meeting with both > launch

[2015-04-27 17:11] lippytak commented on #226
@alanjosephwilliams + @daguar gut check above plz ^

Any compelling reasons to make things more complicated? Let's try to get a bay area county first, per Leo's recommendation. I also have a connection in Napa and Solano so I'll try them, as well.

[2015-04-27 18:06] alanjosephwilliams commented on #226
Looks good to me. Do we want to copy any of the folks at CDSS on these?

On Mon, Apr 27, 2015 at 10:11 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-04-27 18:35] daguar commented on #226
I'm not sure it needs to be more complicated, but the content of that paragraph seems to me a big thing? Want to post what you're thinking?

[2015-04-27 20:54] lippytak commented on #226
Also BASC (something like that...) is a group of bay area counties that meet quarterly...we should go and recruit pilot counties. Noelle/Trent/Leo can intro us if necessary.

[2015-04-28 19:34] #219 closed

[2015-04-29 15:30] lippytak opened #227 "Slackbot that celebrates when a case is approved via Ducksboard"
Easy afternoon hack. Maybe drop `/giphy celebrate` into #health channel. Ideally I want some sound in the office but maybe that's v2...

cc @tmaybe for his slackbot skills.

[2015-04-29 15:42] daguar opened #228 "Write log: expecting failure, crash-to-cash, and concierging ftw"
stub

[2015-04-29 15:42] daguar commented on #228
cc @migurski to track

[2015-04-29 16:35] lippytak commented on #112
Draft sent to Tiana so we can chat at lunch

[2015-04-29 17:16] lippytak opened #229 "Call with CDSS CalFresh outreach team"
- Understand what they're doing
- Engage them in CBO survey (distribution/learn together!)
- Spot quick win opportunities
- Dig into county personalities/who we should we work with/avoid in more detail

[2015-04-29 17:19] lippytak commented on #217
@daguar @alanjosephwilliams let's take an hour to send corrections to everyone and see how many fixes we get. Okay if I set aside an hour on Friday for beer + webmaster outreach?

[2015-04-29 17:42] tmaybe commented on #227
It doesn't look like Slack has a built-in Ducksboard integration, but maybe we could do it with Zapier? Come grab me sometime if you want to try...

[2015-04-29 18:01] lippytak commented on #227
Ducksboard has triggers/alerts that can hit a URL:
![screen shot 2015-04-29 at 10 59 37 am](https://cloud.githubusercontent.com/assets/2533112/7397658/d46cd89e-ee5e-11e4-8dee-50d2e6b80fd8.png)

I was assuming we would have to host something that just posts to the #health channel whenever Ducksboard hits the URL. But I'll poke around Zapier before doing that. Good idea :+1:

[2015-04-29 20:14] lippytak commented on #221
@phae graciously donated one and I just ordered a [lower end LG](http://www.amazon.com/LG-Realm-Black-Boost-Mobile/dp/B00N15E6TW/ref=sr_1_2?ie=UTF8&qid=1430338405&sr=8-2&keywords=android):
![screen shot 2015-04-29 at 1 14 05 pm](https://cloud.githubusercontent.com/assets/2533112/7400416/ade390c4-ee71-11e4-94cb-ea1467b05141.png)

[2015-04-29 20:14] #221 closed

[2015-04-29 20:16] lippytak commented on #226
Marc strongly recommended Merced and can intro to ED.

[2015-04-29 22:53] lippytak commented on #229
What's the team? What do y'all do?
- Statewide extension of outreach. Guidelines set forth by FNS. Outreach by contracting with CBOs (8 primes) who then subcontract to others (>100 subs). They do mix of outreach, pre-screening, app assistance, SAR-7 and recerts.
- Operational in 43 of 58 counties
- Big barrier = they reimburse but do not grant, so CBOs need to spend 100% up front
- Services
  - Ma

[2015-04-29 22:53] #229 closed

[2015-04-29 22:56] daguar commented on #229
Edited above to add link to the list of prime contractors http://www.cdss.ca.gov/calfreshoutreach/res/Prime_Contractor_Contact_List.pdf

[2015-04-30 19:16] alanjosephwilliams commented on #129
- Metrics our steady.
- Launched doc upload.
- Prep CBO survey which we hope to distribute with our new partners at The State.
- Meeting w Marin on Monday.
- Rebecca still out, she's back next week.

[2015-05-01 16:19] lippytak opened #230 "Research this grant"
Should we consider applying?

SNAP Process, Technology Improvement Grants Application Announced
Funding intended to increase efficiency and improve customer service at the local level

[2015-05-01 16:21] lippytak opened #231 "Get CBO account access for all BCW counties"
We have a list of POCs for each county. Let's reach out to each and see if we can get access to submit applications for all of them.

[2015-05-01 16:33] daguar commented on #230
Yes!

[2015-05-01 16:44] lippytak commented on #226
I'll start this in earnest next week - maybe aim to get 3-5 intros to county EDs or CalFresh directors.

[2015-05-01 16:45] lippytak opened #232 "Make an awesome GIF for CBO Survey"
Context:
Draft: calfresh.rocks

Let's discuss.

[2015-05-01 22:58] lippytak opened #233 "Interview EWs and have some fun over lunch"
Let's buy EWs lunch on (hopefully) Wed 5/13 so we can:
- Assess interview burden from EW perspective (https://github.com/codeforamerica/clean/issues/482)
- Learn if we should actually remove the interview time preference screen (https://github.com/codeforamerica/clean/issues/517)
- See if we can uncover any other particular pieces of information that would make an interview easy/awesome

I'll work

[2015-05-02 00:11] lippytak commented on #231
Can apply for the top secret special San Diego CBO phone line here: www.sandiegocounty.gov/hhsa/programs/ssp/documents/CBOLineApp.pdf

[2015-05-03 19:39] daguar opened #234 "Pull insights out of the "CalFresh Operations and Access Annual Report""
Lots of good stuff here: http://www.cdss.ca.gov/research/res/pdf/foodreports/CFSurvey1314.pdf

[2015-05-03 20:39] daguar opened #235 "Get MBCW Google Analytics data on devices"
@lippytak por favor :) <3 <

[2015-05-04 14:37] alanjosephwilliams commented on #232
Let's chat. Why not use a GIF that exists? A hand-rolled GIF could be in order if we are a) thinking something text-based and b) trying to send a more personal message about our gratitude, or the impact of responses.

FWIW, I do think things like well executed GIFs are likely to have a meaningful impact on completion rate.

[2015-05-04 14:37] alanjosephwilliams commented on #228
bump

[2015-05-04 14:57] #186 closed

[2015-05-04 14:57] #135 closed

[2015-05-04 15:19] #127 closed

[2015-05-04 15:20] alanjosephwilliams commented on #74
Research is being aggregated in the wiki:
https://github.com/codeforamerica/health/wiki

[2015-05-04 15:20] #74 closed

[2015-05-04 15:20] alanjosephwilliams commented on #73
This is long done imagine, @lippytak?

[2015-05-04 15:21] alanjosephwilliams commented on #131
I'm pretty sure we killed it. closing unless someone challenges.

[2015-05-04 15:21] #131 closed

[2015-05-04 15:22] alanjosephwilliams commented on #140
We aren't conducting efforts to expand Balance and further. Sounds like appropriate follow up was done. Let's open a new issue if the matter surfaces again.

[2015-05-04 15:22] #140 closed

[2015-05-04 15:23] #101 closed

[2015-05-04 15:23] alanjosephwilliams commented on #59
Deprecated.

[2015-05-04 15:24] #59 closed

[2015-05-04 15:24] alanjosephwilliams commented on #55
Balance user research can be found in the Health folder on Google Drive.

[2015-05-04 15:24] #55 closed

[2015-05-04 15:24] #11 closed

[2015-05-04 15:25] alanjosephwilliams commented on #1
Closing this one @daguar, feel free to re-open if you deem appropriate.

[2015-05-04 15:25] #1 closed

[2015-05-04 15:25] #12 closed

[2015-05-04 15:27] alanjosephwilliams commented on #16
This can now be found in Health-Logs:
This should be a health-loghttps://github.com/codeforamerica/health-logs/issues/8

[2015-05-04 15:27] #16 closed

[2015-05-04 15:32] lippytak commented on #73
Done. Risk assessment: low.

[2015-05-04 15:32] #73 closed

[2015-05-04 15:46] alanjosephwilliams commented on #56
Meh, not a priority. closing for now.

[2015-05-04 15:46] #56 closed

[2015-05-04 16:02] alanjosephwilliams commented on #141
Perhaps we can close this one for now? I leave it up to you.

[2015-05-04 16:05] lippytak commented on #232
@alanjosephwilliams what would you recommend? The goal are increase response rates and (more importantly) sharing (via fun).

[2015-05-04 18:23] RebeccaCoelius commented on #141
The Richmond thing didn't progress in a way that I felt warranted prioritizing, is there another reason to have a generalized version? If now sure lets close.

[2015-05-04 19:48] RebeccaCoelius opened #236 "King County: further project scoping call"
get clear on human outcomes, population focus

[2015-05-04 19:48] #202 closed

[2015-05-04 20:04] RebeccaCoelius opened #237 "Caroline Hays intern offer letter - due May 14th"

[2015-05-04 20:04] #236 closed

[2015-05-04 20:05] RebeccaCoelius opened #238 "Fix Expensify"
so I don't give Greg a heart attack.

[2015-05-04 20:16] RebeccaCoelius commented on #237
sent info to Meghan, check to ensure letter sent to Caroline by May 14th.

[2015-05-04 20:29] #238 closed

[2015-05-04 21:14] lippytak opened #239 "Writeup adwords findings so far"
JFDI

[2015-05-04 23:00] RebeccaCoelius opened #242 "CalFresh Fundraising hitlist"
- [ ] list with jake
- [ ] right # for one year runway + state contract
- [ ] pitch/deck

[2015-05-05 00:34] RebeccaCoelius opened #243 "Lonnie Intros"
Josh
Claudia
Argonaut ppl

[2015-05-05 00:42] RebeccaCoelius opened #244 "Fix devil computer + phone"

[2015-05-05 18:41] lippytak commented on #239
https://github.com/codeforamerica/health-logs/issues/15

[2015-05-05 18:41] #239 closed

[2015-05-05 18:57] lippytak opened #245 "Fun stakeholder update email"
For the Leos, Wills, Kims, Stephanies, TippingPoints of the world. Maybe it will turn into a monthly TinyLetter thing, maybe not!

[2015-05-06 15:37] daguar opened #246 "Follow-up from Marin meeting"
This is the follow-up aspect to the 5/5 meeting in Marin: https://github.com/codeforamerica/clean/issues/515

We should follow up (ideally today) with an email with concrete next steps to everyone who was in the room. Specifically I'm thinking:

- [x] Custom Balance phone #  ( done: 415-319-6624 for English; have not done Spanish, but we probably should?)
  - [ ] 1,000 Balance cards on the way?
-

[2015-05-06 15:53] daguar commented on #239
:fireworks: :shipit: :+1:

[2015-05-06 16:28] daguar commented on #246
Added:
- [ ] Link to Demo Clean and encourage them to try it on their phones

[2015-05-06 16:29] daguar commented on #246
Done with setting up Balance # for Marin HHS — see above.

Should we also set up a Spanish one? I feel like it sends the right message about our user-centered orientation.

[2015-05-06 18:07] daguar opened #247 "Simple splash page for getcalfresh.com"
We have emails in and out of addresses from there, but it's currently a "Hover" placeholder page. We should just throw something really simple up with our contact info.

[2015-05-06 22:48] daguar commented on #245
:+1:

[2015-05-07 07:23] lippytak commented on #246
Next step: get one Clean app! I'll ping them in a week if I don't hear anything.

[2015-05-07 07:23] #246 closed

[2015-05-07 15:33] alanjosephwilliams commented on #247
Feel free to assign this to me. @lippytak, where did the splash page I
built in Utah get served?

On Wed, May 6, 2015 at 1:07 PM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-05-07 18:46] #244 closed

[2015-05-07 19:52] RebeccaCoelius commented on #129
Health Lab CalFresh updates:
- Our work is spreading: finalizing formal partnership with SF as core pilot partner, great meeting with Marin earlier this week and will launch that partnership soon
- metrics are up (I assume this just means our applications are up to 157 submitted/72 approved?) @lippytak

- working w/ Content Team documenting our approach to researching and measuring bottleknecks in

[2015-05-08 16:45] daguar opened #248 "Screenshot walkthrough/teardown of C4 on a mobile device"
I've kinda started this, and as far as I can tell, using www.c4yourself.com (the enrollment system for ~40 counties in CA, including most rural ones) on mobile has the following experience:

- It's a mobile-responsive website (not native app) — awesome!
- You **can't actually apply** for benefits

A simple screenshot walkthrough, primarily oriented around letting county directors see what the actu

[2015-05-08 20:19] RebeccaCoelius opened #249 "Review Dharmishta CDSS stuff"
- review her plan/schedule
- proposed topics
- email Meghan re contractors
- email to Pete/requested staff interviews

[2015-05-08 20:22] RebeccaCoelius commented on #230
I researched too. What specific questions are you asking so we don't duplicate efforts?

[2015-05-08 20:23] RebeccaCoelius commented on #237
final draft w/ Meghan

[2015-05-08 20:23] RebeccaCoelius commented on #237
final draft sent to Meghan today, waiting for confirmation she shipped

[2015-05-08 22:45] daguar opened #250 "F/U with food bank with email blurb for CBO training"

[2015-05-08 22:46] #250 closed

[2015-05-09 01:24] #249 closed

[2015-05-09 08:06] RebeccaCoelius commented on #230
We should apply but ugh this is going to be annoying.
RFA: http://apply07.grants.gov/apply/opportunities/instructions/oppUSDA-FNS-FY15-SNAP-PTI-GRANTS-cfda10.580-cidUSDA-FNS-FY15-SNAP-PTI-GRANTS-instructions.pdf
Grant page: http://www.grants.gov/search-grants.html?agencies%3DUSDA%7CDepartment%20of%20Agriculture
FAQS: http://www.grants.gov/web/grants/applicants/applicant-faqs.html

[2015-05-09 08:35] RebeccaCoelius commented on #230
20 awards (later they say will award 6-11...)
20K - 2 mill per award
501c3's qualify
Would be applying for "technology improvements", less likely "process improvements to decrease churn"
announced 9/30/15
grants funded 9/30/15 - 8/31/18

notable limitations:
Allowable Uses of Funds
Funds from this RFA are for new projects and shall not be used for the ongoing cost of carrying out an existing proje

[2015-05-09 23:29] lippytak opened #251 "Estimate drop off rate for existing SAWS"
Something like:
- get 500 adwords clicks
- do QUICK typeform/SMS survey
- send them to benefitscal.org
- wait a day
- FU with one question "were you able to finish the CalFresh application? Reply YES or NO"
- Offer them getcalfresh.org
- Wait 1 more day
- FU with "were you able to finish the CalFresh application? Reply YES or NO"

[2015-05-10 10:34] lippytak opened #252 "CDSS Contract phase 1 deliverable"
_AJW hijacking this comment_

It's time to author and package our fist deliverable for Phase I of our work with CDSS. Specifically, we'll need to **"Document bottlenecks in the Calfresh application/enrollment process in at least two counties, noting what we suspect can be addressed by technology."**

#### Outline
   - [ ] Executive Summary
   - [ ] The Funnel
   - [ ] Saws: Bottlenecks Online

[2015-05-10 12:48] lippytak opened #253 "CDSS Phase 1 deliverables"
Stub so I don't forget

[2015-05-10 12:48] #253 closed

[2015-05-10 12:50] lippytak commented on #230
grants officer
FNS Grants Officer at:
Kimberly Shields, Grant Officer
Grants and Fiscal Policy Division
U.S. Department of Agriculture, FNS
3101 Park Center Drive Room 740
Alexandra, VA 22302
E-mail: Kimberly.Shields@fns.usda.gov

[2015-05-10 12:58] lippytak commented on #230
community-based and faith-based partners to develop and implement:
- Simple SNAP application and eligibility determination systems; or
- Measures to improve access to SNAP benefits by eligible applicants.

[2015-05-10 13:02] lippytak commented on #230
Okay, we have to apply...snippets from priority the second priority - Technology Improvements goals:
- simplify the enrollment process
- improve client retention.
- workers to spend less time on data entry
- reduce the number of telephone calls (especially about simple matters such as case status)
- fewer documents lost (for example through document imaging)
- Technology can reach populations that

[2015-05-10 13:04] lippytak commented on #230
" if the grant proposal is from an entity other than a State agency, it must
show that a State agency strongly endorses or is involved in the proposed project in order to be
considered. "

[2015-05-10 13:05] lippytak commented on #230
lol @daguar "In some instances the process to complete the migration of permissions and/or the renewal of the entity record will require 5-7 days or more. We strongly encourage grantees to begin the process at least 3 weeks before the due date of the grant solicitation"

[2015-05-10 13:05] lippytak commented on #230
AHHH

All applicants MUST follow grants.gov guidance on file naming conventions. To avoid
submission issues,

[2015-05-10 17:06] daguar commented on #253
This isn't done though right?

[2015-05-10 18:32] lippytak commented on #253
Accidental dup of https://github.com/codeforamerica/health/issues/252

On Sun, May 10, 2015 at 10:06 AM, Dave Guarino <notifications@github.com>
wrote:

[2015-05-10 18:57] lippytak opened #254 "Talk to someone from Health Sherpa"
- How far did you get doing data entry into HC.gov?
- Did HC.gov respect the entries? How did you guarantee that?
- Anything to watch out for?

Already asked for intro...

[2015-05-11 00:53] lippytak commented on #251
@daguar possible to do a full screen iframe for BCW/other SAWS so we could get analytics while people are doing the app? Or is this basic 'internet doesn't let you do that' stuff?

[2015-05-11 15:21] daguar opened #255 "Twilio slide deck"
Need to submit today as backup should my computer's AV fail

[2015-05-11 15:42] daguar commented on #251
Hrm, I thiiiiink iFrames are completely inaccessible.

[2015-05-11 21:12] daguar opened #256 "County phone call data collection"
- Alameda
  - STUB — @lippytak please fill in
- San Diego
  - STUB — @lippytak please fill in

[2015-05-11 21:13] daguar commented on #256
Added note:
The sort of stuff we want to collect: hold times, whether it just hangs up on you if high call volume, experience, etc.

[2015-05-11 21:20] daguar commented on #256
Added:
- Santa Clara (@daguar)
  - Chose "applied recently" but then it said "for faster service, please press 1 to enter a social security #", for office locations press 2. (No option for no SSN; super weird. I got past it by pressing 1 and then when it asked for SSN I just pressed #.)
  - Estimated wait time 5-10 minutes

[2015-05-11 21:40] alanjosephwilliams commented on #256
Orange County -
- Called the case worker directly at 2:30
- Range but no answer. Left a voicemail with name and case number.
San Bernardino County
- Called the case worker directly at 2:35
- Answered promptly!

[2015-05-11 21:42] daguar commented on #256
- Fresno
  - Caller #36 in queue, current hold time is 23 mins

[2015-05-11 21:43] lippytak opened #257 "Draft public CalFresh issue tracker for Kim"
Our awesome friend Kim is thinking of starting/managing a public issue tracker for CalFresh and asked for some recommendations. @daguar @alanjosephwilliams what do you think? I think basic reqs are:
- public issues without account login
- super accessible/not intimidating
- can post/follow issues via email
- easy categorization (counties, NOAs, biz process, etc.)

I would propose snap.stackexchang

[2015-05-11 21:47] alanjosephwilliams commented on #256
San Diego
- English / Language preferences.
- Medical Emergency or Child Abuse? Call one of these numbers any time.
- Social worker? press 1
- Cash aid, medical, food stamps, immigrant assistance, NOA, (anything else?) press 2
- Anything public health or disease related, press 3
- Environmental health, food or restaurants, termite or infestations, press 4
- In home support services or complaints,

[2015-05-11 21:52] daguar commented on #257
I think StackExchange is overkill; big thing for people is gonna be user-friendliness and searchability.

[2015-05-11 21:58] lippytak commented on #256
SD
- ~20 min wait
- Could not find AR until I said "it's on the second page" (BCW)
- Said it's busy today so she can only do one case but I pleaded and she did 2

[2015-05-11 22:19] lippytak commented on #256
OC
- Press 0 immediately > rep
- VERY bad phone reception
- Forwarded me to worker
- Worker picked up RIGHT away, found AR promptly, said they had missed interview
- Turns out EW had OLD phone # (not on app) so we updated it and she will call her at 9am tomorrow

[2015-05-11 22:22] daguar commented on #256
Fresno — 41 min wait time

[2015-05-11 22:29] lippytak commented on #256
SF
- Picked up right away
- Gave good info. Found AR quickly. Just worked...

[2015-05-11 23:38] RebeccaCoelius opened #258 "V1 Content: Bottleknecks"
- agree on goals, timeline with LD
- outline content

[2015-05-11 23:38] RebeccaCoelius commented on #258
largely shared w/ @lippytak, but I'll be sure it happens

[2015-05-12 00:19] lippytak commented on #258
Some links for @ladyson to get started:
- See conversion funnel for Clean Assist cases in SF: https://github.com/codeforamerica/health-logs/issues/15
- Adwords and CalFresh: https://github.com/codeforamerica/health-logs/issues/15
- The Funnel: https://github.com/codeforamerica/health-logs/issues/1
- User research
  - https://github.com/codeforamerica/health/wiki/EW-research
  - https://github.com/

[2015-05-12 00:21] lippytak commented on #258
@ladyson also: Barriers to staying enrolled = confusing letters bit.ly/calfresh-timeline

[2015-05-12 00:35] lippytak commented on #258
I kinda think this could make for a sweet interactive slideshow...with [embedded timelines](http://bit.ly/calfresh-timeline) and [videos and things](http://citizenonboard.com/snap/ca/#147)! Just a thought :)

[2015-05-12 00:41] RebeccaCoelius commented on #258
Ooh @lippytak is getting excited!

Generally SHOWING what we learned would be a very unique way to share this
as content.

On Monday, May 11, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-05-12 14:59] daguar commented on #258
@ladyson I've also been experimenting with using a Waffle board as an interface to think through the problems/bottlenecks we've encountered in the process:

Go to https://waffle.io/codeforamerica/calfresh-bottlenecks — each issue has some content of what we've found so far

[2015-05-12 21:58] #230 closed

[2015-05-13 02:41] #237 closed

[2015-05-13 05:05] RebeccaCoelius commented on #230
Small thing

On Tuesday, May 12, 2015, Jake Solomon <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-05-13 18:05] lippytak opened #259 "Get LOSs"
- Will
- Trent
- Paul
- Stacey (? FRAC)

For FNS grant: https://github.com/codeforamerica/health-private/issues/11

[2015-05-13 20:05] lippytak commented on #259
@rebeccacoelius can you review? https://docs.google.com/document/d/13sRcIu0Ms41C9JI-LbzeWQjdaoV2CypVitF_AQJsNIA/edit#

[2015-05-15 16:32] lippytak commented on #112
Draft/agenda sent. Will meet 4pm Mon to review/sign and work on MOU for CalWIN read access.

[2015-05-15 17:43] lippytak commented on #259
Sent to CDSS. Will ping non-state contacts once PO officer responds or time gets short mid-next week.

[2015-05-15 17:59] lippytak opened #260 "Draft soundness & merit"
https://github.com/codeforamerica/health-private/issues/11

[2015-05-18 17:36] #217 closed

[2015-05-18 17:37] lippytak commented on #168
Closing. Someone will bug you if this ever happens to matter again.

[2015-05-18 17:42] alanjosephwilliams commented on #217
This could be a standalone health-log—is it referenced there at all?

On Mon, May 18, 2015 at 10:36 AM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-05-18 18:12] alanjosephwilliams commented on #252
@lippytak will post
- The contract to reference
- Any outline that has already been written

@alanjosephwilliams will deliver a draft by EOW, including but not limited to synthesis of:

Things to repackage:
- NOA timeline
- Teardowns
- Business Process Map
- EW survey data
- Adwords analysis
- Balance survey qualitative feedback

[2015-05-18 19:20] daguar opened #261 "Investigate how we let clients/assistors access case status for C4, MBCW, LA"
stub, LA does it already. Related to #73

[2015-05-19 17:49] alanjosephwilliams commented on #252
@daguar @lippytak I'm moving forward on building these sections out, so lmk if you see any gaps, have any thoughts about tentative structure

[2015-05-19 21:03] lippytak opened #262 "One Clean App in Marin"
Spoke with Marty. He's positive and going to review with team. "We'll take good data/applications over a bit more data entry any day."

[2015-05-19 21:03] #262 closed

[2015-05-19 23:12] alanjosephwilliams commented on #252
Fuller outline taking shape here:
https://docs.google.com/document/d/15jfB5MTJ_9ppzgI8Z_6CFTBUWJs4UZ2vDU5szN-BeLU/edit#

[2015-05-20 21:35] lippytak commented on #259
CDSS done. Trent and Paul are both sent out and got verbal 'yes's.

[2015-05-20 21:35] lippytak commented on #112
Waiting for folks to sign.

[2015-05-21 16:26] daguar commented on #168
PR pending with awesome new photo

[2015-05-21 17:29] buckleytom commented on #252
@alanjosephwilliams I'm glad you guys included The Funnel here. Thanks.

[2015-05-21 23:31] #168 closed

[2015-05-22 02:26] #255 closed

[2015-05-22 02:26] daguar opened #263 "Put Twilio slide deck into shared folder"

[2015-05-22 02:28] #263 closed

[2015-05-22 04:58] lippytak commented on #252
@alanjosephwilliams at your leisure could you post the repo/gh-pages link here?

[2015-05-22 15:58] daguar commented on #256
San Mateo
	(800) 223-8383
	Has SOME option on phone tree if you've missed your interview or need to do one
		Talking to worker, this just connects you with a live agent
	Customer satisfaction survey after call!

[2015-05-22 15:59] daguar commented on #256
Santa Cruz
	(831) 454-4165
	25 min wait
	Gives you ES info on the phone while you wait! (that's pretty neat)

[2015-05-22 17:49] lippytak opened #264 "CalWIN training"
Some things to figure out:
- Possible to automate?
- Can we search for cases by MBCW Application number?
- Can we see EBT card usage?
- Can we see assigned EW?

[2015-05-22 18:25] alanjosephwilliams commented on #252
I was working against the grain trying to have two frames for understanding the process. Here is an updated outline using The Funnel as the organizing principle. I think it also helps highlight where *we don't yet have good data* and could use more.

#### Outline
   - [ ] Executive Summary
   - [ ] The Funnel
      - Aware
      - Decide
      - Screen
      - Apply
      - Interview
      - Verif

[2015-05-22 22:18] daguar commented on #252
@alanjosephwilliams — should we comment/contribute in the GDoc linked above or did you fork it to a separate one we should add to?

[2015-05-22 22:18] lippytak opened #265 "Google Scholar research for SNAP barriers"
- Bonus if it's California
- Bonus if it's about application process barriers

[2015-05-22 22:25] lippytak opened #266 "Review County participation plans"
See if there's anything about barriers in the application process

http://cafoodbanks.org/statewide-calfresh-participation-plan

[2015-05-22 23:10] alanjosephwilliams commented on #252
Draft in progress here: https://docs.google.com/document/d/11uRKMMOpGrxu0hsuXXS8wHeE4GSyv6rNY-XNDy1Rvrs/edit#

Dev work being done here:
https://github.com/codeforamerica/calfresh-bottlenecks

[2015-05-22 23:43] ladyson commented on #258
We reviewed the draft with @alanjosephwilliams and brainstormed some ideas for actionable "how to" content to complement the report. Some guidance for the people who are responsible for maintaining info pages on county websites on how to improve those pages seemed like a good place to start. Details TBD but could be something like:

* How to evaluate if your page is providing the right information

[2015-05-23 16:14] lippytak commented on #265
Barriers to Participation in the Food Stamp Program Among Food Pantry Clients in Los Angeles
http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1470578/

[2015-05-23 16:20] lippytak commented on #265
http://www.sciencedirect.com/science/article/pii/S0740624X13001196
e-Government legislation: Implementation issues for programs for low-income people

This paper introduces a research agenda to explore the intersection of e-government implementation and the key federal programs – Medicaid, the Supplemental Nutrition Assistance Program (SNAP, a.k.a. food stamps), (SSI), and Temporary Assistance to

[2015-05-23 16:20] lippytak commented on #265
Working the Poor: Barriers to CalFresh Participation and Enrollment Exploring client experiences and the role of community-based organizations in outreach
http://gradworks.umi.com/15/85/1585052.html

Abstract In this thesis, I draw on qualitative research collected through a California food bank's CalFresh outreach program to examine barriers to SNAP participation. Drawing on ethnographic methodol

[2015-05-23 16:34] lippytak commented on #265
Recommendations on CalFresh
- http://ccrwf.org/wp-content/uploads/2011/01/cfpa-calfreshrecommendations-wfsummit2011-final.pdf
- The “back-end” disconnected from the “front end”. Where client interfaces (for
example the C-IV online application) do exist, they have largely been funded and
developed outside of the main county system where most clients apply for CalFresh.
This means clients have not f

[2015-05-23 16:41] lippytak commented on #265
The labor practices of service mediation: a study of the work practices of food assistance outreach
http://dl.acm.org/citation.cfm?id=2208342
- We introduce the construct of service mediation, which includes the technical, social, and knowledge labor practices involved in enabling access to and use of an e-government service.
- The results of our research highlight the role service mediation plays

[2015-05-23 16:41] lippytak commented on #265
Nearly 4 million Californians are food insecure
https://escholarship.org/uc/item/5407m7mh#page-1

[2015-05-23 16:51] lippytak commented on #265
Access and Access Barriers to Getting Food Stamps: A Review of the Literature (2008)
- http://frac.org/wp-content/uploads/2009/09/fspaccess.pdf
![screen shot 2015-05-23 at 9 50 44 am](https://cloud.githubusercontent.com/assets/2533112/7785006/320ab702-0131-11e5-96af-8a255df043c9.png)

[2015-05-23 16:56] lippytak commented on #265
Struggling for sustenance: SNAP access barriers in Santa Clara and San Mateo Counties
https://www.shfb.org/docs/advocacy/foodstamp_accessbarriers.pdf

gold mine
- "1. Providing verification documents is the most onerous part of the FSP process: "
- "1. Many people think they are eligible but still haven’t applied "
- "4. Many are deterred from applying by the difficulty and/or intrusiveness of the

[2015-05-23 17:00] lippytak commented on #265
As far as I can tell: "There is not a single published study of the online application process for CalFresh"

[2015-05-23 17:14] lippytak commented on #266
Alameda
- "utilize new technology to generate and complete new applications in the field"

Butte - nothing

Contra Costa
- "Significantly increase the opportunities for client self-service"
- "Create multiple channels of access"
- "Reduce the amount of manual tasks that staff must complete in processing an application"

Fresno
- "Fresno County encompasses more than 6,000 square miles. These distan

[2015-05-23 17:17] lippytak commented on #266
- Kern - nothing
- LA - "The goal of these expanded outreach efforts is to remove perceived barriers and increase CalFresh participation among the many potential eligible individuals and families of LA County whoare not currently receiving assistance. In furtherance of that goal, DPSS has committed to an increase in CalFresh Only participation of 12 percent annually."

[2015-05-24 17:30] daguar commented on #265
This is excellent.

[2015-05-24 17:51] daguar commented on #266
- San Bernadino is awesome:
  - Under "Current and Future County Outreach Efforts" it says they've created an entity called the "CalFresh Improvement Consortium" made up of a bunch of CBOs, and that the county identified 5 overarching goals with the consortium:
    - 1) Unique Population Concerns
    - 2) Hunger Issues
    - 3) Policy Simplification
    - **4) Simplification of C4Yourself online a

[2015-05-24 17:58] daguar commented on #266
More San Bernadino, slightly off-topic, but love it:

- "For seniors, we have partnered with the Department of Aging and Adult Services. We pair Eligibility Workers (EWs) with Social Workers and visit 5 different Senior Centers every month. **Our EWs take laptops** so that as they share the benefits of the Calfresh program with the seniors, **they can have them complete online applications on the

[2015-05-24 18:31] daguar commented on #266
- Sonoma calls our online application burden as the first big biz process barrier:
  - We have also identified several business processes that create bottlenecks in application processing. The first area of improvement is the length of time needed to register new applications in the CalWIN system. **Application registration is a complicated, painstaking process, requiring attention to detail and m

[2015-05-24 18:31] daguar commented on #266
(Note: unclear if that's internal-facing side of CalWIN or MBCW.)

[2015-05-24 18:51] lippytak commented on #266
Pretty sure the above comment is about "clearing" (some counties call it "app reg") from the county perspective. It's a great point though...the complexity of this step means that a single EW/person cannot take you from application to approval.

[2015-05-24 19:00] lippytak commented on #266
Wow @sanbernadino...that's one fine CalFresh participation plan if I do say so myself...

[2015-05-24 19:13] lippytak commented on #266
- Marin - Targeting seniors and spanish speakers
- Merced
  - "Simplified online application process by requiring only name, contact information, and signature"
  - "Simplified verification submission process through the use of up-front imaging"
  - Re working poor: "increased presence at community events with goal of web-based application and telephone interviews are ways to reach out to this pop

[2015-05-24 21:15] lippytak commented on #266
QUICK skims:
- Sonoma - null
- Stanislaus - null
- Tulare - null
- Ventura - null

[2015-05-24 21:26] lippytak commented on #266
Santa Baraba
- "When clients don't provide all required verification it delays the application process...obtaining the required verifications along with the applicationw ill help eliminate the need for DSS to request it and will improve applicatoin processing"

Riverside
- One of the main components of the Business Process Standardization Plan: "Encouraging customers to apply on-line via C4Yoursel

[2015-05-25 01:33] #183 closed

[2015-05-25 02:26] lippytak commented on #265
AARP Foundation funded study:SNAP Access Barriers Faced By Low Income 50-59 Year olds

http://www.aarp.org/content/dam/aarp/aarp_foundation/2013-pdfs/SNAP_White_Paper_Mar_2013.pdf

![screen shot 2015-05-24 at 7 26 14 pm](https://cloud.githubusercontent.com/assets/2533112/7790936/c499d200-024a-11e5-87f8-d8bfff9c713d.png)

Fascinating but not focused on CA and not much on the application process its

[2015-05-26 19:51] lippytak commented on #252
NOA BLUF: CalFresh clients receive many Notices of Actions, which are confusing, full of jargon, and do systematically help the customer take a successful next step.
- For one CalFresh case, we received 12 NOAs over the first 7 months of a new CalFresh case
- They were confusing: ...
- They used jargon: ...

MBCW BLUF: My Benefits CalWIN is long, confusing, and difficult to complete accurately. MB

[2015-05-27 05:27] lippytak opened #267 "CalWIN covers what % of CF households/persons?"
Can't find it. @daguar can you dig this up (or estimate it) for the grant? I think it was reference in the CDSS operational survey aka The Kiosk Measurement Infastructure: http://www.cdss.ca.gov/research/res/pdf/foodreports/CFSurvey1314.pdf

If not there we may have to look at participation by county in the dashboard http://www.cdsscounties.ca.gov/foodstamps/ and just add up the CalWIN counties.

[2015-05-27 05:30] daguar commented on #267
I also think it's reasonable to do it by covered population.

[2015-05-27 17:46] lippytak opened #268 "Does C4 support verification doc upload?"
Does it, @daguar?

[2015-05-27 17:56] daguar commented on #268
Yes, but it appears to be janky — see page 135 (PDF page 145) here: http://chc-inc.org/downloads/C4Yourself_EUG.pdf

This is what the "My Documents" page looks like:
![screen shot 2015-05-27 at 10 54 08 am](https://cloud.githubusercontent.com/assets/994938/7843479/be2a2b98-045e-11e5-9d0d-5aa7dab9e2da.png)

And then uploading:
![screen shot 2015-05-27 at 10 55 17 am](https://cloud.githubusercontent

[2015-05-27 17:56] daguar commented on #268
Also, not sure where it actually is in the application flow — I think you are supposed to do it afterward through your account.

[2015-05-27 18:22] lippytak commented on #268
Can you submit docs without creating an account? Can you submit docs during
the application or only after?

On Wed, May 27, 2015 at 10:56 AM, Dave Guarino <notifications@github.com>
wrote:

[2015-05-27 20:37] lippytak opened #269 "Sign CalWIN confidentiality agreement"
Jakw/Ajw/Rebeccac

[2015-05-27 21:59] lippytak opened #270 "Remove HTTPS from CDSS report"

[2015-05-27 22:27] lippytak commented on #259
Done! We have:
- Food bank
- State
- SF HSA
- Marin HSA
- Solano HSA

[2015-05-27 22:27] #259 closed

[2015-05-27 22:28] lippytak opened #271 "Draft implementation/timeline narrative"
Basically what we're doing when

[2015-05-27 23:18] lippytak opened #272 "Draft 'regional impacts' section"
Whatever this is

[2015-05-28 15:47] #270 closed

[2015-05-28 17:43] lippytak opened #273 "Find confusing sentences/questions in C4 and LEADER"
@daguar and @alanjosephwilliams please pull out a few confusing questions/sentence here. Focus on things that are clearly not written in plain language (passive voice, double negatives, acronyms, legalese).

[2015-05-28 17:57] lippytak commented on #273
Two ideas:
- @ajw let's call out the C4 homeless/required permanent address issue.
- C4 we can do signature
- I'll call that doc submission is Fd for LEADER

What else...?

[2015-05-28 18:01] daguar commented on #273
Double-negative on the voting registration that you mentioned?

[2015-05-28 18:02] lippytak commented on #273
I'm good on BCW:
- For example, MBCW offers the following introductory information for applicants applying for CalFresh only: “You can complete this application and request health insurance for you and your non-custodial child. However, CalHEERS will not be able to determine your non-custodial child's eligibility for Medi-Cal health insurance benefits.”
- MBCW uses both passive voice and double ne

[2015-05-28 18:11] lippytak opened #274 "Fact check my queries/adwords numbers"
Not 100% sure we'll want to include this in the end, but @daguar could you fact check this paragraph with what you/@ajw decided on yesterday in the CDSS report?

[2015-05-28 19:05] lippytak opened #275 "Review SNAP online application best practices"
Pull out relevant quotes:
- Things that the current systems clearly DO NOT do
- Things that we would absolutely without a doubt DO VERY WELL

http://www.fns.usda.gov/sites/default/files/snap/Best-Practices-for-Online-SNAP-Applications.pdf

and http://www.fns.usda.gov/sites/default/files/SNAP-080213.pdf

[2015-05-28 19:09] RebeccaCoelius commented on #129
I think its my turn since Dave went last week. Please add your updates here! @lippytak @daguar @ajw

[2015-05-28 19:10] lippytak commented on #129
Best report ever
Grant FML

On Thu, May 28, 2015 at 12:09 PM, Rebecca Coelius <notifications@github.com>
wrote:

[2015-05-28 19:12] lippytak opened #276 "Review the CBPP stuff and pull out important quotes"
Everything here: https://drive.google.com/drive/u/0/folders/0B74q_na-o7ICflpiOE9VMm1qbjE0Qm45bGpwcEx6UmJZT0V2OVMtY1ZKV2dxdWNjQUszQXc/0Bwsh55jFVBKbfkJsWWgwaUZkWU11X1JzT3o5R3VoVHRwWUg2NXF0cDl0NHRFY3pVcHdXYkU

I'll be looking through it, as well.

Add comments here for:
- what CA is doing wrong
- what we should do right

Some of this was shared in confidence so Slack me anything sensitive-ish.

[2015-05-28 19:16] RebeccaCoelius commented on #129
- Spending a lot of time with Jen, Kakul, Focus Area leads on our OKRs for this year.
- Grant FML X2
- We are starting testing on  Vocatus, the prototype that makes it easier for people to request their medical records and for us to track the result of that request. Talk to me if you want to be involved!
- There is a summer health intern starting next week, Caroline Hayes. She will be focused on

[2015-05-28 22:32] lippytak opened #277 "Confirm if BCW does/does not include 'income verifications' in doc upload"
I don't see it here: http://citizenonboard.com/snap/ca/#133

But *hopefully* that's because I didn't list any income sources in the application.

@daguar could you go through with sone income and see if there is an 'income verification' section in doc upload?

[2015-05-28 22:35] daguar commented on #277
:+1: will do

[2015-05-28 22:57] lippytak opened #278 "Research how badly native apps suck"
I didn't see anything here: www.pewinternet.org/2015/04/01/us-smartphone-use-in-2015/

Find evidence for what is no duh:
- Nobody downloads native apps
- Or low-income folks don't download native apps
- Or Android users don't download native apps
- Or generally native apps suck

Or something like that.

[2015-05-28 23:14] daguar commented on #268
I check.

[2015-05-28 23:24] daguar commented on #273
There's a basic issue with C4 which is that it makes the bizarre design decision to include all questions for all programs regardless of which ones you said you were applying for:

![screen shot 2015-05-28 at 4 23 09 pm](https://cloud.githubusercontent.com/assets/994938/7873333/fcd7c524-0555-11e5-9643-9a1f661c24e5.png)

[2015-05-28 23:25] lippytak commented on #273
Fantastic observation. So basic I didn't even think to mention it. Will
definitely include this.

On Thu, May 28, 2015 at 4:24 PM, Dave Guarino <notifications@github.com>
wrote:

[2015-05-28 23:26] daguar commented on #268
You need to register an account just to APPLY, so yes you do need an account to submit docs.

[2015-05-29 00:12] daguar commented on #268
Document submission appears to be completely separate — they don't ask you for documents anywhere in the application, and afterward there's only a list of verifications the worker may ask for, no note that you can even submit them online, much less a link to do so.

[2015-05-29 00:26] #268 closed

[2015-05-29 00:39] daguar commented on #277
It DOES ask you for income verifications if you put income in the app:

![screen shot 2015-05-28 at 5 39 05 pm](https://cloud.githubusercontent.com/assets/994938/7874143/7ce0117c-0560-11e5-9477-f76035a96f51.png)

[2015-05-29 00:40] daguar commented on #277
More detail:

![screen shot 2015-05-28 at 5 39 53 pm](https://cloud.githubusercontent.com/assets/994938/7874153/949d398e-0560-11e5-987d-2cfdf3d7ac1e.png)

[2015-05-29 00:40] #277 closed

[2015-05-29 06:09] lippytak opened #279 "Read through MBCW feedback and pull out relevant quotes"
From Stephanie/Liliana: https://drive.google.com/drive/u/0/folders/0B74q_na-o7ICflpiOE9VMm1qbjE0Qm45bGpwcEx6UmJZT0V2OVMtY1ZKV2dxdWNjQUszQXc

[2015-05-29 22:28] lippytak opened #280 "Quick research lit review on connection between usability > conversion"
DO IT. Drop notes here.

[2015-05-29 22:32] alanjosephwilliams commented on #280
- Big report behind paywall, about ROI of usability improvements: http://www.nngroup.com/reports/usability-return-on-investment-roi/
- Applicability to governments and non-profits: http://www.nngroup.com/articles/government-non-profits-usability-roi/
- Our own government thinks usability has high ROI!:  http://www.usability.gov/what-and-why/benefits-of-ucd.html (includes a link to a great short vi

[2015-05-29 23:19] daguar commented on #267
Looks like:

C4 — 607,604 (31%)
LEADER — 555,795 (29%)
MBCW — 782,941 (40%)

[2015-05-30 17:00] lippytak commented on #267
thank you good sir

[2015-05-30 17:00] #267 closed

[2015-05-30 17:01] lippytak commented on #275
I'm actually referencing this doc a lot so no need to review separately

[2015-05-30 17:01] #275 closed

[2015-05-30 17:01] lippytak commented on #279
Done

[2015-05-30 17:01] #279 closed

[2015-05-30 19:13] lippytak opened #281 "How many CA area codes have used Balance?"
Measure of scaling/spread across CA.

[2015-05-30 19:14] lippytak commented on #281
Or (easier to measure): How many unique area codes have had 1+ successful balance check on one of the CA numbers?

[2015-05-30 19:27] daguar commented on #281
Used? By that we mean successful balance check, correct?

[2015-05-30 19:27] daguar commented on #281
#querypedantry

[2015-05-30 19:52] daguar commented on #281
Uh, hrm, so... yeah — all of them. :smile:

To be explicit — we have had successful usage from every area code in California.

(I did this check manually, but we can automate numbers by area code in the future.)

[2015-05-30 19:52] #281 closed

[2015-05-30 23:02] #280 closed

[2015-05-30 23:59] daguar opened #282 "Coordinate hardboiled egg stash in the office"

[2015-05-31 00:00] daguar commented on #282
Health Team: drink the most, sick the most, BUT WE EAT PROTEIN IN THE AM

[2015-05-31 02:56] #265 closed

[2015-05-31 02:56] #266 closed

[2015-06-01 16:33] lippytak opened #283 "Apply for FNS grant"
Outstanding as of 5/31:
- [x] Put it all in one doc
- [ ] Get grants.gov account
- [x] Write Exec Summary
- [ ] Review Exec Summary (Jessica/R)
- [x] Review Implementation & Eval (Jessica/Jake)
- [x] Review the detailed part of the Approach (Jessica/Jake)
- [ ] Review Org Experience section (Jake/Matt)
- [ ] Review Soundness & Merit of project design (all)
- [x] Jake review budget appropriateness

[2015-06-02 16:16] #260 closed

[2015-06-02 16:16] #271 closed

[2015-06-02 16:16] #272 closed

[2015-06-02 16:16] #252 closed

[2015-06-02 16:17] #274 closed

[2015-06-02 16:17] #273 closed

[2015-06-02 16:17] #276 closed

[2015-06-02 16:17] #278 closed

[2015-06-02 16:17] #112 closed

[2015-06-02 17:39] alanjosephwilliams commented on #258
@ladyson should we circle back about whether the Content team wants to extrapolate any  of the findings from our report in to a piece more focused on external audiences?

[2015-06-02 19:25] RebeccaCoelius commented on #258
Jen definitely wants to see this

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Tue, Jun 2, 2015 at 1:39 PM, Alan Joseph Williams <
notifications@github.com> wrote:

[2015-06-02 19:47] ladyson commented on #258
Yes! Here are a few generalizable practices that jump out at me from the CDSS report:

# How to use Keyword Planner to find out how many people are searching for your program and evaluate if they're getting the info they need *
# How to use Adwords to run a test on how many users successfully complete your application *
# How to do a statewide audit of the information provided by county websites a

[2015-06-02 20:37] lippytak commented on #264
@daguar are we going to consider this done? Can you give AJW and I a quick rundown sometime soon?

[2015-06-02 20:37] #283 closed

[2015-06-02 20:41] lippytak commented on #231
Working on this...

[2015-06-02 20:44] daguar commented on #264
Yup!

[2015-06-02 20:44] #264 closed

[2015-06-02 21:31] lippytak commented on #231
- [ ] Alameda
- [ ] Contra Costa
- [ ] Fresno
- [ ] Orange
- [ ] Placer
- [ ] Sacramento
- [ ] San Diego
- [x] San Francisco
- [ ] San Luis Obispo
- [ ] San Mateo
- [ ] Santa Barbara
- [ ] Santa Clara
- [ ] Santa Cruz
- [x] Solano
- [ ] Sonoma
- [ ] Tulare
- [ ] Ventura
- [ ] Yolo

[2015-06-02 22:25] daguar commented on #256
- San Bernardino: SUPER awesome
  - They tell you estimated hold time ("more than 15 mins" was what I heard)
  - They give you the option for someone to call you back instead in X mins (I got "32 mins") instead! I chose this option, so we'll see!

[2015-06-02 22:36] daguar commented on #256
San Bernardino: bummer update — the system called me back about 10 minutes later, and then put me back in a queue saying my call would be answered in the order originally received.

[2015-06-02 22:42] daguar opened #284 "Record the phone/IVR experience of every CA county's social services office"

[2015-06-02 22:43] daguar commented on #284
and use SoundCloud to do those sweet annotations!

[2015-06-03 00:36] lippytak opened #285 "Plan CWDA presentation"
BLUF:
- We've been working with SF to build a simple online application for CalFresh
- Now working with CDSS to try it out in other counties
- We would love to pilot with you...all we need:
  - Understand a bit about your county (approval rate, online takeup, doc submission)
  - MBCW CBO account (no need for C4)
  - Data access to evaluate (the funnel)
  - Some of your time  (and your EWs)

[2015-06-03 21:21] lippytak opened #286 "County docs research"

[2015-06-03 21:21] #286 closed

[2015-06-03 21:46] lippytak commented on #269
Confirm whether we're signing the appendix or just the one pager.

[2015-06-03 23:53] lippytak commented on #285
Will have a little presentation ready at getcalfresh.org/join

[2015-06-04 00:14] daguar commented on #285
FYI going to that right now I'm getting the normal Typeform application.

[2015-06-04 00:14] daguar commented on #285
Probably a domain/SSL cert issue? Maybe let's use another?

[2015-06-04 00:19] lippytak commented on #285
I havnt set up code or forward yet. Will do tnight.

On Wednesday, June 3, 2015, Dave Guarino <notifications@github.com> wrote:

[2015-06-04 00:20] daguar commented on #285
Oooooo, sorry! Misread!

[2015-06-04 17:51] RebeccaCoelius commented on #129
I'll do this week since I"m about to miss two staff mtgs and a bunch of team member are out.

Please add updates @lippytak @daguar @alanjosephwilliams

[2015-06-04 17:57] daguar commented on #129
- USDA grant is submitted! Thanks for a heroic effort to Jessica and Matt for their help.

[2015-06-04 18:28] RebeccaCoelius commented on #129
- hooray Caroline is here
- Rebecca just got back from Datapalooza. We launched the alpha for Vocatus.io while there as part of Data Independence Day. Vocatus is a very simple tool that makes it easy for a patient to request copies of their medical records in a digital format, and then follow up to help us measure the gaps between policy intention and the on the ground reality of patient access fo

[2015-06-05 05:05] lippytak opened #287 "OKR 2015 Health team goals"
Do it

[2015-06-05 17:30] daguar commented on #285
Awesome job! (closing for waffle cleanliness)

[2015-06-05 17:30] #285 closed

[2015-06-05 22:09] lippytak opened #288 "Write 2nd CDSS deliverable"
First step: What is it?

[2015-06-05 22:44] lippytak opened #289 "CWDA CalFresh meeting FU"
We have ~8 interested counties from the CWDA meeting.
Figure out basic selection/onboarding process first

[2015-06-08 16:22] lippytak commented on #289
Basic county onboard
- Prelim phone call
  - Explain what we're doing
  - Collect some basic stats
- In person meeting with bigwigs (everyone who needs to say yes)
  - Plan outreach
  - Plan case tracking/data sharing
- In person working meeting with clerical/EWs/operational people
  - Understand 'high quality applications'
  - + best way to submit docs
  - + best way to schedule interviews

[2015-06-08 16:54] lippytak opened #290 "Plan County onboarding"
- Agendas for prelim call + in person meeting(s)
- What data do we need before we start?
- Exact case tracking options/process

[2015-06-08 18:59] lippytak commented on #289
Initial FUs done

[2015-06-08 19:02] lippytak commented on #288
![screen shot 2015-06-08 at 12 01 47 pm](https://cloud.githubusercontent.com/assets/2533112/8042762/3b545d2a-0dd6-11e5-9fc2-7750a2f1911e.png)

[2015-06-08 21:59] #226 closed

[2015-06-09 00:52] #289 closed

[2015-06-09 00:54] #254 closed

[2015-06-09 00:54] lippytak commented on #254
In fact he's coming for lunch tomorrow!

[2015-06-09 17:48] alanjosephwilliams commented on #288
July 8th is hella soon

On Mon, Jun 8, 2015 at 12:02 PM, Jake Solomon <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-06-09 18:58] lippytak commented on #288
yeah dude why did we do this to ourselves?

On Tue, Jun 9, 2015 at 10:48 AM, Alan Joseph Williams <
notifications@github.com> wrote:

[2015-06-09 20:27] RebeccaCoelius commented on #258
I think the process map is pretty important, but otherwise makes sense to me! What do you think @ajw

[2015-06-11 01:22] lippytak opened #291 "Onboard Sonoma"
Start with blurb/one pager to Shaydra.

[2015-06-11 19:39] alanjosephwilliams commented on #129
- Dave is automatin'
- AJW is conciergin'
- Jacobo is doing county onboarding
- Caroline is going to do some awesome research. we think its legal!
- Eff LA

[2015-06-12 16:47] lippytak opened #292 "Onboard Solano"
Next steps
- [x] Adwords UP
- [x] CBO account
- [ ] Add link to website
- [ ] Flyer to CBOs
- [ ] Flyer to other divisions
- [x] Case tracking

[2015-06-15 13:31] lippytak opened #293 "Plan for Solano meeting"
1) Collect some benchmark data like approval and online application rates
2) Plan outreach
3) Plan case tracking
4) Understand the application process
    - The easiest way for clients to schedule interviews (is there a central number they can call or does it depend on the office?)
    - The easiest way to submit verification documents (is MBCW always the best option?)
    - What is 'high quality

[2015-06-15 19:17] lippytak commented on #293
- Intros
- Teardown
- demo.getcalfresh.org > talk through how it works, SHOW MBCW automation
- Talk outreach
  - Joel at Foodbank
  - Adwords
  - Link on website
  - Other things they normally do
- Case tracking
  - Read only OR
  - We provide BCW confirmations, they track data in google spreadsheet (one EW, ~1 day/week)
- Understand application process (see questions above)

[2015-06-15 21:53] #293 closed

[2015-06-16 01:56] lippytak commented on #245
Something like this...

===

Quick update for you all on what we've been up to the last month or so. As always feel free to ping me with questions/thoughts or ring my cell if you want to chat (510) 206-8727.

## We have people applying for CalFresh in under 10 minutes on their phones
In the last month we built GetCalFresh.org - a simple online application for CalFresh. Our first 50 applicants fini

[2015-06-16 16:37] daguar opened #294 "Write email to Anna re work for intro w/ telephony attorney"

[2015-06-16 21:39] daguar opened #295 "Get NOAs from Balance users"
- [x] New front # @lippytak
- [x] Copy for text message solicitation
- [x] Code @daguar
- [x] Copy for questions/interview stuff
- [x] Deploy/turn it on @daguar
- [x] Do it @carolinehays
- [ ] Turn it off @daguar

[2015-06-17 03:59] alanjosephwilliams commented on #295
Automated, initial solicitation (following the regular "Please wait..." message):
"Help us improve official CalFresh mail & earn $10 in Amazon.com credit. Text us a photo of any recent letter you received & we will respond with a gift code! "

Automated response, via Front, triggered when an MMS is received:
Got it, thanks! We will respond today with your gift codes. One quick question before you

[2015-06-17 04:00] alanjosephwilliams commented on #295
Also, let's revisit and/or still consider a one question survey for the first batch—when we start getting images, we can think more about what additional information we want to solicit from clients themselves.

[2015-06-17 22:22] lippytak opened #296 "Automatically trigger SMS/email drips on submission"
SMS drip is setup: https://github.com/codeforamerica/getcalfresh.org/issues/73

Email drip is setup: https://github.com/codeforamerica/getcalfresh.org/issues/74

After we automate the full application submission the next step would be to automate triggering these drips. I confirmed this is possible with both textit.in and getdrip APIs.

[2015-06-17 22:23] #296 closed

[2015-06-17 22:23] lippytak commented on #296
wrong repo

[2015-06-17 22:26] #201 closed

[2015-06-17 22:47] #287 closed

[2015-06-17 22:56] lippytak opened #297 "Check that drip campaigns are working"
@alanjosephwilliams will setup calendar invites to check and open issues if he never gets the email/sms campaigns.

[2015-06-18 00:25] lippytak commented on #292
We had a pilot planning meeting: https://github.com/codeforamerica/health-notes/issues/18

[2015-06-18 00:37] daguar commented on #295
Edited version paired with @alanjosephwilliams :

[2015-06-18 00:51] daguar commented on #295
Edited part 2 paired with @alanjosephwilliams:

[2015-06-18 01:05] alanjosephwilliams commented on #295
We updated our Front plan, authored the template to reflect part 2, and
turned on a rule that will trigger the message whenever the first message
from a given phone number is received in our NOA inbox.

On Wed, Jun 17, 2015 at 5:51 PM, Dave Guarino <notifications@github.com>
wrote:

--
t:  @alanjosephwilli
p: 817 713 6264

[2015-06-18 04:44] daguar commented on #295
Done with code, PR here: https://github.com/codeforamerica/balance/pull/314

[2015-06-18 04:45] daguar commented on #295
Tested full flow on Dev; will be launching :)

[2015-06-18 04:52] daguar commented on #295
NOA solicitation is live! We gave 1-2 days as Amazon code turnaround, so less pressure.

[2015-06-18 05:49] lippytak commented on #292
FU done

[2015-06-18 16:16] daguar commented on #287
Have we done this actually?

[2015-06-18 17:34] lippytak commented on #287
No but after Kakul's presentation I realized I don't know what exactly we
need to do. It will come back if/when it's important.

On Thu, Jun 18, 2015 at 9:16 AM, Dave Guarino <notifications@github.com>
wrote:

[2015-06-18 18:57] #245 closed

[2015-06-18 18:58] lippytak commented on #245
will
pete
stacy
kim
stephanie
liliana
tiana
leo

who'd I miss?

[2015-06-18 18:58] #297 closed

[2015-06-18 18:58] lippytak commented on #297
I have calendar items set, too.

[2015-06-18 23:49] lippytak commented on #291
Bigwig buy in meeting scheduled for Aug 19th. Hopefully can get a CBO acct before.

[2015-06-19 21:14] lippytak opened #298 "Look into MEDA verification issues"
EWs "not getting" verifications. Liliana will get us some case info and I'll dig into it on Monday. I suspect EWs aren't scrolling down...

[2015-06-20 00:41] lippytak commented on #298
Details: Submitted 2 cases on June 3rd. One went through normally. Second was "not found" for a while...then they found it? Missing verifications? Unclear what they have or don't have. Doesn't seem like a Clean issue to me. I'll call Mon AM to figure out whatsup.

[2015-06-22 18:00] lippytak opened #299 "Is GI Bill income deducted?"

[2015-06-22 18:13] lippytak commented on #298
Emailed Cristobal

[2015-06-22 18:39] lippytak commented on #299
No.

![screen shot 2015-06-22 at 11 38 27 am](https://cloud.githubusercontent.com/assets/2533112/8289737/3c17b65a-18d3-11e5-956b-492491db93e0.png)

cc @alanjosephwilliams

[2015-06-22 18:39] #299 closed

[2015-06-23 01:20] lippytak commented on #231
This isn't helping me manage things right now so closing. See respective county onboarding issues.

[2015-06-23 01:20] #231 closed

[2015-06-23 01:22] lippytak opened #300 "Onboard contra costa"
- [x] Get CBO account (UGH WORKING ON IT)
- [ ] Setup case tracking
- [x] Adwords UP

[2015-06-23 01:30] lippytak commented on #251
So we're doing this now. Kinda. w00t

[2015-06-23 01:30] #251 closed

[2015-06-23 16:01] lippytak opened #301 "Onboard Placer"
- [x] Linda review legalese
- [x] CBO account
- [ ] Link on county website
- [x] Turn on ads
- [ ] Paragraph in News & Review
- [x] Flyer for CBOs
- [ ] Figure out case tracking
- Holding on press release

[2015-06-23 17:46] daguar commented on #298
Looked into the case that MEDA said had no documents found by HSA.

Confirmed all docs were attached in the doc that went to HSA.

[2015-06-24 18:02] lippytak commented on #298
BLUF: all good. Closing.

[2015-06-24 18:02] #298 closed

[2015-06-25 18:45] daguar commented on #129
I got today! Please hit me with any.

[2015-06-25 18:47] daguar commented on #129
So far I have:

- Rebecca back online Friday
- In the process of onboarding a bunch of counties (Solano, Placer, Marin, Contra Costa)
- Mini-landmark: first app submitted via the legacy system programmatically
- Launched a document upload feature

[2015-06-25 18:48] daguar commented on #129
Ergh, edit — Rebecca back Monday

[2015-06-25 20:53] daguar commented on #129
Done! Who's next?

[2015-06-26 16:53] RebeccaCoelius commented on #129
I'll take it since I've been out!

On Thursday, June 25, 2015, Dave Guarino <notifications@github.com> wrote:

--
Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

[2015-06-26 18:17] lippytak commented on #301
Notes from pilot planning meeting: https://github.com/codeforamerica/health-notes/issues/20#issue-91292158

[2015-06-27 18:49] lippytak opened #302 "Onboard Marin"
- [ ] Link on website
- [ ] Get Alexandra up and running
- [ ] Share  other CBOs on July 30th (Coalition meeting)
- [x] Figure out case tracking
- [x] Adwords UP

[2015-06-27 18:50] lippytak commented on #302
Marin has ~500 apps/mo with ~60% approval. Online uptake unknown.

[2015-06-27 18:51] lippytak commented on #301
- Intros
- Background > GetCalFresh.org
  - Promptly / Balance / EBTNearMe / Connect
  - Full time team yay!
  - Teardown > GetCalFresh.org > MBCW driver > SF stats
- Background data
  - Caseload
  - Application volume
  - Approval rate
  - Online uptake
- Outreach
  - Website
  - CBOs
  - Other ideas?
- Case tracking
  - You can do it (application #s)
  - We can do it (MOU for data sharing)
- How

[2015-06-29 20:17] lippytak opened #303 "Setup team Hellofax account"
With CfA card. Invite the team.

[2015-06-29 20:38] daguar commented on #204
Emailed Twilio support about migrating subaccounts wholesale from one master account to another

[2015-06-29 20:49] daguar opened #304 "Analyze new county-level program access index (PAI) data"
http://cfpa.net/CalFresh/CFPAPublications/PAI-FullReport-2015.pdf

Could do some basic analysis, maybe an interactive map as a nicety.

[2015-06-29 21:23] RebeccaCoelius commented on #303
@lippytak Is this Health team only? I've been meaning to bug Joseph about
donating credits since gov could be such a huge client for them, and we are
using for Vocatus.

Rebecca Coelius, MD
Director of Health
Code for America
415 298 2872
LinkedIn <http://www.linkedin.com/in/rebeccacoelius>
Twitter <http://twitter.com/#!/RebeccaCoelius>

On Mon, Jun 29, 2015 at 1:17 PM, Jake Solomon <notifications

[2015-06-29 21:53] alanjosephwilliams commented on #302
@jake do we have  visit on the books for Marin that approximates what we have done in Solano and Placer?

[2015-06-29 22:26] alanjosephwilliams commented on #288
We can discuss during sprint plan, but perhaps we can build this deliverable off of our recent onboarding meetings in Solano and Placer counties.

It would look something like:
- Comprehensive business process outlines with focus on online apps
  - complete business process write-up for San Francisco (mostly already delivered in our first report, but could be expanded upon).
  - complete business

[2015-06-29 22:47] lippytak opened #305 "Have compassion for yourself"

[2015-06-29 22:47] #305 closed

[2015-06-30 14:09] lippytak commented on #304
Our babies:
County, estimate, rank
Sonoma 0.477 43
Contra    Costa 0.485 42
San    Francisco 0.417 50
Solano 0.669 17
Marin 0.382 55

[2015-06-30 14:13] lippytak commented on #303
Just for health. This is to submit verification documents to counties so we want to keep this siloed from the rest of the org if possible.

[2015-06-30 18:15] lippytak commented on #288
@alanjosephwilliams I think this is really interesting/important content but it just feels too far from the deliverable to me. I think we should do our best to deliver what we said, even if the outcomes aren't what we had hoped at the time of writing.

So here's what I would propose:
**BLUF** = , Clients love Balance, mixed on EBTNearMe due to data quality, and GetCalFresh.org has shown VERY promi

[2015-06-30 18:24] lippytak commented on #288
@alanjosephwilliams @daguar Would love your thoughts? The goal here is to deliver something great without doing much extra/new work. I'll plan to flesh out a full outline by EOW and then block off real time next week to do the thing.

[2015-06-30 18:38] alanjosephwilliams commented on #288
My only concern is fresh information from Balance and EBT-Near-Me, since our existing research was included in the first deliverable. I love the idea of going a little deeper on trust via Balance logs.

I think a really great GetCalFresh analysis sounds spot on, and its an opportunity to fold in some of that business process stuff.

[2015-06-30 19:37] lippytak commented on #288
Yeah good point. At the very least we should be clear about what is old info and not emphasize it.

[2015-06-30 23:27] carolinehays commented on #295
Revised initial solicitation for clarity:

Help improve food stamp mail & earn $5 in Amazon.com credit. Send a photo of the text of any CalFresh letter you have to 555-555-5555 & we'll send a gift code

[2015-07-01 13:27] lippytak commented on #302
Marty is leaving. Replaced by Angela Struckmann.

[2015-07-01 13:48] lippytak commented on #303
Done and invited everyone to the team.

[2015-07-01 13:48] #303 closed

[2015-07-01 15:39] lippytak commented on #300
Status: CBO account still not approved (not a blocker). Verbal OK on case tracking via BCW confirmation #s but haven't tested it yet. Joel is reviewing getcalfresh.org and we'll submit 1 case ASAP to get momentum going and test case tracking.

[2015-07-01 15:40] lippytak commented on #302
Alexandra is reviewing getcalfresh.org then we'll be good to go. Once we have a case submitted I'll ping about link on website.

[2015-07-01 15:40] lippytak commented on #292
Once we have a flyer for CBOs I'll circulate and ping for website link.

[2015-07-01 15:43] lippytak commented on #301
Once we have flyer I'll ping for above.

[2015-07-01 18:01] daguar commented on #304
Starting to collect county CalFresh data (including PAI) in the GSheet here:
https://docs.google.com/a/codeforamerica.org/spreadsheets/d/18xgZVhxLVBPyXXBxxBFTKO5-VPySh3r5o444Pefg91w/edit?usp=sharing

[2015-07-02 04:09] alanjosephwilliams commented on #295
Reads well to me @carolinehays, I do think "text of any..." is clearer, and should help reduce the number of envelope shots we receive. @daguar do you need anything else to ship this change?

[2015-07-02 05:52] daguar commented on #295
I do not! Will do tomorrow.

[2015-07-02 07:18] daguar commented on #300
CBO account seems to work! @lippytak double check, but it seems to be good to go on the test I ran just now so I'm marking it.

[2015-07-02 15:53] daguar commented on #288
I've reviewed the outline (sorry for blocking for a day!) and I think it looks good. A few notes:

- Agree with you @lippytak that we should keep this somewhat close to the deliverable text — hit those points, but we can also include more
- Looking at the deliverable text, can you flush out the EW outline a bit more @lippytak? We focused on that, and I want a better sense of what you're thinking.

[2015-07-02 18:39] lippytak opened #306 "THC Training FU"
- CalFresh phone # and rescheduling interviews
- Live in IHHS worker
- CPS mandatory reporting
- Link to demo site

[2015-07-02 18:58] lippytak commented on #129
- 48 CalFesh apps in the last week (down from 53 the prior week)
- Submitted our first automated case through the existing systems
- Some tough moments:
  - "No one has called.  I have received no letter.  I'm wondering if I have been scammed into giving my personal information...[later in the day] I have just found 15 postcards in Chinese and 24 postcards in English in my mailbox concerning CalFr

[2015-07-02 19:20] lippytak commented on #129
REBECCA BACK!

[2015-07-03 04:00] daguar opened #307 "Schedule a call with Nicholas (Harvard) for brainstorming project ideas"
Some time next week if possible. He could get funding and do some small experiments, but wants to find something good.

One current interest that resonated a lot was decision fatigue. — What questions are the high mental-load/high-abandoment/problematic ones on an application? What does the "optimal" SNAP application's question set look like?

(Would be really interesting and awesomely complementa

[2015-07-03 17:22] daguar opened #308 "Document GCF business process"
I'll try to do a first v1 (highest ROI docs) stab, probably over in health notes.

[2015-07-04 13:56] lippytak commented on #292
Staff identified for case tracking. Angela presenting to Director then we'll add link and circulate flyer.

[2015-07-06 14:53] lippytak commented on #302
Still trying to get in touch with Intake specialist Stuart to talk about how interviews + verification submission works. Bleh.

[2015-07-06 19:58] daguar commented on #290
Let's consider making a hard ask around verifications — I'm not sure faxing is sustainable, and I think we should pave the road for a better way, even if it's just email for now.

[2015-07-06 23:25] lippytak commented on #288
# BG
5) Collect and document user feedback from both eligibility workers and CalFresh applicants on how these online tools have impacted the user experience of the enrollment process

6) Collect and document data on if these online tools have increased CalFresh enrollment in the two counties

## BLUF
- Huge potential to increase enrollment with a simple online application for CalFresh (but intervi

[2015-07-07 16:20] daguar commented on #204
Pinged again:

![screen shot 2015-07-07 at 9 19 51 am](https://cloud.githubusercontent.com/assets/994938/8551099/684798e6-2489-11e5-82a2-6988aedf7377.png)

[2015-07-07 17:49] lippytak commented on #288
Writing here: https://docs.google.com/document/d/1E35UnsxjsxSLu9KC_5L8o0C5OPwihVAfVXIgMY_Cg84/edit#

[2015-07-07 18:38] lippytak opened #309 "Do stuff for 2nd CDSS deliverable"
1) `(1) We've had no "scam" texts since that feature shipped` - is this still true?

2) Could you do me a solid and calculate the FTTR for me for balance?

3)DONE Data showing that clients want deposit alerts. Maybe # of checks/time of day to see the bump around midnight as clients wait for deposit? CHARTS!

4) @daguar can you help me find some quotes from clients who have said good things about b

[2015-07-07 19:08] lippytak commented on #309
added (3) above

[2015-07-07 22:03] lippytak commented on #292
Angela decided to review this with council and have us do confidentiality agreements before having the county officially endorse. Reasonable but it will take a bit more time.

[2015-07-07 22:21] daguar commented on #309
One answer:

(1) No, sadly — but the ones we've had are mostly now due to the Twilio downtime issues :/

[2015-07-07 22:48] lippytak commented on #309
Added (4) above

[2015-07-07 23:19] lippytak commented on #309
Added (5)

[2015-07-08 00:41] lippytak commented on #309
added 6

[2015-07-08 21:12] daguar commented on #309
Re (4): some Balance user quotes here https://github.com/codeforamerica/balance/issues/206#issue-47986878

Specifically:
"'And I was like FINALLY, FINALLY! It's so annoying to have to call every time and type in all those numbers. Now I just copy paste copy paste!'"
"'Time is money, you know?'"

Also this doc: https://docs.google.com/a/codeforamerica.org/spreadsheets/d/14Am0UUXrl6jY4H9ZgOnPBwcO0ax

[2015-07-08 21:39] daguar commented on #309
"very useful, quicker than getting on the phone and have to listen to people speaking, so much easier"
--> she found out about Balance doing her annual renewal and saw something popped up about texting (DG: I'm guessing this is the ad) and didn't know she could go online and check balance either but learned it at that point (but *hasn't gone online because texting is easier*)

^ this was in PA, bu

[2015-07-08 21:50] alanjosephwilliams commented on #295
@daguar the above solicitation is ready to ship.

In Front, I'm going to update the follow up copy to the following—feel free to suggest revision or wordsmithing:

"Got it! One question: did you know how to respond to this letter when you received it? We'll send your Amazon code in the next 1-2 days. Thanks for your help!"

[2015-07-08 21:59] alanjosephwilliams commented on #295
Note from IRL convo: let's consider another step of manual, ad-hoc follow up if valuable.

[2015-07-08 22:07] daguar commented on #295
Revised text is live on Balance!

[2015-07-08 22:07] alanjosephwilliams commented on #295
Revised "NOA Response" is live in Front.

[2015-07-08 22:17] alanjosephwilliams commented on #295
I'm actually going to update the NOA Response. Reviewing the responses to date, a significant number require no action. As a result, I want to update the language to "react", which encompasses both emotional responses and actions that can be taken.

"Got it! One question: how did you react to this letter when you received it? We'll send your Amazon code in the next 1-2 days. Thanks for your help!"

[2015-07-09 01:48] lippytak commented on #288
Draft email:

Jake and the Code for America Team

[2015-07-09 07:41] #288 closed

[2015-07-09 07:41] #309 closed

[2015-07-09 16:36] alanjosephwilliams commented on #288
:clap: :clap: :clap: